/*# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------*//* Using CSS3 for some visual enhancements.(Will be degraded nicely for non-CSS3 browsers.)-------------------------------------------------------------*//* ------------------- *//* -- usertools.css -- *//* ------------------- */#ja-cpanel {	box-shadow: 0 1px 5px rgba(0,0,0,.5);	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.5);	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);}a#ja-cpanel-toggle {	box-shadow: 0 1px 3px rgba(0,0,0,.5);	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);	text-shadow: 0 1px 1px rgba(0,0,0,.9);}#ja-cpanel-toggle.open {	box-shadow: none;	-moz-box-shadow: none;	-webkit-box-shadow: none;}.ja-cpanel-action {	box-shadow: 0 -1px 3px rgba(0, 0, 0, .5);	-moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, .5);	-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, .5);}.ja-cpanel-action a.button {	box-shadow: 0 0 3px rgba(0,0,0,.8);	-moz-box-shadow: 0 0 3px rgba(0,0,0,.8);	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.8);}.ja-cpanel-action a.button:hover {	box-shadow: none;	-moz-box-shadow: none;	-webkit-box-shadow: none;}