/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

body#bd .main {
	color: #000;
	font-size: 10pt;
	line-height: 1.5;
	margin: 0;
	margin: 1em 2em;
	width: auto; /* Printable Page */
}

/* Hide un-necessary elements ---*/
.ja-thumbnailwrap ul.nav, .ja-social-bookmarking {
	display: none;
}