/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

#ja-left .ja-l2 .ja-left1, #ja-left .ja-l2 .ja-left2,
#ja-right .ja-r2 .ja-right1, #ja-right .ja-r2 .ja-right2 { width: 49.99%; }

#ja-left .ja-l2 .ja-left2, #ja-right .ja-r2 .ja-right2 { float: right; }

.cols-2 .item { width: 49.99%; }
.cols-3 .item { width: 33.3%; }
.cols-4 .item { width: 24.99%; }
.cols-5 .item { width: 19.99%; }

/*
*html #ja-wrapper { margin-top: 205px; }
*/
/* clearfix ---*/
#ja-subnav ul, ul.pagination li span, ul.pagination a, #ja-footnav, 
.counter span, .contentdescription, .leading,
.column ul li, .ja-moduletable li, .ja-module li {
	zoom: 1;
}

#ja-footnav {
	width: 100%;
}

/* Typography ---*/
p.error, p.message, p.tips, p.rss, p.key, p.tag, p.cart, p.note, p.photo, p.doc, p.mobi,
p.blocknumber, div.bubble div.box-ct { zoom: 1; }

.bignumber-1, .bignumber-2, .bignumber-3 { line-height: 44px; }

/* Split Menu ---*/
#ja-subnav ul ul li.hover ul, #ja-subnav ul ul li:hover ul {
	margin-left: 6em;
}
