/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

/* NAVIGATION
--------------------------------------------------------- */
/* Breadcrumbs ---*/
.ja-breadcrums { direction: ltr; }

.ja-breadcrums a, 
.ja-breadcrums span.name, 
.ja-breadcrums strong { direction: rtl; }

/* Extras ---*/
.ja-links { float: left; direction: ltr; }
.ja-links a { direction: rtl; }

/* SPLIT + DROPLINE (Subnav)
----------------------------------------------------------- */
#jasdl-mainnav {
	zoom: 1;
}

#ja-subnav {
	direction: ltr;
}

#ja-subnav li li {
	direction: rtl;
}

#ja-subnav .inner {
	margin-right: 400px;
}

/* Sub Nav (lv2) ---*/
#ja-subnav ul, #ja-subnav ul li a { direction: rtl; }

#ja-subnav ul li{
	position: relative;
}

#ja-subnav ul li li{
	position: static;
}

#ja-subnav ul li ul {
	display: none;
}

#ja-subnav ul li.hover ul {
	right: 0 !important;
	display: block;
}

/* CSS + MOO
----------------------------------------------------------- */
#ja-cssmenu li ul {
	top: -999em;
	right: 0;
}

#ja-cssmenu li{
	position: relative;
	zoom: 1;
}

#ja-cssmenu li li{
	position: static;
}

#ja-cssmenu li:hover ul ul, #ja-cssmenu li:hover ul ul ul,
#ja-cssmenu li.sfhover ul ul, #ja-cssmenu li.havechildsfhover ul ul, #ja-cssmenu li.havechild-activesfhover ul ul, #ja-cssmenu li.activesfhover ul ul,
#ja-cssmenu li.sfhover ul ul ul, #ja-cssmenu li.havechildsfhover ul ul ul, #ja-cssmenu li.havechild-activesfhover ul ul ul, #ja-cssmenu li.activesfhover ul ul ul {
	top: -999em;
	right: 0;
}

#ja-cssmenu li:hover ul, #ja-cssmenu li li:hover ul, #ja-cssmenu li li li:hover ul,
#ja-cssmenu li.sfhover ul, #ja-cssmenu li.havechildsfhover ul, #ja-cssmenu li.havechild-activesfhover ul, #ja-cssmenu li.activesfhover ul,
#ja-cssmenu li li.sfhover ul, #ja-cssmenu li li.havesubchildsfhover ul, #ja-cssmenu li li.havesubchild-activesfhover ul, #ja-cssmenu li li.activesfhover ul,
#ja-cssmenu li li li.sfhover ul, #ja-cssmenu li li li.havesubchildsfhover ul, #ja-cssmenu li li li.havesubchild-activesfhover ul, #ja-cssmenu li li li.activesfhover ul {
	top: auto;
	right: 0;
}


/* MEGA MENU
----------------------------------------------------------- */
.megamenu li {
	zoom: 1;
}

.ja-megamenu li {
	position: relative;
}

.ja-megamenu li li {
	position: static;
}

.ja-megamenu .childcontent {
	right: 0 !important;
}

.ja-megamenu .childcontent .childcontent {
	right: auto !important;
}

/* Blockquote ---*/
blockquote span.open, blockquote span.close { zoom: 1; }

