/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

/*===========
template.css
=============*/

/* COMMON STYLE
--------------------------------------------------------- */
html { direction: rtl; }

th { text-align: right; }

a.readon {}

/* List ---*/
.ja-moduletable ul li,
.ja-module ul li,
.ja-content-main ul li {
	background-position: 97% 8px;
	padding-right: 30px;
	padding-left: 0;
}

.ja-moduletable ol li,
.ja-module ol li,
.ja-content-main ol li { margin-left: 0; margin-right: 30px; }

/* FORM
--------------------------------------------------------- */
/* Login ---*/
.login_form label,.form-register label,.user-details label {
	text-align: left;
	float: right;
}

.login_form .inputbox, .form-register .inputbox, .user-details .inputbox {
	margin-left: 0;
	margin-right: 10px;
}

.login_form .button, .form-register .button, .user-details .button {
	margin-left: 0;
	margin-right: 140px;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
/* Meta ---*/
dl.article-info { float: right; }

.article-info * { }

.createdate { padding-left: 5px; }

ul.actions { float: left; }

ul.actions li { padding: 0; }

ul.actions li img { margin: 0 5px 0 0; }

.contentpaneopen_edit {	float: right !important; }

.left img.caption, .left p.img_caption {}

.right img.caption, .left p.img_caption {}

/* Content Toc */
table.contenttoc { float: left; margin:0 12px 10px 0; }

/* Poll */
dl.poll dt, dl.poll dd { float: right; }

dl.poll dt { clear: right; text-align: left; margin-left: 5px;}

dl.poll dd { clear: left; }

table.pollstableborder { text-align: right; }

/* Pagination ---*/
.pagination ul { float: right; }

.pagination ul li { padding-right: 0; }

.counter { float: left; text-align: left; }

.ja-content-main fieldset.filters .filter-search,
.ja-content-main fieldset.filters .display-limit { float: right; }

.ja-content-main fieldset.filters .display-limit { float: left; text-align: left; }


/* MODULE STYLES
--------------------------------------------------------- */
/* Poll Module ---*/
form.poll input {
	float:right;
	margin-left: 3px;
}

form.poll br {
	clear: both;
}
 
form.poll .button { margin-right: 0; margin-left: 5px; }

/* Advertisement ---*/
div.bannergroup_text div.bannerfooter_text { text-align: left; }

/* text */
div.module_text span { float: right; }

/* Search Module ---*/
#ja-search {
	left: 0;
	right: auto;
}

/* Module list ---*/
div.ja-moduletable ul li, div.ja-module ul li {
	padding-left: 0;
	padding-right: 12px;
	background-position: right 8px;
}

/* Collapsible h3 ---*/
h3.show, h3.hide { background-position: 10px 60%; }

/* HEADER
--------------------------------------------------------- */
#ja-header .main { background-position: top left; }

h1.logo, div.logo-text { float: right; }

/* NAVIGATION
--------------------------------------------------------- */
/* Main Nav ---*/
span.has-image {
	padding-left: 0;
	padding-right: 25px;
	background-position: right 2px;
}

/* Sub Nav ---*/
#ja-subnav li {
	float: right;
}

#ja-subnav li.first-item {}

/* Sub Nav (lv2) ---*/
#ja-subnav ul li ul { display: none;}

#ja-subnav ul li.hover ul { left: auto; right: auto; display: block; }

#ja-subnav ul li.haschild a.haschild span.menu-title {
	background: url(../images/rtl/arrow.png) no-repeat right center;
	padding-right: 12px;
	padding-left: 0;
}

#ja-subnav ul li.haschild li.haschild a.haschild:hover span.menu-title { background-image: url(../images/rtl/arrow.png) }

#ja-subnav ul li.haschild li a, #ja-subnav ul li.hover li a { padding-left: 0; }

#ja-subnav ul li ul li { text-align: right; }

/* Sub Nav (lv3) ---*/
#ja-subnav ul ul li.hover ul, #ja-subnav ul ul li:hover ul {
	right: auto;
	margin: -1em 12em 0 0;
}

/* Breadcrumbs ---*/
.ja-breadcrums { text-align: right; float: right; margin-left: 0; }

.ja-breadcrums * { float: right; }

.ja-breadcrums img { display: none; }

.ja-breadcrums a { padding-left: 20px; background: url(../images/rtl/arrow.png) no-repeat 8px center; }

.ja-breadcrums span.name { padding-right: 2px; }

.ja-breadcrums strong { margin-right: 0; margin-left: 5px; }

/* Extras ---*/
.ja-links { float: left; }

.ja-links li.top a {}

/* Default Joomla! Menu ---*/
#ja-container ul.menu li ul { margin: 0 10px 0 0; }
#ja-container ul.menu li li {
	background-image: url(../images/rtl/arrow.png);
	background-position: right 12px;
}

/* SPOTLIGHT
--------------------------------------------------------- */
#ja-topsl li, #ja-botsl li {
	background-position: 99% 8px;
	padding-left: 0; 
	padding-right: 15px;
}

#ja-topsl ol li, #ja-botsl ol li { margin-left: 0; margin-right: 25px; }

/* FOOTER
--------------------------------------------------------- */
#ja-footer .main {}
#ja-footer .inner {}
#ja-footer small {}

/* Foot Links ---*/
#ja-footer .ja-footnav { }
.ja-footnav ul {}

/* MISCELLANOUS
----------------------------------------------------------- */

/*==========
menu/*.css
============*/

/* SPLIT + DROPLINE
----------------------------------------------------------- */
#ja-splitmenu li, #jasdl-mainnav li { float: right; }

/* CSS + MOO
----------------------------------------------------------- */
#ja-cssmenu { }

#ja-cssmenu li { float: right; }

#ja-cssmenu li li { padding: 0 0 0 1em; }

#ja-cssmenu li ul {
	left: auto;
	right: -999em;
}

#ja-cssmenu li:hover ul ul, #ja-cssmenu li:hover ul ul ul,
#ja-cssmenu li.sfhover ul ul, #ja-cssmenu li.havechildsfhover ul ul, #ja-cssmenu li.havechild-activesfhover ul ul, #ja-cssmenu li.activesfhover ul ul,
#ja-cssmenu li.sfhover ul ul ul, #ja-cssmenu li.havechildsfhover ul ul ul, #ja-cssmenu li.havechild-activesfhover ul ul ul, #ja-cssmenu li.activesfhover ul ul ul {
	left: auto;
	right: -999em;
}

#ja-cssmenu li:hover ul, #ja-cssmenu li li:hover ul, #ja-cssmenu li li li:hover ul,
#ja-cssmenu li.sfhover ul, #ja-cssmenu li.havechildsfhover ul, #ja-cssmenu li.havechild-activesfhover ul, #ja-cssmenu li.activesfhover ul,
#ja-cssmenu li li.sfhover ul, #ja-cssmenu li li.havesubchildsfhover ul, #ja-cssmenu li li.havesubchild-activesfhover ul, #ja-cssmenu li li.activesfhover ul,
#ja-cssmenu li li li.sfhover ul, #ja-cssmenu li li li.havesubchildsfhover ul, #ja-cssmenu li li li.havesubchild-activesfhover ul, #ja-cssmenu li li li.activesfhover ul {
	left: auto;
	right: auto;
}

#ja-cssmenu li ul ul {
	margin: -2em 14em 0 0; /* third-and-above-level lists */
}

#ja-cssmenu li.havesubchild,
#ja-cssmenu li.havesubchild-active {
	background-position: 6% 50%;
	background-image: url(../images/rtl/arrow.png);
}

/* MEGA MENU
----------------------------------------------------------- */
.ja-megamenu .megacol {
	float:right;
}

.ja-megamenu ul.level0 { }

.ja-megamenu ul.level0 li.mega { float: right; }

.ja-megamenu ul.level0 li.mega .has-image {
	padding-left: 0;
	padding-right: 25px;
	background-position: right top;
}

.ja-megamenu ul.level0 li.haschild a.mega span.menu-title,
.ja-megamenu ul.level0 li.haschild-over a.mega span.menu-title {
	background-position: right center;
	padding-left: 0;
	padding-right: 12px
}

.ja-megamenu ul.level0 li.haschild a.mega span.menu-desc,
.ja-megamenu ul.level0 li.haschild-over a.mega span.menu-desc {
	padding-left: 0;
	padding-right: 12px;
}

.ja-megamenu li.mega .childcontent,
.ja-megamenu li.haschild-over li.mega .childcontent,
.ja-megamenu li.mega li.haschild-over li.mega .childcontent ,
.ja-megamenu li.mega li.mega li.haschild-over li.mega .childcontent, 
.ja-megamenu li.mega li.mega li.mega li.haschild-over li.mega .childcontent, 
.ja-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .childcontent { left: auto; right: 999em; /*hide the menu*/ }

.ja-megamenu li.haschild-over .childcontent,
.ja-megamenu li.mega li.haschild-over .childcontent,
.ja-megamenu li.mega li.mega li.haschild-over .childcontent,
.ja-megamenu li.mega li.mega li.mega li.haschild-over .childcontent,
.ja-megamenu li.mega li.mega li.mega li.mega li.haschild-over .childcontent,
.ja-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .childcontent { right: auto; left: 0; /*show on parent:hover*/ }

.ja-megamenu li.mega .right,
.ja-megamenu li.haschild-over li.mega .right,
.ja-megamenu li.mega li.haschild-over li.mega .right ,
.ja-megamenu li.mega li.mega li.haschild-over li.mega .right, 
.ja-megamenu li.mega li.mega li.mega li.haschild-over li.mega .right, 
.ja-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .right { left: auto; /*hide the menu*/ }

.ja-megamenu li.haschild-over .right
{ left: 0; /*show on parent:hover*/ }
.ja-megamenu li.mega li.haschild-over .right,
.ja-megamenu li.mega li.mega li.haschild-over .right,
.ja-megamenu li.mega li.mega li.mega li.haschild-over .right,
.ja-megamenu li.mega li.mega li.mega li.mega li.haschild-over .right,
.ja-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .right 
{ left: 12em; /*show on parent:hover*/ }

.ja-megamenu ul.level1 li.mega { float: none; }

.ja-megamenu ul.level1 .childcontent { margin: -2em 140px 0 0; }

.ja-megamenu ul.level1 li.mega a.mega span.menu-title { padding-right: 0; }

.ja-megamenu ul.level1 li.haschild {
	background-position: 5% center;
	background-image: url(../images/rtl/arrow.png);
}

.ja-megamenu ul.level1 li.over, .ja-megamenu ul.level1 li.haschild-over {}

.ja-megamenu ul.level1 li.group { background: none; }

.ja-megamenu .childcontent .ja-moduletable li { background-position: right 7px !important; }