#lightwindow_overlay {
display:none;
visibility:hidden;
position:absolute;
top:0;
left:0;
width:100%;
height:100px;
z-index:500;
}

#lightwindow {
display:none;
visibility:hidden;
position:absolute;
z-index:999;
line-height:0;
}

#lightwindow_container {
display:none;
visibility:hidden;
position:absolute;
margin:0;
padding:0;
}

* html #lightwindow_container {
overflow:hidden;
}

#lightwindow_contents {
overflow:hidden;
z-index:0;
position:relative;
border:10px solid #fff;
background-color:#fff;
}

#lightwindow_loading {
height:100%;
width:100%;
top:0;
left:0;
z-index:9999;
position:absolute;
background-color:#f0f0f0;
padding:10px;
}

#lightwindow_loading span {
font-size:12px;
line-height:32px;
color:#444;
float:left;
padding:0 10px 0 0;
}

#lightwindow_loading span a,#lightwindow_loading span a:link,#lightwindow_loading span a:visited {
color:#09F;
text-decoration:none;
cursor:pointer;
}

#lightwindow_loading span a:hover,#lightwindow_loading span a:active {
text-decoration:underline;
}

#lightwindow_loading img {
float:left;
margin:0 10px 0 0;
}

#lightwindow_navigation {
position:absolute;
top:0;
left:0;
display:none;
}

#lightwindow_navigation a,#lightwindow_navigation a:link,#lightwindow_navigation a:visited,#lightwindow_navigation a:hover,#lightwindow_navigation a:active {
outline:none;
}

#lightwindow_previous,#lightwindow_next {
width:49%;
height:100%;
display:block;
}

#lightwindow_previous {
float:left;
left:0;
}

#lightwindow_next {
float:right;
right:0;
}

#lightwindow_previous:hover,#lightwindow_previous:active {
background:url(images/prevlabel.gif) left 15% no-repeat;
}

#lightwindow_next:hover,#lightwindow_next:active {
background:url(images/nextlabel.gif) right 15% no-repeat;
}

#lightwindow_previous_title,#lightwindow_next_title {
display:none;
}

#lightwindow_galleries {
width:100%;
position:absolute;
z-index:50;
display:none;
overflow:hidden;
bottom:0;
left:0;
margin:0 0 0 10px;
}

#lightwindow_galleries_tab_container {
width:100%;
height:0;
overflow:hidden;
}

a#lightwindow_galleries_tab,a:link#lightwindow_galleries_tab,a:visited#lightwindow_galleries_tab {
display:block;
height:20px;
width:77px;
float:right;
line-height:22px;
text-decoration:none;
font-weight:700;
cursor:pointer;
font-size:11px;
color:#ffffbe;
background:url(images/black-70.png) repeat 0 0 transparent;
}

a:hover#lightwindow_galleries_tab,a:active#lightwindow_galleries_tab {
color:#ffffbe;
}

#lightwindow_galleries_tab_span {
display:block;
height:20px;
width:63px;
padding:0 7px;
}

#lightwindow_galleries_tab .up {
background:url(images/arrow-up.gif) no-repeat 60px 5px transparent;
}

#lightwindow_galleries_tab .down {
background:url(images/arrow-down.gif) no-repeat 60px 6px transparent;
}

#lightwindow_galleries_list {
background:url(images/black-70.png) repeat 0 0 transparent;
overflow:hidden;
height:0;
}

.lightwindow_galleries_list {
width:200px;
float:left;
margin:0 0 10px;
padding:10px;
}

.lightwindow_galleries_list h1 {
color:#09F;
text-decoration:none;
font-weight:700;
cursor:pointer;
font-size:16px;
padding:10px 0 5px;
}

.lightwindow_galleries_list li {
list-style-type:none;
margin:5px 0;
}

.lightwindow_galleries_list a,.lightwindow_galleries_list a:link,.lightwindow_galleries_list a:visited {
display:block;
line-height:22px;
color:#fff;
text-decoration:none;
font-weight:700;
cursor:pointer;
font-size:11px;
padding:0 0 0 10px;
}

.lightwindow_galleries_list a:hover,.lightwindow_galleries_list a:active {
background:#000;
color:#ffffbe;
border-left:3px solid #ffffbe;
padding:0 0 0 7px;
}

#lightwindow_data {
position:absolute;
}

#lightwindow_data_slide {
position:relative;
}

#lightwindow_data_slide_inner {
background-color:#fff;
padding:0 10px 10px;
}

#lightwindow_data_caption {
color:#666;
line-height:25px;
background-color:#fff;
clear:both;
font-size:13px;
padding:10px 0 0;
}

#lightwindow_data_details {
background-color:#f0f0f0;
height:20px;
padding:0 10px;
}

#lightwindow_data_author_container {
width:40%;
text-align:right;
color:#666;
font-style:italic;
font-size:10px;
line-height:20px;
float:right;
overflow:hidden;
}

#lightwindow_data_gallery_container {
font-size:10px;
width:40%;
text-align:left;
color:#666;
line-height:20px;
float:left;
overflow:hidden;
}

#lightwindow_title_bar {
height:25px;
overflow:hidden;
}

#lightwindow_title_bar_title {
color:#ffffbe;
font-size:14px;
line-height:25px;
text-align:left;
float:left;
}

a#lightwindow_title_bar_close_link,a:link#lightwindow_title_bar_close_link,a:visited#lightwindow_title_bar_close_link {
float:right;
text-align:right;
cursor:pointer;
color:#ffffbe;
line-height:25px;
margin:0;
padding:0;
}

a:hover#lightwindow_title_bar_close_link,a:active#lightwindow_title_bar_close_link {
color:#fff;
}

#lightwindow p {
color:#000;
padding-right:10px;
}

#lightwindow a {
margin:0;
}

#lightwindow_loading_shim,#lightwindow_navigation_shim {
display:none;
left:0;
position:absolute;
top:0;
width:100%;
height:100%;
}

* html #lightwindow_previous,* html #lightwindow_next {
width:49%;
height:100%;
background:transparent url(images/blank.gif) no-repeat;
display:block;
}

* html a#lightwindow_galleries_tab,* html a:link#lightwindow_galleries_tab,* html a:visited#lightwindow_galleries_tab,* html #lightwindow_galleries_list {
background:none;
background-color:#000;
opacity:.70;
filter:alpha(opacity=70);
}