#jasdl-mainnav li a { color: #fff; }

#jasdl-mainnav li.active a { background: #fff; color: #333; }

#jasdl-mainnav li a:hover,
#jasdl-mainnav li a:focus,
#jasdl-mainnav li a:active { background: #2f6c45; color: #fff; } 

/* Sub Nav ---*/
#ja-subnav { background-color: #fff; background-image: url(../../images/subnav-bg.gif); }

#ja-subnav ul li a { color: #666; }

#ja-subnav ul li a:hover,
#ja-subnav ul li a:focus,
#ja-subnav ul li a:active {
	color: #3A9B5C;
}

/* Sub Nav (lv2) ---*/
#ja-subnav ul li ul { background: #F6F6F6; border: 1px solid #ccc; }

#ja-subnav ul li ul li { border-top: 1px solid #ccc; }