#ja-splitmenu li a { color: #fff; }

#ja-splitmenu li.active a { background: #fff; color: #333; }

#ja-splitmenu li a:hover,
#ja-splitmenu li a:focus,
#ja-splitmenu li a:active { background: #2f6c45; color: #fff; } 

/* Sub Nav ---*/
#ja-subnav { background: url(../../images/subnav-bg.gif) repeat-x left bottom #fff; }

#ja-subnav ul li a { color: #666; }

#ja-subnav ul li a:hover,
#ja-subnav ul li a:focus,
#ja-subnav ul li a:active { color: #3A9B5C; }

/* Sub Nav (lv2) ---*/
#ja-subnav ul li ul {
	background: #F6F6F6;
	border: 1px solid #ccc;
}

#ja-subnav ul li ul li { border-top: 1px solid #ccc; }