.moduletablecooper .ja-slidewrap {
	margin: 0;
	padding: 0;
	position: relative;
	border:none
}

.moduletablecooper .ja-slide-main-wrap {
	position: relative;
	overflow: hidden;
}

.moduletablecooper .ja-slide-main {
	position: absolute;
	z-index: 1;
}

.moduletablecooper .ja-slide-item {
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 0;
}

.moduletablecooper .ja-slide-item img {
	border: 10px solid #181818;
}

.moduletablecooper .ja-slide-thumbs-wrap {
	float: left;
	overflow: hidden;
	position: relative;
	clear:none
}

.moduletablecooper .ja-slide-descs {
	display: none;	
}

.moduletablecooper .ja-slide-thumbs-handles {
	position: absolute;
	top: 0;
	left: 0;
}

.moduletablecooper .ja-slide-thumb,.moduletablecooper  .ja-slide-thumbs-handles span {
	background: url(images/toolbar-sep.gif) no-repeat left top;
	cursor: pointer;
	color: #333333;
	display: block;
	font-size: 120%;
	font-weight: bold;
	float: left;
	margin: 0;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}

.moduletablecooper div.ja-slide-thumbs-wrap {
	color: #FFFFFF;
}

.moduletablecooper div.ja-slide-thumbs .active {
	color: #FFFFFF;
}

.moduletablecooper .maskDesc {
	display: block;
	position: absolute;
	z-index: 8;
	cursor: pointer;
}

.moduletablecooper .maskDesc .ja-slide-desc {
	padding: 0 40px 20px 650px;
	color: #CCCCCC;
	font-size: 100%;
}

.moduletablecooper .maskDesc .ja-slide-desc br {
	display: none;
}

.moduletablecooper .maskDesc .ja-slide-desc h3 {
	color: #CCCCCC;
	font-size: 160%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.moduletablecooper .maskDesc a.readon {
	background: url(images/but-readon.gif) no-repeat left top;
	width: 103px;
	height: 24px;
	text-indent: -5000px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	outline: none;
}

.moduletablecooper .maskDesc a.readon:hover, .moduletablecooper .maskDesc a.readon:active,.moduletablecooper  .maskDesc a.readon:focus {}

.moduletablecooper .ja-slide-buttons {
	position: absolute;
	bottom: 40px;
	right: 60px;
	z-index: 900;
}

.moduletablecooper .ja-slide-buttons span {
	cursor: pointer;
	display: block;
	float: left;
	margin-right: 5px;
	padding: 2px 5px;
}

.moduletablecooper div.ja-slide-playback,
.moduletablecooper div.ja-slide-next {
	background: url(images/toolbar-sep.gif) no-repeat left top;
	cursor: pointer;
	color: #333333;
	font-size: 120%;
	font-weight: bold;
	float: left;
	margin: 0;
	padding: 0 10px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}

.moduletablecooper div.ja-slide-playback:hover,
.moduletablecooper div.ja-slide-next:hover {
	color: #666666;
}

.moduletablecooper .ja-slide-thumbs-mask {
	display: none;
}
.ja-slidewrapcooper,.moduletablecooper .ja-box-ct,
.moduletablecooper{
	background:url("images/botsl-bg.gif") repeat scroll 0 0 transparent;
	padding:20px 0 0;
	z-index:8;
}