#jainfo-info-table-error-box{
	padding: 3px; 
	width: 380px;
	background: #FF9C2A;
}

.jainfo-pos-modules{
	#height: 100%;
}
/* Block Info ---*/
.jainfo-block-overlay-title {
	background: #cacccd;	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 401;
	text-align: center;
	color: #000;
	padding: 3px 0;
	font: bold 14px/normal Arial,sans-serif;
	text-transform: none;
}

.jainfo-block:hover .jainfo-block-overlay-title,
.jainfo-block.hover .jainfo-block-overlay-title {
	background: #069;
	color: #fff;
}

.jainfo-block:hover .jainfo-block-overlay-border,
.jainfo-block.hover .jainfo-block-overlay-border {
	border: 3px solid #069;
}

.jainfo-block-overlay {	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 400;
	background: url(trans-bg.png);
}

.jainfo-block-overlay-border {
	border: 3px solid #cacccd;
}

/* Module Info ---*/
.jainfo-module-overlay-title {
	background: #999;	
	position: absolute;
	top: 0;
	left: 0;	
	z-index: 801;
	margin: 0;
	padding: 3px 5px;
	color: #fff;
	font: bold 14px/normal Arial,sans-serif;
	text-transform: none;
}

.jainfo-module-overlay {	
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	z-index: 800;
	opacity: .4;
}

.jainfo-module-overlay-border {
}

/* Toggle Content View ---*/
body.jainfo-nocontent .jainfo-block * {
	visibility: hidden;
}

body.jainfo-nocontent .jainfo-block .jainfo-module-overlay-title,
body.jainfo-nocontent .jainfo-block .jainfo-module-overlay,
body.jainfo-nocontent .jainfo-block .jainfo-module-overlay-border,
body.jainfo-nocontent .jainfo-block .jainfo-block-overlay-title,
body.jainfo-nocontent .jainfo-block .jainfo-block-overlay,
body.jainfo-nocontent .jainfo-block .jainfo-block-overlay-border {
	visibility: visible;
}

body.jainfo-nocontent .jainfo-module-overlay,
body.jainfo-nocontent .jainfo-block-overlay {
	opacity: 1;
}

body.jainfo-nocontent .jainfo-block-overlay {
	background: #efefef;
}

body.jainfo-nocontent .jainfo-module-overlay-border {
	margin: 3px;
	background: #d9e8f0;
}

/* Module Info Hover ---*/
.jainfo-pos-modules:hover .jainfo-module-overlay-title {
	background: #333;
}

.jainfo-pos-modules:hover .jainfo-module-overlay {
	opacity: 1;
}

.jainfo-pos-modules:hover .jainfo-module-overlay-border {
	border: 3px solid #333;
}

.jainfo-pos-component:hover .jainfo-module-overlay-title {
	background: #333;
}

.jainfo-pos-component:hover .jainfo-module-overlay {
	opacity: 1;
}

.jainfo-pos-component:hover .jainfo-module-overlay-border {
	border: 3px solid #333;
}

body.jainfo-nocontent .jainfo-pos-modules:hover .jainfo-module-overlay-border {
	margin: 0;
}

/*Info Table ---*/
.jainfo-info-table {			
	width: 450px;	
	background: #ffffa3;
	color: #000;
	font: 12px/normal Arial,sans-serif;
	position: fixed;
	top: 5px;
	left: 5px; 
	z-index: 8888;
	border: 1px solid #ffd175;
	border-bottom: 0;
	opacity: .95;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, .35);
	-moz-box-shadow: 1px 3px 5px rgba(0, 0, 0, .35);
	-webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, .35);
	text-shadow: 0 1px 0 rgba(255,255,255,.95);
}

#jainfo-info-table-title {
	background: #ffd175;
	text-indent: 10px;
	padding: 5px 0;
	font-weight: bold;
}

#jainfo-info-table-options {
	padding: 5px;
	cursor: all-scroll;
}

#jainfo-info-table-options a {
	display: inline-block;
	color: #999;
	padding: 2px 10px;
	margin: 0 10px 0 5px;
	background: #dedede;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-shadow: none;
}

#jainfo-info-table-options a:hover {
	text-decoration: none;
	background: #cacccd;
	color: #000;
}

#jainfo-info-table-options a:focus,
#jainfo-info-table-options a:active {
	text-decoration: none;
}

#jainfo-info-table-options a.jainfo-opt-on {
	background: #333;
	color: #fff;
}

#jainfo-info-table-options a.jainfo-opt-on:hover {
	background: #dedede;
	color: #999;
}

.jainfo-info-table-row {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ffd175;
}

.jainfo-info-table-row-title {
	float: left;
	width: 120px;
	text-indent: 10px;
	padding: 5px 0;
	background: #fff094;	
}

.jainfo-info-table-row-data {
	float: left;
	width: 320px;
	text-indent: 10px;
	padding: 5px 0;
	border-left: 1px solid #ffd175;
}

.jainfo-info-table-row-data ul {
	margin: 0;
	padding: 0;
}

.jainfo-info-table-row-data ul li {
	margin: 0 8px 0 0;
	padding: 0;
	display: inline;
}

/* Common style for Rounded Tags --- */
span.tag-rounded {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px; 
}

.ja-module-tag {
	margin-right: 5px;
	padding: 2px 5px;
	background: #cacccd;
	color: #333;
	text-shadow: 0 1px 1px #fff;
}

.ja-module-tag.hover {
	background: #333;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}

.ja-module-tag.no-content {
	background: #efefef;
	color: #cacccd;
	text-shadow: 0 1px 1px #fff;
}

/* Toggle Info Table Button ---*/
#jainfo-table-toggle-but {
	position: absolute;
	top: 7px;
	right: 30px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	text-indent: -50000px;
	background: url(toggle-btn.png) no-repeat bottom;
	opacity: .35;
}

#jainfo-table-toggle-but:hover {
	opacity: 1;
}

/* Close Info Table Button ---*/
#jainfo-table-close-but {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	text-indent: -50000px;
	background: url(close-btn.png) no-repeat top;
	opacity: .35;
}

#jainfo-table-close-but:hover {
	opacity: 1;
}

/* Info Table Compact ---*/
.jainfo-table-compact {
	width: 50px;
	height: 22px;	
	background: #ffffa3;
	opacity: .95;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, .35);
	-moz-box-shadow: 1px 3px 5px rgba(0, 0, 0, .35);
	-webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, .35);
	text-shadow: 0 1px 0 rgba(255,255,255,.95);
	border-bottom: 1px solid #ffd175;
}
.jainfo-table-compact #jainfo-info-table-error-box,
.jainfo-table-compact #jainfo-info-table-title,
.jainfo-table-compact #jainfo-info-table-content,
.jainfo-table-compact #jainfo-info-table-options {
	display: none;
}

.jainfo-table-compact #jainfo-table-toggle-but {
	display: block !important;
	top: 3px;
	right: 28px;
	background-position: top;
}

.jainfo-table-compact #jainfo-table-close-but {
	display: block !important;
	top: 3px;
	right: 5px;
}

/* Fixed for T3 Blank ----*/
.jainfo-block #ja-footer .ja-footnav {
	overflow: visible;
}