

		/* Darkbox */
		.darkbox-frame {
			position:fixed;
			top:0;
			left:0;
			display:none;
			overflow:hidden;
			width:100%;
			height:100%;
			z-index:999;
			}
		.darkbox-frame-on {
			display:block;
			}

		/* Shadow */
		.darkbox-shadow {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:#000;
			opacity:0;
			}

		/* Canvas */
		.darkbox-canvas {
			position:absolute;
			top:50%;
			left:50%;
			overflow:hidden;
			margin:-40px 0 0 -40px;
			width:80px;
			height:80px;
			background:#000 url(spinner.gif) 50% 50% no-repeat;
			-webkit-border-radius:15px;
			-moz-border-radius:15px;
			border-radius:15px;
			opacity:.5;
			}
			.darkbox-canvas IMG {
				display:block;
				visibility:hidden;
				}
		.darkbox-canvas-load {
			background-image:none;
			-webkit-border-radius:0;
			-moz-border-radius:0;
			border-radius:0;
			}
		.darkbox-canvas-done {
			overflow:visible;
			opacity:1;
			}
			.darkbox-canvas-done IMG {
				visibility:visible;
				opacity:0;
				}

		/* Button */
		.darkbox-button {
			position:absolute;
			top:-13px;
			display:none;
			width:30px;
			height:30px;
			background:url(button.png) no-repeat;
			cursor:pointer;
			z-index:1;
			}
		.darkbox-button-on {
			display:block;
			}
		.darkbox-button-left {
			left:-16px;
			}
		.darkbox-button-right {
			right:-16px;
			}