@charset "utf-8";
/* CSS Document */
#ja-diff-toolbar {text-align:right; padding:5px;}
#ja-diff-toolbar a.close{font-size:12px; font-weight:bold;}
#ja-diff-viewer {font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console",Monaco,"Courier New",Courier,monospace;}
#diffviewer-side-left{float:left; width:49%; height:600px; overflow:auto; border:1px #CCC solid; padding:5px 2px;}
#diffviewer-side-right{float:right; width:49%; height:600px; overflow:auto; border:1px #CCC solid; padding:5px 2px;}
#diffviewer-side-left .title, #diffviewer-side-right .title{background:#EEE; padding:2px; font-weight:bold; margin:0px 0px 10px 0px;}
#diffviewer-side-left .title em, #diffviewer-side-right .title em{font-weight:normal; color:#CC0000; padding:3px 0px; white-space:nowrap;}
#diffviewer-side-left .title a.disabled, #diffviewer-side-right .title a.disabled{color:#AAAAAA;}

#diffviewer-side-left pre, #diffviewer-side-right pre{margin:1px 0px;}
#diffviewer-side-left pre .content, #diffviewer-side-right pre .content{padding:0px 0px 0px 5px;}
#ja-diff-viewer .copyToLeft{background:url("images/arrow-left.gif") center center no-repeat; width:10px; padding:0px 5px; cursor:pointer;}
#ja-diff-viewer .copyToLeftDisabled{background:url("images/arrow-left-disabled.gif") center center no-repeat; width:10px; padding:0px 5px; cursor:pointer;}
#ja-diff-viewer .copyToRight{background:url("images/arrow-right.gif") center center no-repeat; width:10px; padding:0px 5px; cursor:pointer;}
#ja-diff-viewer .copyToRightDisabled{background:url("images/arrow-right-disabled.gif") center center no-repeat; width:10px; padding:0px 5px; cursor:pointer;}
#ja-diff-viewer .copyJoin{background:url("images/join.gif") center center no-repeat; width:10px; padding:0px 5px;}
#ja-diff-viewer .copyJoinBottom{background:url("images/joinbottom.gif") center center no-repeat; width:10px; padding:0px 5px;}

#ja-diff-viewer .blank .content{background:white;white-space:nowrap;}
#ja-diff-viewer .new .content{color:#0B55CB;white-space:nowrap;}
#ja-diff-viewer .nochange .content{color:#666666;white-space:nowrap;}
#ja-diff-viewer .removed .content{color:#FF0000;white-space:nowrap;}
#ja-diff-viewer .modified .content{color:#FF6C00;white-space:nowrap;}
#ja-diff-viewer .noexists{background:#EEE;white-space:nowrap;}
#ja-diff-viewer .active{background:#BDD1F2;}
/*#ja-diff-viewer .active .content{color:#FFFFFF;}*/
#ja-diff-viewer .blank .line, 
#ja-diff-viewer .new .line, 
#ja-diff-viewer .nochange .line, 
#ja-diff-viewer .removed .line, 
#ja-diff-viewer .modified .line {background:#7DC621; color:#F0F0F0; padding:2px;}
#ja-diff-viewer .noexists .line{background:#AB5858; color:#F0F0F0; padding:2px;}

#diff-view-mode {
	background:url("images/line-numbers.png") no-repeat scroll 0 0 transparent;
	font-family:monospace;
	font-size:13px;
	line-height:16px;
	padding-left:30px;
	padding-top:11px;
	white-space:nowrap;
}
#diff-view-mode pre, #diff-view-mode pre code {margin:0px; padding:0px;}


#txtSource{height:460px; white-space:nowrap;}
textarea.ja-editor-code {
	background:url("images/line-numbers.png") no-repeat scroll 0 0 transparent;
	font-family:monospace;
	font-size:13px;
	line-height:16px;
	padding-left:30px;
	padding-top:11px;
	width:90%;
}

