/*
# ------------------------------------------------------------------------
# JA Tabs Plugins for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

.community3 .ja-tabswrap { border: 1px solid #CCCCCC; }

.community3 .ja-tabswrap div.ja-tab-content { width: 95%; }

/* JA Tabs top*/
.community3 .ja-tabs-title-top {
	background: url(tabstop-bar.gif) no-repeat right top;
	height: 32px !important;
	position: relative;
}

.community3 .ja-tabs-title-top ul.ja-tabs-title {
	background: url(tabstop-bar.gif) no-repeat left top;
	padding-left: 5px;
}

.community3 .ja-tabs-title-top ul.ja-tabs-title li {
	background: url(tabtop-l.png) no-repeat left top;
	font-size: 92%;
	margin: 3px 3px 0 0;
	padding: 0 0 0 10px;
}

.community3 .ja-tabs-title-top ul.ja-tabs-title li h3 {
	background: url(tabtop-r.png) no-repeat right top;
	border: 0;
	font-size: 100%;
	font-weight: bold !important;
	line-height: 29px;
	margin: 0;
	padding: 0 15px 0 5px;
	color: #999999;
	overflow: hidden;
}

.community3 .ja-tabs-title-top ul.ja-tabs-title li.hover,
.community3 .ja-tabs-title-top ul.ja-tabs-title li.firsthover,
.community3 .ja-tabs-title-top ul.ja-tabs-title li.lasthover {
}

.community3 .ja-tabs-title-top ul.ja-tabs-title li.active,
.community3 .ja-tabs-title-top ul.ja-tabs-title li.firstactive,
.community3 .ja-tabs-title-top ul.ja-tabs-title li.lastactive {
	background: url(tabtop-active-l.png) no-repeat left top;
}

.community3 .ja-tabs-title-top ul li.active h3,
.community3 .ja-tabs-title-top ul li.firstactive h3,
.community3 .ja-tabs-title-top ul li.lastactive h3 {
	background: url(tabtop-active-r.png) no-repeat right top !important;
	color: #8b8077;
}

/* JA Tabs left*/
.community3 .ja-tabs-title-left {
	position: relative;
	float: left;	
	height: 100%;
	background: url(17pxblank.gif) repeat-y right #F7F7F7;
}

.community3 .ja-tabs-title-left ul.ja-tabs-title li {
	height: 100%;
	margin: 0 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
	background: none;
}

.community3 .ja-tabs-title-left ul.ja-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 30px;
	margin: 0;
	padding: 0 10px;
	background: none;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.community3 .ja-tabs-title-left ul li.active,
.community3 .ja-tabs-title-left ul li.firstactive,
.community3 .ja-tabs-title-left ul li.lastactive {
	background: url(left-active.gif) no-repeat right #FFFFFF;
}

.community3 .ja-tabs-title-left ul li.active H3 ,
.community3 .ja-tabs-title-left ul li.firstactive H3,
.community3 .ja-tabs-title-left ul li.lastactive H3 {
	color: #333333;
}


/* JA Tabs right*/
.community3 .ja-tab-panels-right .ja-tab-subcontent { padding-left: 15px !important; }

.community3 .ja-tabs-title-right { background: url(17pxblank2.gif) repeat-y left #F7F7F7; }

.community3 .ja-tabs-title-right ul.ja-tabs-title li {
	background: url(tabtop-bg.png) no-repeat left top;
	height: 100%;
	margin: 0 0 0 1px;
	padding: 0 0 0 10px;
	cursor: pointer;
	display: block;
}

.community3 .ja-tabs-title-right ul.ja-tabs-title li h3 {
	background: url(tabtop-bg.png) no-repeat right top;
	font-size: 11px;
	font-weight: bold !important;
	line-height: 29px;
	margin: 0;
	padding: 0 10px 0 0;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.community3 .ja-tabs-title-right ul li.active,
.community3 .ja-tabs-title-right ul li.firstactive,
.community3 .ja-tabs-title-right ul li.lastactive {
	background: url(right-active.gif) no-repeat left #FFFFFF;
}

.community3 .ja-tabs-title-right ul li.active h3 ,
.community3 .ja-tabs-title-right ul li.firstactive h3,
.community3 .ja-tabs-title-right ul li.lastactive h3 {
	color: #333333;
}

/* JA Tabs bottom*/
.community3 .ja-tabs-title-bottom {
	height: 30px;
	border-top: 1px solid #CCCCCC;
	position: relative;
	width: 100%;
}

.community3 .ja-tabs-title-bottom ul.ja-tabs-title li {
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	margin-left: 5px;
	margin-top: -1px;
}

.community3 .ja-tabs-title-bottom ul.ja-tabs-title li h3 {
	font-size: 100%;
	font-weight: bold !important;
	line-height: 28px;
	margin: 0;
	padding: 0 10px;
	border: 1px solid #F7F7F7;
	color: #999999;
	border-top: none;
}

.community3 .ja-tabs-title-bottom ul.ja-tabs-title li.hover,
.community3 .ja-tabs-title-bottom ul.ja-tabs-title li.firsthover,
.community3 .ja-tabs-title-bottom ul.ja-tabs-title li.lasthover {
}

.community3 .ja-tabs-title-bottom ul.ja-tabs-title li.active,
.community3 .ja-tabs-title-bottom ul.ja-tabs-title li.firstactive,
.community3 .ja-tabs-title-bottom ul.ja-tabs-title li.lastactive {
	background: #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.community3 .ja-tabs-title-bottom ul li.active h3 ,
.community3 .ja-tabs-title-bottom ul li.firstactive h3,
.community3 .ja-tabs-title-bottom ul li.lastactive h3 {
	color: #333333;
}