/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

body#bd { font-size: 16px; }

body[orient="portrait"] > #ja-wrapper { min-height: 424px; }
body[orient="landscape"] > #ja-wrapper { min-height: 320px; }

body.iphone a.ip-button {
	color: #fff !important;
	border: 1px solid #333;
	background: url(../../images/iphone/grad-d2.gif) repeat-x bottom #5d5d5d;
	display: block;
	float: left;
	padding: 5px 10px;
	font-size: 10pt;
	-webkit-border-radius: 5px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
	max-width: 50px;
	text-decoration: none;
}

body.iphone a.ip-button:hover,
body.iphone a.ip-button:focus,
body.iphone a.ip-button:active {
	text-decoration: none;
}

/* NAVIGATION + TOOLBAR
--------------------------------------------------------- */
body.iphone #ja-mainnav { padding: 0; text-align: left; z-index: 100; }

body.iphone #ja-toolbar-top, body.iphone #ja-toolbar-title {
	background: url(../../images/iphone/grad-d1.gif) repeat-x bottom #666;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	height: 42px;
	text-shadow: #000 0 -1px 1px;
}

body.iphone #ja-toolbar-title span, body.iphone #ja-toolbar-top span { line-height: 42px; max-width: 200px; }

body.iphone #ja-toolbar-title a, body.iphone #ja-toolbar-top a { margin-top: 8px; }

/* Toolbar Top ---*/
body.iphone #ja-toolbar-top { padding: 0 0.5em; }

body.iphone #ja-toolbar-top a.button-search,
body.iphone #ja-toolbar-top a.button-login,
body.iphone #ja-toolbar-top a.button-search,
body.iphone #ja-toolbar-top a.button-switchlayout {
	float: right;
	margin-left: 15px;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -999%;
	padding: 0;
	width: 24px;
	height: 24px;
}

body.iphone #ja-toolbar-top a.button-search { background-image: url(../../images/iphone/but-search.png); }
body.iphone #ja-toolbar-top a.button-login { background-image: url(../../images/iphone/but-login.png); }
body.iphone #ja-toolbar-top a.button-switchlayout { background-image: url(../../images/iphone/but-switchlayout.png); }

body.iphone a.button-back {float: left;}
body.iphone a.button-close { float: right; }

/* Toolbar Main---*/
body.iphone #ja-toolbar-main { position: absolute; top: 0; left: 0px; overflow: hidden; height: 0; width: 100%; background: #fff; }
body.iphone #ja-toolbar-wrap { position: relative;}

/* Toolbar Title ---*/
body.iphone #ja-toolbar-title { width: 100%; display: block; }

/* Toolbox */
body.iphone .toolbox { position: absolute; top: 42px; left: 0px; display: block; width: 100%; border-bottom: 5px solid #333; }

/* Overlay */
body.iphone #ja-overlay { position: absolute; top: 0; left: 0; width: 100%; display: none; z-index: 99; background: #000; opacity: 0.6;}

/* Menu */
body.iphone #ja-toolbar-main ul li {
	border-bottom: 1px solid #ddd;
	position: relative;
}

body.iphone #ja-toolbar-main ul li a {
	padding: 0.8em 0 !important;
	font-weight: bold;
	font-size: 18px;
	width: 100%;
	display: block;
	text-indent: .5em;
	text-decoration: none;
}

body.iphone #ja-toolbar-main ul li a:hover,
body.iphone #ja-toolbar-main ul li a:active,
body.iphone #ja-toolbar-main ul li a:focus {
	text-decoration: none;
}

body.iphone #ja-toolbar-main ul li.active a {
	background: #666;
	color: #fff;
}

body.iphone #ja-toolbar-main ul li a.ja-folder {
	background: url(../../images/iphone/arrow-iphonenav.png) no-repeat center;
	width: 42px;
	height: 42px;
	display: block;
	position: absolute;
	top: 2px;
	right: 0;
	text-indent: -999%;
	padding: 0 !important;
}

body.iphone #ja-toolbar-main ul li span.has-image { overflow: visible !important; }

/* Search */
body.iphone #ja-search {
	float: none;
	width: 100%;
	text-align: center;
	position: relative;
	top: 5px;
	margin: 0;
	padding: 5px 0;
}

body.iphone #ja-search .inputbox { width: 90%; font-size: 12pt; padding-top: 4px; padding-bottom: 4px; }

/* Login */
body.iphone #ja-login { float: none; width: 100%; margin: 0; padding: 5px 0; }

body.iphone #ja-login form { padding: 0 .5em; }

body.iphone #ja-login p { font-size: 12pt; line-height: 2em; margin-bottom: 5px; }

body.iphone #ja-login .inputbox { font-size: 12pt; width: 90%; padding-top: 4px; padding-bottom: 4px; }
body.iphone #ja-login .button { padding: 4px 10px; margin-top: 5px; float: left; }

body.iphone #ja-login ul li { border: 0; background-position: 5px 5px !important; display: inline; }

body.iphone #ja-login ul li a {
	padding: 0 0 0 5px !important;
	font-weight: bold;
	font-size: 10pt;
	width: auto;
	display: inline;
	font-weight: normal;
	line-height: 2em;
}

body.iphone #ja-login p#form-login-remember {
	float: left;
	padding-right: 10px;
	margin-top: 3px;
}

body.iphone #ja-login ul li a:hover,
body.iphone #ja-login ul li a:active,
body.iphone #ja-login ul li a:focus {
	background: none;
	text-decoration: underline;
}

/* Clean style from outside addons ---*/
body.iphone #ja-zinwrap .ja-zinsec h2 a { text-shadow: 0 -1px 0 rgba(0,0,0,.8); font-weight: bold; }