/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
.main { width: 100%; margin: 0 auto; position: relative; }

#ja-header.main,
#ja-container.main,
#ja-footer.main { overflow: hidden; }

/*
.column {
	overflow: hidden;
	float: none !important;
	width: 100% !important;
}
*/
/* Gutter ---*/
.main .inner {
/* We use liquid layout, so we need to insert a div which will create margin if need */
	padding-left: .5em;
	padding-right: .5em;
}

div.moduletable, div.moduletable_default, div.moduletable_menu, div.moduletable_text, div.moduletable_hilite,
div.module, div.module_default, div.module_menu, div.module_text, div.module_hilite  { 
/* for side columns and spotlight, we only need to add margin or padding to Module */
	padding-left: .5em;
	padding-right: .5em;
}

.item .contentpaneopen {
/* for article columns, we only need to add margin or padding to this div  */
	padding-left: .5em;
	padding-right: .5em;
}

.ja-content-main {
	padding-left: .5em;
	padding-right: .5em;
}

.items-leading {
	padding-left: .5em;
	padding-right: .5em;
}

.items-leading, .items-row {
/* minus the spacing of the article row to macth with the Gutter & global grid */
	margin-left: -.5em;
	margin-right: -.5em;
}

/* MAIN COLUMN
--------------------------------------------------------- */

/* HEADER
--------------------------------------------------------- */
#ja-header {}


/* FOOTER
--------------------------------------------------------- */
#ja-footer { clear: both; }


/* CONTENT'S GRIDS
--------------------------------------------------------- */
.item { float: none; position: relative; }

.cols-1 .item,
.cols-2 .item,
.cols-3 .item,
.cols-4 .item,
.cols-5 .item { width: 100%; }

/* SPOTLIGHT
--------------------------------------------------------- */
#ja-topsl {}
#ja-botsl {}

.ja-box { float: none; overflow: hidden; }
