/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

body#bd.handheld {
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body.handheld .contentheading,
body.handheld .componentheading,
body.handheld h1,
body.handheld h2,
body.handheld h3,
body.handheld h4,
body.handheld h5 {
	line-height: 1.2;
	font-family: sans-serif;
	font-weight: normal;
}

body.handheld #ja-container .main {
	padding: 0;
}

body.handheld #ja-container .ja-content-main {
	margin-bottom: 0;
}

body.handheld #ja-main {
	padding-top: 10px;
	padding-bottom: 0;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
body.handheld .article_row { padding: 0; border-bottom: 0; }

body.handheld .article_column { border-bottom: 1px solid #ddd; padding-top: 10px; padding-bottom: 10px; overflow: hidden; }

body.handheld .blog_more { border-top: 0; }

/* HEADER
--------------------------------------------------------- */
body.handheld #ja-header {
	padding: 10px 0;
	border-bottom: 3px solid #666;
	text-align: center;
}

body.handheld h1.logo, body.handheld div.logo-text { float: none; margin: 0 auto !important;}

/* NAVIGATION
--------------------------------------------------------- */
body.handheld #ja-mainnav {
	padding: 10px 0;
	border-bottom: 3px solid #666;
	text-align: center;
	position: relative;
	background-image: none;
}

body.handheld #ja-mainnav select {
	float: left;
	margin-left: .5em;
	width: 62%;
}

body.handheld #ja-search {
	float: none;
	width: 30%;
	text-align: right;
	margin: 0;
	padding: 0;
	top: 10px;
	bottom: auto;
	right: .5em;
}

body.handheld #ja-search .inputbox { padding: 4px 2px; width: 90%; }
body.handheld #ja-search .inputbox:hover,
body.handheld #ja-search .inputbox:focus { background-color: #fff; }

body.handheld #ja-search .button { display: none; }

/* FOOTER
--------------------------------------------------------- */
body.handheld #ja-footer {
	border-top: 3px solid #666;
	font-size: 14px;
	padding-top: 5px;
}

body.handheld #ja-footer .inner {
	width: 100%;
	float: none;
}

body.handheld .ja-breadcrums {
	margin: 0;
	text-transform: none;
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
	width: 100%;
	text-indent: .5em;
	float: none;
}

body.handheld .ja-breadcrums a { text-decoration: none; }

body.handheld .ja-breadcrums a strong,
body.handheld .ja-breadcrums a span { margin: 0 2px; font-weight: bold; }

body.handheld a.ja-tool-switchlayout,
body.handheld a.ja-tool-switchlayout:hover,
body.handheld a.ja-tool-switchlayout:active,
body.handheld a.ja-tool-switchlayout:focus {
	background: #333;
	color: #fff;
	padding: 2px;
}

body.handheld .ja-copyright { float: none; margin-top: 10px; padding-left: 5px; clear: both; }

/* MISC.
--------------------------------------------------------- */
body.handheld .img_caption,
body.handheld .ja-thumbnailwrap { float: none !important; margin: 0 auto;}

body.handheld .ja-content-main ul.pagination { float: none; width: 99%; font-size: 14px; margin-bottom: 0; }
body.handheld .ja-content-main .counter { float: none; text-align: left; width: 99%; font-size: 14px; }
body.handheld .ja-content-main .counter span { float: none; background: #333; color: #fff; padding: 2px; }

/* Hide un-necessary elements ---*/
body.handheld .buttonheading, body.handheld a.ja-usersetting-loadform { display: none; }