/*
# ------------------------------------------------------------------------
# JA Ores template for Joomla 1.5.x
# ------------------------------------------------------------------------
# Copyright (C) 2004-2009 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
# ------------------------------------------------------------------------
*/

@import url("light-theme.css");

/* Commont style ---*/
a { color: #bb4400; }

/* Joomla style ---*/
a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus,
a.readon:hover,
a.readon:active,
a.readon:focus {
	color: #bb4400;
}

ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
	background: #bb4400;
	border: 1px solid #bb4400;
}

.counter span {
	background: #bb4400;
	border: 1px solid #bb4400;
}

#system-message dd.message ul { background: #bb4400; }

#system-message dd.error ul { background: #bb4400; }

div.moduletable_hilite h3 { color: #bb4400; }

div.moduletable_hilite h3 span { border-color: #bb4400; }

#ja-login form fieldset .button:hover,
#ja-login form fieldset .button:focus {
	color: #bb4400;
}

div.logo-text h1 a { color: #bb4400; }

h1.logo a { background: url(../../images/light-orange/logo.png) no-repeat left; }

.ja-navhelper a { color: #bb4400; }
.ja-navhelper a:hover,
.ja-navhelper a:active,
.ja-navhelper a:focus {
	background-color: #bb4400;
}

.ja-links li.top a:hover { background-color: #bb4400; }

.ja-links li.layout-switcher a { background: #bb4400; }

.ja-links li.user-reset a { background: #bb4400; }

#ja-container ul.menu li a:hover,
#ja-container ul.menu li a:active,
#ja-container ul.menu li a:focus {
	background: url(../../images/light-orange/arrow-2.gif) 5px 13px no-repeat;
	color: #bb4400;
}

#ja-container ul.menu li.active a {
	background: url(../../images/light-orange/arrow-2.gif) 5px 13px no-repeat;
	color: #bb4400;
}

#ja-container ul.menu li.active li a:hover { background: url(../../images/light-orange/arrow-2.gif) 5px 10px no-repeat; }

#ja-container ul.menu li li a:hover,
#ja-container ul.menu li li a:active,
#ja-container ul.menu li li a:focus { color: #bb4400 !important; }

#ja-container ul.menu li.active li.active a {
	background: url(../../images/light-orange/arrow-2.gif) 5px 10px no-repeat;
	font-weight: bold;
	color: #bb4400 !important;
}

#ja-container ul.menu li.active li.active li a:hover,
#ja-container ul.menu li.active li.active li.active a {
	background: url(../../images/light-orange/arrow-2.gif) 5px 10px no-repeat;
	color: #bb4400 !important;
}

.show {
	background-image: url(../../images/light-orange/cpanel-show.png);
}

#ja-slideshow {
	background-color: #f07000;
}

.ja-slidenews-item .ja-title:hover,
.ja-slidenews-item .ja-title:focus,
.ja-slidenews-item .ja-title:active {
	color: #bb4400;
}

.ja-vertical_right .active {
	background:transparent url(../../images/light-orange/arrow-bg.png) no-repeat scroll left 35px;
}

div.moduletable_havecolor h3 {
	background-image: url(../../images/light-orange/icon-line-color.gif);
}

.pathway { color: #bb4400; }

#ja-footer small a { color: #bb4400; }
.ja-footnav li a:hover, .ja-footnav li a:active, .ja-footnav li a:focus { color: #bb4400; }

/* JA COMMENT
----------------------------------------------------*/
#jac-sort a, #jac-sort a:link {
	color: #bb4400 !important;
}

#jac-wrapper .comment-heading a.comment-user, #jac-wrapper .comment-heading span.comment-user {
	color: #bb4400;
}

#jac-wrapper .rank-high .comment-rankingresult {
	color: #bb4400;
}

#jac-wrapper .comment-contentholder:hover .comment-reply a, #jac-wrapper .comment-contentholder:hover .comment-reply a:hover {
	background-color: #bb4400;
}

#jac-wrapper button.link {
	color: #bb4400;
}

#jac-wrapper .comment-heading a.comment-user span {
	color: #bb4400;
}

#jac-wrapper a.comment-quotefrom{
	color: #bb4400;
}

#jac-wrapper a.comment-quotefrom strong {
	color: #bb4400;
}

#jac-wrapper .status-isapproved span.status-btn{
	color: #bb4400;
}

#jac-msg-succesfull {
	background: #bb4400;
}

a.jac-links:hover span, a.jac-links:focus span, a.jac-links:active span {
	color: #bb4400;
}

#ja-container ul.menu li a:hover,
#ja-container ul.menu li a:active,
#ja-container ul.menu li a:focus,
#ja-container ul.menu li.active a,
#ja-container ul.menu li.active li a:hover,
#ja-container ul.menu li.active li.active a,
#ja-container ul.menu li.active li.active li a:hover {
	background-image: url(../../images/light-orange/arrow-2.gif);
}

/* K2
----------------------------------------------------*/
a.subCategoryMore:hover,
a.subCategoryMore:focus,
a.subCategoryMore:active {
	color: #bb4400;
}

span.itemHits b { color: #bb4400; }


div.itemComments ul.itemCommentsList li span.commentLink a:hover {
	color: #bb4400;
}

div.itemBackToTop a:hover {
	color: #bb4400;
}

span.catItemHits b {
	color: #bb4400;
}

h2.latestItemTitleList a:hover,
h2.latestItemTitleList a:focus,
h2.latestItemTitleList a:active {
	color: #bb4400;
}

div.k2ItemsBlock ul li a.moduleItemComments:hover {
	color: #bb4400;
}

div.k2CategoriesListBlock ul li.activeCategory a {
	color: #bb4400;
}

.k2CategoriesListBlock ul.level0 li a:hover {
	color: #bb4400;
}
