/* Son of Suckerfish Dropdowns
---------------------------------------------------------
Originally developed by Patrick Griffiths and Dan Webb
http://www.htmldog.com/articles/suckerfish/dropdowns/
---------------------------------------------------------
NOTE: After a deep research, we decide to divide this
CSS into 2 parts. The first part will define the layout.
The second part will define the visual look for this menu.
---------------------------------------------------------*/

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-cssmenu li a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Trebuchet MS",Arial,sans-serif;
	font-size: 110%;
	color: #fff;
}

#ja-cssmenu li a.active { color: #a70000; }

#ja-cssmenu li.active { background: #fff; }

#ja-cssmenu li.sfhover a { color: #fff; }

#ja-cssmenu li.sfhover { background: #A70000; }

/* 2nd level and above */
#ja-cssmenu li ul {
	background: #A70000;
	border: 1px solid #A70000;
	color: #333;
}

#ja-cssmenu li ul ul { border-top: 1px solid #D06262; }

#ja-cssmenu li ul li { border-bottom: 1px dotted #D06262; }

#ja-cssmenu li ul li.sfhover,
#ja-cssmenu li ul li.active {
	background: #B11515;
}