
/* 0v - 1 and below */
.ja-megamenu ul.level0 li.mega a.mega {
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Trebuchet MS",Arial,sans-serif;
	font-size: 110%;
}

.ja-megamenu ul.level0 li.mega.active { background: #fff; }

.ja-megamenu ul.level0 li.mega.active a.mega { color: #B11515; }

.ja-megamenu ul.level0 li.mega.over { background: #A70000; }

.ja-megamenu ul.level0 li.mega a.mega,
.ja-megamenu ul.level0 li.mega.over a.mega { color: #fff; }

/* lv - 1 and below
-----------------------------------*/
/* Styling ---*/
.ja-megamenu ul.level1 { margin: 15px 10px; }

.ja-megamenu ul.level1 li.mega { border-top: 1px dotted #D06262; }

.ja-megamenu ul.level1 li.first { border-top: 0; }

.ja-megamenu ul.level1 li.mega.over,
.ja-megamenu ul.level1 li.mega.active { background: #B11515; }

.ja-megamenu ul.level1 li.mega a.mega {
	border: 0;
	padding-bottom: 5px;
	padding-top: 5px;
}

 /* CHILD CONTENT
-----------------------------------*/
.ja-megamenu .childcontent-inner {
	background: #A70000;
	border: 1px solid #A70000;
	border-top: 0;
	color: #B11515;
}

.ja-megamenu .level1 .childcontent-inner { border-top: 1px solid #ccc; }

.ja-megamenu .childcontent .ja-moduletable { color: #B11515; }

.ja-megamenu .childcontent .ja-moduletable h3 {
	background: none;
	border-bottom: 1px dotted #ccc;
	text-transform: uppercase;
}

/* Grouped --- */
.ja-megamenu .group-title { 
	background: url(../../images/group-title.png) no-repeat left bottom;
	color: #fff;
	float: left;
}

.ja-megamenu .group-content {
	clear: both;
}

.ja-megamenu .group-title a.mega {
	padding-top: 3px !important;
	padding-bottom: 13px !important;
	padding-left: 15px !important;
	padding-right: 10px !important;
}

.ja-megamenu .group-title .menu-title {
	color: #fff;
	font-weight: bold;
	font-size: 100%;
}

.ja-megamenu .group-title .menu-desc {
	color: #999;
	padding-left: 0 !important;
}
