/*
# ------------------------------------------------------------------------
# JA Tabs Plugins for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

.ja-tabswrap {}

.ja-tabswrap div.ja-tab-content { }

.ja-tabswrap div.ja-tab-subcontent { padding: 15px; }

/* JA Tabs top*/
.portfolio .ja-tabs-title-top {
	height: 60px !important;
	border-bottom: 1px solid #b5b5b7;
	position: relative;
	width: 100%;
	background: #cacacd;
}

.portfolio .ja-tabs-title-top ul.ja-tabs-title {
	border-right: 1px solid #e2e2e5;
}

.portfolio .ja-tabs-title-top ul.ja-tabs-title li {
	background: #cacccd;
	border-bottom: 1px solid #b5b5b7;
	border-right: 1px solid #b5b5b7;
	border-left: 1px solid #e2e2e5;
	margin-left: 0;
	margin-bottom: -1px;
	width: 140px;
	height: 60px;
}

.portfolio .ja-tabs-title-top ul.ja-tabs-title li:first-child { border-left: 0; }

.portfolio .ja-tabs-title-top ul.ja-tabs-title li h3 {
	font-size: 100%;
	font-weight: bold !important;
	line-height: normal;
	margin: 0;
	padding: 15px 15px 10px 55px;
	color: #88888a;
	border-top: none;
	background-position: 15px 15px;
	background-color: #CACCCD;
}

.portfolio .ja-tabs-title-top ul.ja-tabs-title li.active h3 {
	background-color: #fff;
}

.portfolio .ja-tabs-title-top ul.ja-tabs-title li.hover,
.portfolio .ja-tabs-title-top ul.ja-tabs-title li.firsthover,
.portfolio .ja-tabs-title-top ul.ja-tabs-title li.lasthover {
	background-color: #b5b5b7;
}

.portfolio .ja-tabs-title-top ul.ja-tabs-title li.hover h3,
.portfolio .ja-tabs-title-top ul.ja-tabs-title li.firsthover h3,
.portfolio .ja-tabs-title-top ul.ja-tabs-title li.lasthover h3 {
	color: #2d2d2e;
	background-color: #b5b5b7;
}

.portfolio .ja-tabs-title-top ul.ja-tabs-title li.active,
.portfolio .ja-tabs-title-top ul.ja-tabs-title li.firstactive,
.portfolio .ja-tabs-title-top ul.ja-tabs-title li.lastactive {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.portfolio .ja-tabs-title-top ul li.active h3 ,
.portfolio .ja-tabs-title-top ul li.firstactive h3,
.portfolio .ja-tabs-title-top ul li.lastactive h3 {
	color: #2d2d2e;
}

/* JA Tabs left*/
.portfolio .ja-tab-panels-left {
	left: 0;
	top: 0;
}
.portfolio .ja-tabs-title-left {
	position: relative;
	float: left;
	height: 100%;
	width: 180px !important;
	background: #cacccd;
}

.portfolio .ja-tabs-title-left ul.ja-tabs-title {
	border-bottom: 1px solid #e2e2e5;
}

.portfolio .ja-tabs-title-left ul.ja-tabs-title li {
	background: #cacccd;
	border-top: 1px solid #e2e2e5;
	border-bottom: 1px solid #b5b5b7;
	height: 100%;
	margin: 0 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
}

.portfolio .ja-tabs-title-left ul.ja-tabs-title li:first-child { border-top: 0; }

.portfolio .ja-tabs-title-left ul.ja-tabs-title li h3 {
	color: #88888a;
	font-weight: bold !important;
	margin: 0 0 0 15px;
	padding: 20px 15px 20px 45px;
	letter-spacing: normal;
	font-size: 100%;
	background-position: left center;
}

.portfolio .ja-tabs-title-left ul.ja-tabs-title li.hover,
.portfolio .ja-tabs-title-left ul.ja-tabs-title li.firsthover,
.portfolio .ja-tabs-title-left ul.ja-tabs-title li.lasthover {
	background-color: #b5b5b7;
}

.portfolio .ja-tabs-title-left ul.ja-tabs-title li.hover h3,
.portfolio .ja-tabs-title-left ul.ja-tabs-title li.firsthover h3,
.portfolio .ja-tabs-title-left ul.ja-tabs-title li.lasthover h3 {
	color: #2d2d2e;
}

.portfolio .ja-tabs-title-left ul li.active,
.portfolio .ja-tabs-title-left ul li.firstactive,
.portfolio .ja-tabs-title-left ul li.lastactive {
	background: #fff;
}

.portfolio .ja-tabs-title-left ul li.active h3 ,
.portfolio .ja-tabs-title-left ul li.firstactive h3,
.portfolio .ja-tabs-title-left ul li.lastactive h3 {
	color: #2d2d2e;
}

/* JA Tabs right*/
.portfolio .ja-tab-panels-right {
	left: 0;
	top: 0;
}

.portfolio .ja-tabs-title-right {
	position: relative;
	float: right;
	height: 100%;
	width: 180px !important;
	background: #cacccd;
}

.portfolio .ja-tabs-title-right ul.ja-tabs-title {
	top: 0;
}

.portfolio .ja-tabs-title-right ul.ja-tabs-title li {
	background: #cacccd;
	border-top: 1px solid #e2e2e5;
	border-bottom: 1px solid #b5b5b7;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	cursor: pointer;
	display: block;
}

.portfolio .ja-tabs-title-right ul.ja-tabs-title li h3 {
	color: #88888a;
	font-weight: bold !important;
	margin: 0 15px 0 0;
	padding: 20px 45px 20px 20px;
	letter-spacing: normal;
	font-size: 100%;
	background-position: right center;
}

.portfolio .ja-tabs-title-right ul.ja-tabs-title li.hover,
.portfolio .ja-tabs-title-right ul.ja-tabs-title li.firsthover,
.portfolio .ja-tabs-title-right ul.ja-tabs-title li.lasthover {
	background-color: #b5b5b7;
}

.portfolio .ja-tabs-title-right ul.ja-tabs-title li.hover h3,
.portfolio .ja-tabs-title-right ul.ja-tabs-title li.firsthover h3,
.portfolio .ja-tabs-title-right ul.ja-tabs-title li.lasthover h3 {
	color: #2d2d2e;
}

.portfolio .ja-tabs-title-right ul li.active,
.portfolio .ja-tabs-title-right ul li.firstactive,
.portfolio .ja-tabs-title-right ul li.lastactive {
	background: #fff;
}

.portfolio .ja-tabs-title-right ul li.active H3 ,
.portfolio .ja-tabs-title-right ul li.firstactive H3,
.portfolio .ja-tabs-title-right ul li.lastactive H3 {
	color: #2d2d2e;
}

/* JA Tabs bottom*/
.portfolio .ja-tab-panels-bottom {
	left: 0;
}

.portfolio .ja-tabs-title-bottom {
	height: 60px;
	border-top: 1px solid #b5b5b7;
	position: relative;
	width: 100%;
	background: #cacacd;
}

.portfolio .ja-tabs-title-bottom ul.ja-tabs-title {
	border-right: 1px solid #e2e2e5;	
}

.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li {
	background: #cacccd;
	border-top: 1px solid #b5b5b7;
	border-right: 1px solid #b5b5b7;
	border-left: 1px solid #e2e2e5;
	margin-left: 0;
	margin-top: -1px;
	width: 140px;
	height: 60px;
}

.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li:first-child { border-left: 0; }

.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li h3 {
	font-size: 100%;
	font-weight: bold !important;
	line-height: normal;
	margin: 0;
	padding: 15px 15px 10px 55px;
	color: #88888a;
	border-top: none;
	background-position: 15px 15px;
}

.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li.hover,
.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li.firsthover,
.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li.lasthover {
	background-color: #b5b5b7;
}

.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li.hover h3,
.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li.firsthover h3,
.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li.lasthover h3 {
	color: #2d2d2e;
}

.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li.active,
.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li.firstactive,
.portfolio .ja-tabs-title-bottom ul.ja-tabs-title li.lastactive {
	background: #fff;
	border-top: 1px solid #fff;
}

.portfolio .ja-tabs-title-bottom ul li.active h3 ,
.portfolio .ja-tabs-title-bottom ul li.firstactive h3,
.portfolio .ja-tabs-title-bottom ul li.lastactive h3 {
	color: #2d2d2e;
}

/* Tabs Icon*/
.portfolio ul.ja-tabs-title li h3 { background-repeat: no-repeat; }

.portfolio ul.ja-tabs-title li.ja-tab-title_icon1 h3 { background-image: url(icon1.png); }
.portfolio ul.ja-tabs-title li.ja-tab-title_icon2 h3 { background-image: url(icon2.png); }
.portfolio ul.ja-tabs-title li.ja-tab-title_icon3 h3 { background-image: url(icon3.png); }
.portfolio ul.ja-tabs-title li.ja-tab-title_icon4 h3 { background-image: url(icon4.png); }
.portfolio ul.ja-tabs-title li.ja-tab-title_icon5 h3 { background-image: url(icon5.png); }