/*------------------------------------------------------------------------
# $JA#PRODUCT_NAME$ - Version $JA#VERSION$ - Licence Owner $JA#OWNER$
# ------------------------------------------------------------------------
# Copyright (C) 2004-2008 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
-------------------------------------------------------------------------*/
#jacom-maincontent {
}

#logo-jaextmanager {
	width:223px;
	height:33px;
	background:url(../images/logo_ja_extension.gif) 0px -32px no-repeat;
	display:block;
}
#logo-jaextmanager:hover {
	background:url(../images/logo_ja_extension.gif) 0px 0px no-repeat;
}

table.ja-uc tr td {
	padding: 5px !important;
	vertical-align: top;
	line-height: 1.5;
}

table.ja-uc thead th {
	padding: 5px !important;
	background: #666 !important;
	color: #fff !important;
	border-left: 1px solid #999 !important;
}

.ja-uc strong.addon-name {
	font-size: 125%;
	color: #0b55c4;
}

.ja-backup-list {
	padding:2px;
	margin:5px 0px 10px 0px;
	border:1px solid #EEEEEE;
}
/*ja-uc-child*/
table.ja-uc-child {
	width:100%;
}
table.ja-uc-child tr th {
	padding: 5px !important;
	text-align:center;
	background:#EEEEEE;
}
table.ja-uc-child tr td {
	text-align:center !important;
}

table.ja-uc-child tr.upload-error td, 
table.ja-uc-child tr.upload-success td {
	padding:5px 2px;
}
table.ja-uc-child tr.upload-error {
	background:#E6C0C0;
	border-bottom:1px solid #DE7A7B;
	border-top:1px solid #DE7A7B;
	color:#CC0000;
}
table.ja-uc-child tr.upload-error td.icon {
	background:url(images/icon-fail.png) center center no-repeat;
}
table.ja-uc-child tr.upload-success {
	background:#C3D2E5;
	border-bottom:1px solid #426797;
	border-top:1px solid #426797;
}
table.ja-uc-child tr.upload-success td.icon {
	background:url(images/icon-success.png) center center no-repeat;
}

.nicetime {
	background: #999;
	color: #fff;
	padding: 1px 3px;
	font-size: 10px;
}

.highlight {background:#ffffcc; border: 1px solid #ccc; padding: 1px 3px;}

/* Icons ---*/
.icon-component, .icon-module, .icon-plugin, .icon-template {
	display: block;
	width: 22px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	white-space: nowrap;
	text-indent: -2000em;
}

.icon-component {
	background-image: url(../images/component.gif);
}

.icon-module {
	background-image:url(../images/module.gif);
}

.icon-plugin {
	background-image: url(../images/plugin.gif);
}

.icon-template {
	background-image: url(../images/template.gif);
}

/* Status ----*/
.checkstatus {
	color: #333;
}

/*.checkstatus a:link, .checkstatus a:visited {
	color: #666;
	font-weight: bold;
}

.checkstatus a:hover,checkstatus a:active,checkstatus a:focus {
	color: #333;
	text-decoration: underline;
}*/


/* Not Uploaded */
.checkstatus .status-not-uploaded {
	color: #c40d0b;
}

/* Normal */
.checkstatus .status-normal {
	color: #333;
}

/* New */
.checkstatus .status-new {
	color: #088d00;
}

/* Latest */
.checkstatus .status-lastest {
	color: #088d00;
	font-weight: bold;
}

/* Not Supported */
.checkstatus .status-not-support {
	color: #c40d0b;
}


/* Common form */
fieldset {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

fieldset legend {
	font-size: 100%;
	color: #666;
	text-transform: uppercase;
}

/* Main content */
#jacom-maincontent {
	display: block;
	float: right;
	width: 81%;
}

li.havechild ul {
	display: none;
}

div.ja-posted-jobs,
div.ja-transactions {
	float: left;
	margin-bottom: 15px;
	width: 49.5%;
}

div.ja-transactions {
	float: right;
}

div.ja-new-employers,
div.ja-new-resumes {
	float: left;
	margin-bottom: 15px;
	width: 49.5%;
}

div.ja-new-resumes {
	float: right;
}

/* Jobs filter */
#ja-filter {
	background: #FCFCFC;
	border: 1px solid #CCCCCC;
	margin: 0px 0px 10px 0px;
	-moz-border-radius: 9px;
	padding: 8px;
	text-align: right;
	-webkit-border-radius: 9px;
	line-height: 1.5;
}

/* Left menu */
#jacom-mainnav {
	border: 1px solid #CCCCCC;
	display: block;
	float: left;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	width: 18%;
}

#jacom-mainnav .inner {
	padding: 0 0 10px;
}

#jacom-mainnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#jacom-mainnav ul li {
	margin: 0;
	padding: 0;
}

#jacom-mainnav ul li a {
	background: url(images/arrow.gif) no-repeat 5px 10px;
	border-bottom: 1px solid #F0F0F0;
	color: #666666;
	font-weight: bold;
	display: block;
	padding: 7px 0 7px 18px;
	outline: none;
}

#jacom-mainnav ul li a:hover,
#jacom-mainnav ul li a:active,
#jacom-mainnav ul li a:focus {
	background: url(images/arrow.gif) no-repeat 5px 10px #F9F9F9;
	color: #F7931D;
	text-decoration: none;
}

#jacom-mainnav li.active a.active {
	background: #F9F9F9;
	color: #F7931D;
	font-weight: bold;
}

#jacom-mainnav li.opened a {
	/*background: url(images/arrow-down.gif) no-repeat 0px 5px #F9F9F9 !important;*/
}

#jacom-mainnav li ul {
	border-bottom: 1px solid #F0F0F0;
}

#jacom-mainnav li li {
	background: none;
	padding: 0 0 0 20px;
}

#jacom-mainnav ul li.opened li a,
#jacom-mainnav ul li li a {
	background: url(images/bullet.gif) no-repeat 0px 10px !important;
	border: none;
	display: block;
	font-weight: normal;
	padding: 5px 0 5px 10px;
}

#jacom-mainnav ul li.opened li a:hover,
#jacom-mainnav ul li li a:hover {
	background: url(images/bullet-hover.gif) no-repeat 0px 10px !important;
}

#jacom-mainnav li li.active a.active {
	background: url(images/bullet-hover.gif) no-repeat 0px 10px;
	font-weight: normal;
}

/* Collapse menu */
li.opened ul {
	display: block;
}

li.closed ul {
	display: none;
}

div.ja-showhide {
	background: url(images/grad1.gif) repeat-x left bottom;
	border-bottom: 1px solid #CCCCCC;
	margin: 0;
	padding: 8px 10px;
	-moz-border-radius: 9px 9px 0 0;
	-webkit-border-radius: 9px 9px 0 0;
}

div.ja-showhide a.openall {
	background: url(images/icon-open-hide.gif) no-repeat left center;
	border-right: 1px solid #999999;
	color: #999999;
	outline: none;
	padding: 0 7px 0 15px;
}

div.ja-showhide a.closeall {
	background: url(images/icon-close-hide.gif) no-repeat 3px center;
	color: #999999;
	outline: none;
	padding: 0 0 0 20px;
}

a.opened {
	background: url(images/icon-open.gif) no-repeat 0px center !important;
	color: #F7931D !important;
}

a.closed {
	background: url(images/icon-close.gif) no-repeat 3px center !important;
	color: #F7931D !important;
}

/* Links */
#jacom-maincontent a.conflicted-management,
#jacom-maincontent a.check-update,
#jacom-maincontent a.recovery {
	display: block;
	background-repeat: no-repeat;
	background-position: 2px center;
	padding: 2px 2px 5px 22px;
	color: #666;
}

#jacom-maincontent a.recovery {
	background-image: url(images/recovery.png);
}

#jacom-maincontent a.check-update {
	background-image: url(images/update.png);
}

#jacom-maincontent a.conflicted-management {
	background-image: url(images/conflicted.gif);
}

#jacom-maincontent a.author,
#jacom-maincontent a.mailto {
	color: #666;
}

#jacom-maincontent a.author strong {
	font-weight: normal;
}


/* Footer */
#jacom-footer {
	clear: both;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

/* Clearfix
-------------------------------------------------------------*/
.clearfix { display: inline-block; } /* IE7xhtml*/

* html .clearfix {
	height: 1%; /* IE5-6 */
}

html[xmlns] .clearfix { /* O */
	display: block;  
}

.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

