/* default: mod_jaslideshow2.css */
.ja-slidewrapanion {
	border: 0;
	overflow: hidden;
}

.moduletableanion .ja-slide-buttons {
	position: absolute;
	right: 320px;
	bottom: 20px;
}

.moduletableanion .ja-slide-buttons .ja-slide-stop {
	text-indent: -1000em;
	background:
		url('images/icon-stop.gif')
		center center no-repeat;
	height: 20px;
	width: 20px;
}

.moduletableanion .ja-slide-buttons .ja-slide-next {
	text-indent: -1000em;
	background:
		url('images/icon-next.gif')
		center center no-repeat;
	height: 20px;
	width: 20px;
}

.moduletableanion .ja-slide-buttons .ja-slide-prev {
	text-indent: -1000em;
	background:
		url('images/icon-prev.gif')
		center center no-repeat;
	height: 20px;
	width: 20px;
}

.moduletableanion .ja-slide-buttons .ja-slide-playback {
	text-indent: -1000em;
	background:
		url('images/icon-playback.gif')
		center center no-repeat;
	height: 20px;
	width: 20px;
}

.moduletableanion .ja-slide-buttons .ja-slide-play {
	text-indent: -1000em;
	background:
		url('images/icon-play.gif')
		center center no-repeat;
	height: 20px;
	width: 20px;
}

.moduletableanion .ja-slide-buttons {
	background:
		url('images/button-bg2.png')
		left center no-repeat;
	padding: 5px;
}

.moduletableanion .ja-slide-buttons span {
	padding: 2px 0;
}
