body#bd.contentpane {
	background: #fff !important;
}

body.contentpane p, body.contentpane pre, body.contentpane blockquote, body.contentpane h1, body.contentpane h2, body.contentpane h3, body.contentpane h4, body.contentpane h5, body.contentpane h6, body.contentpane ol, body.contentpane ul {
	margin: 10px 0;
}

body.contentpane div.itemTools {
	left: -15px;	
}

body.contentpane .componentheading {
	margin-bottom: 15px;	
}

body.contentpane .button {
	display: inline-block;	
}