/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

/* ------------------- */
/* -- template.css  -- */
/* ------------------- */

/*Inline images ---*/

/* Headings ---*/

/* FORM
--------------------------------------------------------- */
.inputbox {
	
}
/* Login form ---*/

/* JOOMLA STYLE
--------------------------------------------------------- */
#ja-mainbody {
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

/* MODULE STYLES
--------------------------------------------------------- */

div.ja-moduletable h3, div.moduletable h3,
.maskDesc .ja-slide-desc h1,
.maskDesc .ja-slide-desc h2 {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

div.ja-moduletable .ja-box-ct h3, div.moduletable .ja-box-ct h3 {
	text-shadow: none;
}

div.ja-twwitter-desc {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* HEADER
--------------------------------------------------------- */


/* NAVIGATION
--------------------------------------------------------- */


/* SLIDESHOW
--------------------------------------------------------- */


/* SPOTLIGHT
--------------------------------------------------------- */

/* FOOTER
----------------------------------------------------------- */


/* MISC
----------------------------------------------------------- */
a.ja-icon-video {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}


/* MENU
----------------------------------------------------------- */

/* -------------------- */
/* -- menu/split.css -- */
/* -------------------- */

/* Split menu ---*/

/* ------------------ */
/* -- menu/css.css -- */
/* ------------------ */

/* CSS Menu */

/* ----------------------- */
/* -- menu/dropline.css -- */
/* ----------------------- */

/* Dropline Menu */


/* ------------------- */
/* -- menu/mega.css -- */
/* ------------------- */

/* Mega Menu */
/* ------------ */
/* -- k2.css -- */
/* ------------ */

/* -------------- */
/* -- typo.css -- */
/* -------------- */

/* TYPO PAGE LAYOUT
-------------------------------------------------------------*/

/* Block Actions ---*/

#ja-typo .typo-wrap a.typo-view-details {
	opacity: .85;
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* BUBBLES
-----------------------------------------------------------------*/

.ja-typo-bubblect {
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
}

/* Common Style for Rounded Bubbles --- */
.bubble-rounded .ja-typo-bubblect {
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
}

span.tag-rounded {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.btn-rounded {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px; 
}

.ja-typo-blockswrap h2.ja-typo-title span {
	text-shadow: 0 -1px 1px rgba(255,255,255,.8);
}

fieldset.fieldset-2 {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px; 
}

/* MESSAGE BOXES AND LEGENDS STYLE
-----------------------------------------------------------------*/

/* Rounded Box*/
.box-rounded {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; 
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
}

/* Rounded Box*/
.legend-rounded {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; 
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
}

/* TYPO HEAD
-------------------------------------------------------------*/

ul#ja-typo-nav li.active a {
	text-shadow: 0 -1px 1px rgba(0,0,0,.8);
}

.ja-typo-blockswrap h2.ja-typo-title span {
	text-shadow: 0 -1px 1px rgba(255,255,255,.8);
}

/* Override for Typography page ---*/
.ajaxtabs #ja-mainbody {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* BUBBLES
-----------------------------------------------------------------*/

.ja-typo-bubblect {
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
}

/* Menu Tags ---*/
#ja-mainnav .parent-tags a.parent-tags span.menu-desc,
#ja-mainnav .tags a.tags span.menu-desc,
#ja-subnav .parent-tags a.parent-tags span.menu-desc,
#ja-subnav .tags a.tags span.menu-desc {
	text-shadow: none;
	border-radius: 8px;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
}

/* K2
-----------------------------------------------------------------*/
div.catItemTagsBlock ul.catItemTags li {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.itemListCategory {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

div.itemTagsBlock ul.itemTags li {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.userItemTagsBlock ul.userItemTags li {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}