/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

/* Content Slider */
#ja-contentsliderwrap {
	margin: 0 0 20px 0;
	padding: 0;
	background: url(corner-br.gif) no-repeat bottom right;
}

div.ja-wrap1 { background: url(corner-bl.gif) no-repeat bottom left; }

div.ja-wrap2 { background: url(corner-tr.gif) no-repeat top right; }

div.ja-wrap3 {
	background: url(corner-tl.gif) no-repeat top left;
	padding: 10px 0 0 0;
}

.ja-contentslider {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: auto !important;
	width: 100%;
}

#ja-contentsliderwrap div.moduletable {
	margin: 0;
	padding: 0 !important;
}

/* Content Slider Center */
.ja-contentslider-center {
	margin: 0;
	padding: 0;
	float: left;
}

div.ja_slidetitle { text-align: left; padding: 5px 0 0; }

div.ja_slidetitle a { font-weight: bold; font-size: 110%; }

#ja-contentsliderwrap .ja_slideintro { padding: 10px 5px 0; }

div.ja-slidereadmore { margin: 10px 0 0; }

.ja-contentslider-center span {
	width: 140px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.ja-contentslider-center img {
	margin: 0;
	padding: 0;
	overflow:hidden;
}

.ja-contentslider .jsslide {}

.ja-contentslider .jsslide-item {
	padding: 15px;
	background: #fff;
	width: 170px;
}

/* Left + right */
.ja-contentslider-left { display: none; }

.ja-contentslider-right {
	width: auto !important;
	height: auto !important;
	position: static;
	float: none;
}

/* nur fuer Opera */

.ja-contentslider-left img,
.ja-contentslider-right img {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.ja-contentslider-right img { background: url(../images/sp-bg.png) no-repeat left top; }

.ja-contentslider-right img:hover { background: url(../images/sp-bg.png) no-repeat left bottom; }

/* Clearfix */
.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix { height: 1%; }

/* Firefox Scrollbar Hack - Do not remove */
html {
	margin-bottom: 1px;
	height: 100%!important;
	height: auto;
}

div.content_element {position:absolute;left:-999em;}