/*----------------------------------------------------------------------
	Common Elements
----------------------------------------------------------------------*/
/* --- Basic typography --- */
/* --- Read more --- */
a.ubUserFeedIcon,
a.ubUserFeedIcon:hover {
	margin: 0 0 0 2px;
}

a.ubUserURL,
a.ubUserURL:hover {
	margin: 0 0 0 2px;
}

div.catItemAttachmentsBlock span {
	padding: 0 0 0 4px;
}

/* Anchor link to comments */
div.catItemCommentsLink {
	border-right: 0;
	border-left: 1px solid #ccc;
	margin: 0 0 0 8px;
	padding: 0 0 0 8px;
}

div.catItemExtraFields ul li span.catItemExtraFieldsLabel,
div.genericItemExtraFields ul li span.genericItemExtraFieldsLabel {
	float: right;
	margin: 0 0 0 4px;
}

div.catItemHeader h3.catItemTitle,
div.catItemBlogHeader h3.catItemTitle {
	padding: 0 110px 0 0;
}

div.catItemHeader h3.catItemTitle {
	padding-right: 0;
}

/* Image Gallery */
div.catItemRatingBlock span {
	float: left;
	padding: 0 0 0 4px;
}

/* Read more link */
div.catItemReadMore {
	float: left;
}

div.catItemReadMore a {
	background: url(../images/rtl/button-corner-small2.png) no-repeat right top;
	padding: 4px 15px 4px 5px;
}

div.catItemTagsBlock span {
	padding: 0 0 0 4px;
}

div.catItemTagsBlock ul.catItemTags li {
	margin: 0 0 0 2px;
}

div.catItemTools {
	background: url(../images/rtl/article-info.png) no-repeat right top;
	left: auto;
	right: -42px;
}

div.catItemTools .catItemInfo {
	padding-left: 0;
	padding-right: 25px;
}

/* Video */
/* Item block for each item group --- */
/*----------------------------------------------------------------------
	Component: Itemlist view (generic)
----------------------------------------------------------------------*/
div.genericItemTools {
	background: url(../images/rtl/article-info.png) no-repeat right top;
	left: auto;
	right: -42px;
}

div.genericItemTools .genericItemInfo {
	padding-left: 0;
	padding-right: 25px;
}

div.genericItemHeader {
	padding-left: 0;
	padding-right: 110px;
}

div.genericItemImageBlock { float: right; }

/* Read more link */
div.genericItemReadMore { 
	float: left;
}

div.genericItemReadMore a {
	background: url(../images/rtl/button-corner-small2.png) no-repeat right top;
	padding: 4px 15px 4px 5px;
}

/* Additional class appended to the element above for further styling per group item */
/* Author block */
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl {
	margin: 0 0 0 4px;
	padding: 0 0 0 8px;
}

div.itemAuthorBlock img.itemAuthorAvatar {
	float: right;
	margin: 0 0 0 8px;
}

/* Related by tag */
div.itemAuthorLatest li a {
	padding: 0 15px 0 0;
	background-position: right 5px;
}
/* Back to top link */
div.itemBackToTop { text-align: left; }

div.itemCategory span {
	padding: 0 0 0 4px;
}

/* Comments */
div.itemComments ul.itemCommentsList li img {
	float: right;
	margin: 4px 0 4px 4px;
}

div.itemComments ul.itemCommentsList li span.commentDate {
	border-right: 0;
	border-left: 1px solid #ccc;
	margin: 0 0 0 8px;
	padding: 0 0 0 4px;
}

div.itemComments ul.itemCommentsList li span.commentLink { float: left; }

div.itemCommentsForm form label.formComment { margin: 12px 2px 0 0; }

div.itemCommentsForm form label.formEmail { margin: 12px 2px 0 0; }

div.itemCommentsForm form label.formName { margin: 12px 2px 0 0; }

div.itemCommentsForm form label.formRecaptcha { margin: 12px 2px 0 0; }

div.itemCommentsForm form label.formUrl { margin: 12px 2px 0 0; }

div.itemCommentsForm form span#formLog {
	margin: 0 20px 0 0;
	padding: 0 20px 0 0;
}

div.itemCommentsPagination span.pagination { float: left; }

div.itemContainer { float: right; }

/* Extra fields */
div.itemExtraFields ul li span.itemExtraFieldsLabel {
	float: right;
	margin: 0 0 0 4px;
}

/* Full text ---*/
/* Item header ---*/
div.itemBlogHeader {
	padding-left: 0;
	padding-right: 110px;
}

.itemView div.ja-social-toolbox-large {
	left: auto;	
	right: -107px;	
}

/* Item hit twitter ---*/
/* Image Gallery */

/* Intro text ---*/
/* --- Featured flags: the classes are repeated further below to indicate placement in the CSS structure --- */
/* --- Item groups --- */
/*----------------------------------------------------------------------
	Component: Itemlist view (category)
----------------------------------------------------------------------*/
/* --- Category block --- */
div.itemListCategory img {
	float: right;
	margin: 0 0 0 15px;
}

/* --- Sub-category block --- */
/* Article navigation */
div.itemNavigation a.itemNext { float: left; }

div.itemNavigation a.itemPrevious { float: right; }

div.itemRatingBlock {
	overflow: hidden;
	width: 100%;
	direction: ltr;
}

div.itemRatingBlock span {
	display: block;
	direction: rtl;
	float: right;
	padding: 0 0 0 4px;
}

div.itemRatingBlock .itemRatingForm {
	overflow: hidden;
	width: auto;
}

div.itemRatingBlock .itemRatingLog { direction: rtl; }

div.itemRatingBlock .itemRatingList {
	overflow: hidden;
}

div.itemRatingBlock .itemRatingList li {
	float: right;
}

div.itemRatingForm .formLogLoading {
	padding: 0 20px 0 0;
}

/* Author latest */
div.itemRelated li a {
	padding: 0 15px 0 0;
}

/* Item social links block ---*/
div.itemSocialLinksBlock span {
	float: right;
	padding: 0 0 0 4px;
}

div.itemSocialLinksBlock ul.itemSocialLinks { float: right; }

div.itemTagsBlock span { padding: 0 0 0 4px; }

div.itemTagsBlock ul.itemTags li {
	margin: 0 0 0 2px;
}

/* Item toolbar ---*/
div.itemToolbar ul {
	text-align: left;
}

div.itemToolbar ul li {
	padding: 0 8px 0 4px;
}

div.itemToolbar ul li a#fontDecrease { margin: 0 2px 0 0; }

div.itemToolbar ul li a#fontIncrease { margin: 0 2px 0 0; }

div.itemToolbar ul.itemMeta { float: right; }

div.itemToolbar ul.itemMeta li {
	border-right: 0;
	border-left: 1px solid #ddd;
	margin: 0 0 0 5px;
	padding: 0 0 0 5px !important;
}

/* Item Tools ---*/
div.itemTools {
	background: url(../images/rtl/article-info.png) no-repeat right top;
	left: auto;
	right: -42px;
}

div.itemTools .itemInfo {
	padding-left: 0;
	padding-right: 25px;
}

/* Video */
div.itemVideoBlock span.itemVideoCaption {
	float: right;
}

div.itemVideoBlock span.itemVideoCredits {
	float: left;
	text-align: left;
}

/*----------------------------------------------------------------------
	COMPONENT: ITEM VIEW
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
	Modules: mod_k2_tools
----------------------------------------------------------------------*/
/* --- Archives --- */
/* --- Authors --- */
/* --- Breadcrumbs --- */
div.k2BreadcrumbsBlock span.bcTitle { padding: 0 0 0 4px; }

/* --- Calendar --- */
/* --- Category List/Menu --- */
/* --- Category Tree Select Box --- */
/* --- RSS feed icon --- */
div.k2FeedIcon a,
div.k2FeedIcon a:hover {
	float: left;
}

/*----------------------------------------------------------------------
	Modules: mod_k2_content
----------------------------------------------------------------------*/
div.k2ItemsBlock ul li a.moduleItemComments {
	border-left: 0;
	border-right: 1px solid #ccc;
	margin: 0 0 0 8px;
	padding: 0 0 0 4px;
}

div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img {
	float: left;
	margin: 2px 4px 4px 0;
}

div.k2ItemsBlock ul li span.moduleItemHits {
	border-left: 0;
	border-right: 1px solid #ccc;
	margin: 0 0 0 8px;
	padding: 0 0 0 4px;
}

/*----------------------------------------------------------------------
	Modules: mod_k2_comments
----------------------------------------------------------------------*/
/* Latest Comments */
/* --- Primary lists in modules --- */
/*----------------------------------------------------------------------
	Modules: mod_k2_login
----------------------------------------------------------------------*/
div.k2LoginBlock ul li {
	padding-left: 0;
	padding-right: 10px;
}

/* Pagination --- */
div.k2Pagination { margin: 0 0 0 -30px; }

div.k2Pagination .pagination {
	float: right;
}

/* n level (n) - like the above... */
/* --- Search Box --- */
/* --- Tag Cloud --- */
div.k2TagCloudBlock a { float: right; }

div.k2TagCloudBlock a:hover {
	float: right;
}

/* Top Commenters */
/*----------------------------------------------------------------------
	Modules: mod_k2_users
----------------------------------------------------------------------*/
div.k2UsersBlock ul li a.ubUserAvatar img { 
	margin-right: 0;
	margin-left: 10px;
}

div.latestItemCategory span { padding: 0 0 0 4px; }

/* Anchor link to comments */
div.latestItemCommentsLink {
	border-left: 1px solid #ccc;
	border-right: 0;
	margin: 0 0 0 8px;
	padding: 0 0 0 8px;
}

div.latestItemImageBlock { float: right; }
/* Latest items list */
div.latestItemList { padding: 0 0 8px 8px; }

/* Read more link */
/* Category info block */
div.latestItemsCategory {
	margin: 0 8px 0 8px;
}
div.latestItemsCategoryImage img {
	margin: 0 0 0 8px;
}

/*----------------------------------------------------------------------
	Component: Latest view
----------------------------------------------------------------------*/
div.latestItemsContainer { float: right; }

/* User info block */
div.latestItemsUser {
	margin: 0 0 8px 8px;
}

div.latestItemsUser h2 { }

div.latestItemsUser img {
	float: right;
	margin: 0 0 0 8px;
}

div.latestItemTagsBlock span { padding: 0 0 0 4px; }

div.latestItemTagsBlock ul.latestItemTags li {
	padding: 0 0 0 4px;
}

/* Video */
div.moduleItemExtraFields ul li span.moduleItemExtraFieldsLabel {
	float: right;
	margin: 0 0 0 4px;
}

div.subCategory a.subCategoryImage img,
div.subCategory a.subCategoryImage:hover img {
	margin: 0 0 0 8px;
}

div.subCategoryContainer { float: right; }

div.userBlock img {
	float: right;
	margin: 0 0 0 15px;
}

/* Anchor link to comments */
div.userItemCommentsLink {
	margin: 0 0 0 8px;
	padding: 0 0 0 8px;
}

div.userItemHeader {
	padding-left: 0;
	padding-right: 110px;
}

div.userItemTools {
	background: url(../images/rtl/article-info.png) no-repeat right top;
	left: 0;
	right: -42px;
}

div.userItemTools .userItemInfo {
	padding-left: 0;
	padding-right: 25px;
}

div.userItemImageBlock { float: right; }

/* Read more link */
div.userItemReadMore {
	float: left;
}

div.userItemReadMore a {
	background: url(../images/rtl/button-corner-small2.png) no-repeat right top;
	padding: 4px 15px 4px 5px;
}

div.userItemTagsBlock span { padding: 0 0 0 4px; }

div.userItemTagsBlock ul.userItemTags li {
	margin: 0 0 0 2px;
}

/* User items */

/*----------------------------------------------------------------------
	Component: Itemlist view (user)
----------------------------------------------------------------------*/
/* User info block */

/* Items presented in a list */
span.catItemAddLink {
	text-align: left;
}

/* Modified date */
span.catItemDateModified {
	text-align: left;
}

span.catItemEditLink {
	padding: 16px 4px 4px 36px;
	text-align: left;
}

span.genericItemImage {
	margin: 0 0 8px 8px;
}

span.itemDateModified {
	text-align: left;
}

span.itemEditLink {
	padding: 16px 4px 4px 36px;
	text-align: left;
}

span.itemImageCaption {
	float: right;
}

span.itemImageCredits {
	float: left;
}

span.itemTwitterLink a {
	padding: 2px 20px 0 0;
}

span.latestItemImage {
	margin: 0 0 8px 8px;
}

span.ubUserEmail {
	margin: 0 0 0 2px;
}

span.userItemAddLink {
	border-bottom: 2px dashed #ddd;
	display: block;
	margin: 0 0 4px 0;
	padding: 4px;
	text-align: right;
}

span.userItemEditLink {
	padding: 16px 0 4px 36px;
	text-align: left;
}

span.userItemImage {
	margin: 0 0 8px 8px;
}

/* --- Extra fields: CSV data styling --- */
/* Root level (0) */
/* First level (1) */
/* --- Clearing --- */
/* Heading ---*/
/* --- Zebra rows --- */
/* --- Rating --- */
.itemRatingForm {
	float: right;
}

.itemRatingList {
	background-position: right top;
	float: right;
}

.itemRatingList a,
.itemRatingList .itemCurrentRating {
	left: auto;
	right: 0;
}

.itemRatingList a {
	direction: ltr;
}

.itemRatingList a:hover { background-position: right bottom; }

.itemRatingList,
.itemRatingList a:hover,
.itemRatingList .itemCurrentRating {background-position: right -1000px !important;}

.itemRatingList .itemCurrentRating {
	background-position: right center !important;
}

.itemRatingList {
	background-position: right top !important;
}

.itemRatingList a:hover {background-position: right bottom !important;}

.itemRatingList .itemCurrentRating {
	background-position: right center !important;
}

.itemRatingLog {
	float: right;
	padding: 0 4px 0 0;
}

/*----------------------------------------------------------------------
	Component: Register & profile page views (register.php & profile.php)
----------------------------------------------------------------------*/
.k2AccountPage div.k2AccountPageUpdate {
	text-align: right;
}

/* Profile edit */
/* --- Avatars --- */
.k2Avatar img {
	float: right;
	margin: 2px 0 4px 4px;
}

/* --- General padding --- */
/* Page count ---*/
/* --- ReCaptcha --- */
/* --- CSS added with Javascript --- */
/* --- Global K2 container --- */
/* --- Google Search --- */
#k2Container div.gsc-branding-text { text-align: left; }