/*----------------------------------------------------------------------
	Common Elements
----------------------------------------------------------------------*/
/* --- Basic typography --- */

a:active, a:focus { outline: 0; }

a.delicious { background-image: url(../images/social/delicious_16.png); }
a.digg { background-image: url(../images/social/digg_16.png); }
a.facebook { background-image: url(../images/social/facebook_16.png); }
a.googlebuzz { background-image: url(../images/social/googlebuzz_16.png); }

/* --- Read more --- */
a.k2ReadMore { }

a.k2ReadMore:hover { }

a.myspace { background-image: url(../images/social/myspace_16.png); }

a.reddit { background-image: url(../images/social/reddit_16.png); }

a.stumble {
	background-image: url(../images/social/stumbleupon_16.png);
}

a.technorati {
	background-image: url(../images/social/technorati_16.png);
}

a.ubUserFeedIcon span,
a.ubUserFeedIcon:hover span { display: none; }

a.ubUserFeedIcon,
a.ubUserFeedIcon:hover {
	background: url(../images/fugue/feed.png) no-repeat 50% 50%;
	display: inline-block;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
	width: 16px;
}

a.ubUserURL span,
a.ubUserURL:hover span { display: none; }

a.ubUserURL,
a.ubUserURL:hover {
	background: url(../images/fugue/globe.png) no-repeat 50% 50%;
	display: inline-block;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
	width: 16px;
}

body.contentpane #k2Container { padding: 16px; }

div#itemListLeading { }

div#itemListLinks {
	background: #f7fafe;
	border: 1px solid #ddd;
	margin: 8px 0;
	padding: 8px;
}

div#itemListPrimary { }

div#itemListSecondary { }

div.catItemAttachmentsBlock { border-bottom: 1px dotted #ccc; padding: 4px; }

div.catItemAttachmentsBlock span { color: #555; font-weight: bold; padding: 0 4px 0 0; }

div.catItemAttachmentsBlock ul.catItemAttachments {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.catItemAttachmentsBlock ul.catItemAttachments li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 4px;
	text-align: center;
}

div.catItemAttachmentsBlock ul.catItemAttachments li a { }

div.catItemAttachmentsBlock ul.catItemAttachments li a:hover { }

div.catItemAttachmentsBlock ul.catItemAttachments li span { color: #999; font-size: 10px; font-weight: normal; }

div.catItemBody { margin: 0; padding: 0; }

div.catItemCategory { }

div.catItemCategory a { }

div.catItemCategory span { }

/* Anchor link to comments */
div.catItemCommentsLink {
	border-right: 1px solid #ccc;
	display: inline;
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
}

div.catItemCommentsLink a { }

div.catItemCommentsLink a:hover { }

div.catItemExtraFields h4, div.genericItemExtraFields h4 {
	line-height: normal !important;
	margin: 0;
	padding: 0 0 8px 0;
}

div.catItemExtraFields ul li span.catItemExtraFieldsLabel,
div.genericItemExtraFields ul li span.genericItemExtraFieldsLabel {
	display: block;
	float: left;
	font-weight: bold;
	margin: 0 4px 0 0;
	width: 30%;
}

div.catItemExtraFields ul li span.catItemExtraFieldsValue { }

div.catItemExtraFields ul li, div.genericItemExtraFields ul li { display: block; }

div.catItemExtraFields ul, div.genericItemExtraFields ul { list-style: none; margin: 0; padding: 0; }

div.catItemExtraFields, div.genericItemExtraFields {
	border-top: 1px dotted #ddd;
	margin: 16px 0 0 0;
	padding: 8px 0 0 0;
}

div.catItemBlogHeader { min-height: 60px; }

div.catItemHeader h3.catItemTitle,
div.catItemBlogHeader h3.catItemTitle {
	font-size: 200%;
	font-weight: 500;
	line-height: 1.1;
	margin: 0;
	padding: 0 0 0 110px;
}

div.catItemHeader h3.catItemTitle {
	padding-left: 0;
}

div.catItemHeader h3.catItemTitle span { }

div.catItemHeader h3.catItemTitle span sup { color: #CF1919; font-size: 12px; text-decoration: none; }

div.catItemHeader span.catItemAuthor { display: block; margin: 0; padding: 0; }

div.catItemHeader span.catItemAuthor a { }

div.catItemHeader span.catItemAuthor a:hover { }

div.catItemHeader span.catItemDateCreated { color: #999; font-size: 11px; }

div.catItemHitsBlock { border-bottom: 1px dotted #ccc; padding: 4px; }

div.catItemImageBlock { margin: 0 0 16px 0; padding: 8px; }

/* Image Gallery */
div.catItemImageGallery { margin: 0 0 16px 0; padding: 0; }

div.catItemIntroText { font-weight: normal; padding: 00; }

div.catItemIntroText img { }

div.catItemIntroText p { margin-bottom: 0; }

div.catItemIsFeatured { }

div.catItemLinks { margin: 0 0 16px 0; padding: 0; }

div.catItemRatingBlock { padding: 8px 0; }

div.catItemRatingBlock span {
	color: #999;
	display: block;
	float: left;
	font-style: normal;
	margin: 0;
	padding: 0 4px 0 0;
}

/* Read more link */
div.catItemReadMore {
	display: inline;
	float: right;
	font-weight: bold;
	margin: 10px 0;
	text-transform: uppercase;
}

div.catItemReadMore a {
	background: url(../images/button-corner-small2.png) no-repeat left top;
	color: #DDEBF6;
	display: block;
	font-size: 10px;
	padding: 4px 5px 4px 15px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

div.catItemReadMore a:hover { color: #fff; text-decoration: none; }

div.catItemTagsBlock {
	border-top: 1px dotted #ccc;
	margin-top: 15px;
	padding: 8px 0 0;
}

div.catItemTagsBlock span { color: #555; font-weight: bold; padding: 0 4px 0 0; }

div.catItemTagsBlock ul.catItemTags {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.catItemTagsBlock ul.catItemTags li {
	background: #DAEBF5;
	border: 1px solid #C8DEF0;
	display: inline;
	font-size: 92%;
	list-style: none;
	margin: 0 2px 0 0;
	padding: 2px 5px;
	text-align: center;
}

div.catItemTagsBlock ul.catItemTags li a { }

div.catItemTagsBlock ul.catItemTags li a:hover { }

div.catItemTools {
	background: url(../images/article-info.png) no-repeat left top;
	height: 71px;
	left: -42px;
	position: absolute;
	top: 0;
	width: 135px;
}

div.catItemTools .catItemCategory { font-size: 92%; }

div.catItemTools .catItemDateCreated {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 230%;
	line-height: 1;
	padding: 5px 0 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

div.catItemTools .catItemInfo { color: #fff; padding-left: 25px; }

div.catItemTools a { color: #5997CB; text-decoration: none; }

div.catItemTools a:hover,
div.catItemTools a:focus,
div.catItemTools a:active { color: #fff; text-decoration: underline; }

div.catItemTools span.date { font-weight: bold; }

div.catItemTools span.month { font-weight: normal; }

/* Video */
div.catItemVideoBlock {
	background: url(../images/system/videoplayer-bg.gif) repeat-x bottom #010101;
	margin: 0 0 16px 0;
	padding: 16px;
}

div.catItemVideoBlock div.catItemVideoEmbedded { text-align: center; }

div.catItemVideoBlock span.catItemVideo { display: block; }

/* Item block for each item group --- */
div.catItemView {
	border-bottom: 1px solid #DBE8F4;
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: relative;
}

/*----------------------------------------------------------------------
	Component: Itemlist view (generic)
----------------------------------------------------------------------*/
div.genericItemView {
	border-bottom: 1px dotted #ccc;
	margin: 0 0 16px 0;
	padding: 0;
	position: relative;
}

div.genericItemTools {
	background: url(../images/article-info.png) no-repeat left top;
	height: 71px;
	left: -42px;
	position: absolute;
	top: 0;
	width: 135px;
}

div.genericItemTools .genericItemInfo {
	color: #fff;
	padding-left: 25px;
}

div.genericItemTools .genericItemDateCreated {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 230%;
	line-height: 1;
	padding: 5px 0 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

div.genericItemCategory { font-size: 92%; }

div.genericItemCategory a { color: #5997CB; text-decoration: none; }

div.genericItemCategory a:hover,
div.genericItemCategory a:focus,
div.genericItemCategory a:active {
	color: #fff;
	text-decoration: underline;
}

div.genericItemCategory span { }

div.genericItemHeader { padding-left: 110px; min-height: 60px; }

div.genericItemHeader h2.genericItemTitle {
	font-size: 200%;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

div.genericItemHeader span.genericItemDateCreated { color: #999; font-size: 11px; }

div.genericItemImageBlock { float: left; margin: 0; padding: 0; }

div.genericItemBody { margin: 0; padding: 8px 0; }

div.genericItemIntroText {
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
	padding: 4px 0 12px 0;
}

div.genericItemIntroText img { }

/* Read more link */
div.genericItemReadMore { 
	display: inline;
	float: right;
	font-weight: bold;
	margin: 10px 0;
	text-transform: uppercase;
}

div.genericItemReadMore a {
	background: url(../images/button-corner-small2.png) no-repeat left top;
	color: #DDEBF6;
	display: block;
	font-size: 10px;
	padding: 4px 5px 4px 15px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

div.genericItemReadMore a:hover { color: #fff; }

/* Additional class appended to the element above for further styling per group item */
div.groupLeading { }

div.groupLinks { margin: 0; padding: 0; }

div.groupPrimary { }

div.groupSecondary { }

div.itemAttachmentsBlock { border-bottom: 1px dotted #ccc; padding: 4px; }

div.itemAttachmentsBlock span { color: #555; font-weight: bold; padding: 0 4px 0 0; }

div.itemAttachmentsBlock ul.itemAttachments {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.itemAttachmentsBlock ul.itemAttachments li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 4px;
	text-align: center;
}

div.itemAttachmentsBlock ul.itemAttachments li a { }

div.itemAttachmentsBlock ul.itemAttachments li a:hover { }

div.itemAttachmentsBlock ul.itemAttachments li span { color: #999; font-size: 10px; font-weight: normal; }

/* Author block */
div.itemAuthorBlock {
	background: #E6F0F9;
	border: 1px solid #C8DEF0;
	margin: 0 0 16px 0;
	padding: 8px;
}

div.itemAuthorBlock div.itemAuthorDetails { margin: 0; padding: 4px 0 0 0; }

div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName { margin: 0 0 4px 0; padding: 0; }

div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName a { font-size: 16px; }

div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName a:hover { }

div.itemAuthorBlock div.itemAuthorDetails p { }

div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail { color: #555; font-weight: bold; }

div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl {
	color: #555;
	font-weight: bold;
	margin: 0 4px 0 0;
	padding: 0 8px 0 0;
}

div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl a,
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail a { font-weight: normal; }

div.itemAuthorBlock img.itemAuthorAvatar {
	background: #fff;
	border: 1px solid #C8DEF0;
	display: block;
	float: left;
	margin: 0 8px 0 0;
	padding: 4px;
}

/* Related by tag */
div.itemAuthorLatest { margin-bottom: 20px; padding: 0; }

div.itemAuthorLatest h3 span {
	border-bottom: 2px solid #c8def0;
	color: #37628c;
	padding-bottom: 1px;
}

div.itemAuthorLatest li { background: none; border: 0; padding: 0; }

div.itemAuthorLatest li a {
	background: url(../images/bullet3.gif) no-repeat 5px 5px;
	color: #666;
	padding: 0 0 0 15px;
}

div.itemAuthorLatest li a:hover,
div.itemAuthorLatest li a:focus,
div.itemAuthorLatest li a:active {
	background-image: url(../images/bullet3-hover.gif);
	color: #5292C9;
}

/* Back to top link */
div.itemBackToTop { text-align: right; }

div.itemBackToTop a { text-decoration: underline; }

div.itemBackToTop a:hover { text-decoration: underline; }

div.itemBody { margin: 0; padding: 0; }

div.itemCategory { }

div.itemCategory a { }

div.itemCategory span { color: #555; font-weight: bold; padding: 0 4px 0 0; }

/* Comments */
div.itemComments {
	background: #f7fafe;
	border: 1px solid #ddd;
	padding: 16px;
}

div.itemComments ul.itemCommentsList { list-style: none; margin: 0 0 16px; padding: 0; }

div.itemComments ul.itemCommentsList li {
	border-bottom: 1px dotted #ddd;
	margin: 0;
	padding: 4px;
}

div.itemComments ul.itemCommentsList li img {
	background: #fff;
	border-bottom: 1px solid #d7d7d7;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	float: left;
	margin: 4px 4px 4px 0;
	padding: 4px;
}

div.itemComments ul.itemCommentsList li p { padding: 4px 0; }

div.itemComments ul.itemCommentsList li span.commentAuthorEmail { display: none; }

div.itemComments ul.itemCommentsList li span.commentAuthorName { font-size: 14px; font-weight: bold; }

div.itemComments ul.itemCommentsList li span.commentDate {
	border-right: 1px solid #ccc;
	font-size: 14px;
	font-weight: bold;
	margin: 0 8px 0 0;
	padding: 0 4px 0 0;
}

div.itemComments ul.itemCommentsList li span.commentLink { float: right; }

div.itemComments ul.itemCommentsList li span.commentLink a {
	color: #999;
	font-size: 11px;
	text-decoration: underline;
}

div.itemComments ul.itemCommentsList li span.commentLink a:hover {
	color: #555;
	font-size: 11px;
	text-decoration: underline;
}

div.itemComments ul.itemCommentsList li.authorResponse { background: url(../images/system/stripes.png) repeat; }

div.itemCommentsForm form { }

div.itemCommentsForm form .formLogLoading {
	background: url(../images/system/loading.gif) no-repeat left center;
}

div.itemCommentsForm form input#submitCommentButton {
	background: #eee;
	border: 1px solid #ccc;
	display: block;
	font-size: 16px;
	margin: 16px 0 0 0;
	padding: 4px;
}

div.itemCommentsForm form input.inputbox { display: block; margin: 0; width: 350px; }

div.itemCommentsForm form label.formComment { display: block; margin: 12px 0 0 2px; }

div.itemCommentsForm form label.formEmail { display: block; margin: 12px 0 0 2px; }

div.itemCommentsForm form label.formName { display: block; margin: 12px 0 0 2px; }

div.itemCommentsForm form label.formRecaptcha { display: block; margin: 12px 0 0 2px; }

div.itemCommentsForm form label.formUrl { display: block; margin: 12px 0 0 2px; }

div.itemCommentsForm form span#formLog {
	color: #CF1919;
	font-weight: bold;
	margin: 0 0 0 20px;
	padding: 0 0 0 20px;
}

div.itemCommentsForm form textarea.inputbox { display: block; height: 160px; margin: 0; width: 350px; }

div.itemCommentsForm h3 { margin: 0; padding: 0 0 4px 0; }

div.itemCommentsForm p.itemCommentsFormNotes { border-top: 2px solid #ccc; }

div.itemCommentsPagination { margin: 0 0 24px 0; padding: 4px; }

div.itemCommentsPagination span.pagination { clear: both; display: block; float: right; }

div.itemContainer { float: left; }

div.itemContainerLast { }

/* Extra fields */
div.itemExtraFields {
	border-top: 1px dotted #ddd;
	margin: 16px 0 0 0;
	padding: 8px 0 0 0;
}

div.itemExtraFields h3 {
	line-height: normal !important;
	margin: 0;
	padding: 0 0 8px 0;
}

div.itemExtraFields ul { list-style: none; margin: 0; padding: 0; }

div.itemExtraFields ul li { display: block; }

div.itemExtraFields ul li span.itemExtraFieldsLabel {
	display: block;
	float: left;
	font-weight: bold;
	margin: 0 4px 0 0;
	width: 30%;
}

div.itemExtraFields ul li span.itemExtraFieldsValue { }

/* Full text ---*/
div.itemFullText { }

div.itemFullText h3 { margin: 0; padding: 16px 0 4px 0; }

div.itemFullText img { }

div.itemFullText p { }

/* Item header ---*/
div.itemBlogHeader {
	padding-left: 110px;
	min-height: 60px;
}

div.itemHeader { }

div.itemHeader h2.itemTitle,
div.itemHeader h2.itemBlogTitle {
	font-size: 200%;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

div.itemHeader h2.itemTitle span { }

div.itemHeader h2.itemTitle span sup { color: #CF1919; font-size: 12px; text-decoration: none; }

div.itemHeader span.itemAuthor { display: block; margin: 0; padding: 0; }

div.itemHeader span.itemAuthor a { }

div.itemHeader span.itemAuthor a:hover { }

div.itemHeader span.itemDateCreated { color: #999; font-size: 11px; }

.itemView div.ja-social-toolbox-large { left: -107px; }

/* Item hit twitter ---*/
div.itemHitsTwitter { border-bottom: 1px dotted #C8DEF0; padding: 4px; }

div.itemImageBlock { margin: 0 0 16px 0; padding: 8px; }

/* Image Gallery */
div.itemImageGallery { margin: 0 0 16px 0; padding: 0; }

/* Intro text ---*/
div.itemIntroText {
	color: #4377AA;
	font-size: 110%;
	font-weight: bold;
	margin-top: 15px;
	padding: 0;
}

div.itemIntroText img { }

div.itemIntroText p { margin-top: 0; }

div.itemIsFeatured { }

/* --- Featured flags: the classes are repeated further below to indicate placement in the CSS structure --- */
div.itemIsFeatured,
div.catItemIsFeatured,
div.userItemIsFeatured {
	background: url(../images/system/featuredItem.png) no-repeat 100% 0;
}

div.itemLinks { margin: 0 0 16px 0; padding: 0; }

/* --- Item groups --- */
div.itemList { }

/*----------------------------------------------------------------------
	Component: Itemlist view (category)
----------------------------------------------------------------------*/
div.itemListCategoriesBlock { }

/* --- Category block --- */
div.itemListCategory {
	background: #E6F0F9;
	border: 1px solid #C7DDEF;
	margin: 0 0 30px;
	padding: 15px;
}

div.itemListCategory h2 { margin: 0; }

div.itemListCategory img {
	background: #fff;
	border: 1px solid #ddd;
	display: block;
	float: left;
	margin: 0 15px 0 0;
	padding: 4px;
}

div.itemListCategory p { margin: 10px 0 0; }

/* --- Sub-category block --- */
div.itemListSubCategories { }

div.itemListSubCategories h3 { }

/* Article navigation */
div.itemNavigation {
	border-top: 1px dotted #C8DEF0;
	margin: 0 0 24px 0;
	padding: 4px 8px;
}

div.itemNavigation a.itemNext { float: right; padding: 0; }

div.itemNavigation a.itemPrevious { float: left; padding: 0; }

div.itemNavigation span.itemNavigationTitle {
	color: #999;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

div.itemRatingBlock { padding: 8px 0 0; overflow: hidden; }

div.itemRatingBlock span {
	color: #999;
	display: block;
	float: left;
	font-style: normal;
	margin: 0;
	padding: 0 4px 0 0;
	overflow: hidden;
}

div.itemRatingForm .formLogLoading {
	background: url(../images/system/loading.gif) no-repeat left center;
	height: 25px;
	padding: 0 0 0 20px;
}

/* Author latest */
div.itemRelated { margin-bottom: 16px; padding: 0; }

div.itemRelated h3 span {
	border-bottom: 2px solid #c8def0;
	color: #37628c;
	padding-bottom: 1px;
}

div.itemRelated li { background: none; border: 0; padding: 0; }

div.itemRelated li a {
	background: url(../images/bullet3.gif) no-repeat 5px 5px;
	color: #666;
	padding: 0 0 0 15px;
}

div.itemRelated li a:hover,
div.itemRelated li a:focus,
div.itemRelated li a:active {
	background-image: url(../images/bullet3-hover.gif);
	color: #5292C9;
}

/* Item social links block ---*/
div.itemSocialLinksBlock { border-bottom: 1px dotted #C8DEF0; padding: 6px 0; }

div.itemSocialLinksBlock span {
	color: #555;
	display: block;
	float: left;
	font-weight: bold;
	padding: 0 4px 0 0;
}

div.itemSocialLinksBlock ul.itemSocialLinks { float: left; list-style: none; margin: 0; padding: 0; }

div.itemSocialLinksBlock ul.itemSocialLinks li {
	background: none;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 4px;
}

div.itemSocialLinksBlock ul.itemSocialLinks li a {
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
}

div.itemSocialLinksBlock ul.itemSocialLinks li a span { display: none; }

div.itemSocialLinksBlock ul.itemSocialLinks li a:hover { }

div.itemTagsBlock { border-bottom: 1px dotted #C8DEF0; padding: 6px 0; }

div.itemTagsBlock span { color: #555; font-weight: bold; padding: 0 4px 0 0; }

div.itemTagsBlock ul.itemTags {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.itemTagsBlock ul.itemTags li {
	background: #DAEBF5;
	border: 1px solid #C8DEF0;
	display: inline;
	font-size: 92%;
	list-style: none;
	margin: 0 2px 0 0;
	padding: 2px 5px;
	text-align: center;
}

div.itemTagsBlock ul.itemTags li a { }

div.itemTagsBlock ul.itemTags li a:hover { }

/* Item toolbar ---*/
div.itemToolbar {
	border-bottom: 1px dotted #C8DEF0;
	color: #666;
	margin: 16px 0 0 0;
	padding: 4px 0;
}

div.itemToolbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

div.itemToolbar ul li {
	background: none;
	border-left: 1px solid #ccc;
	display: inline;
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 0 4px 0 8px;
	text-align: center;
}

div.itemToolbar ul li a { font-size: 12px; font-weight: normal; }

div.itemToolbar ul li a img { vertical-align: middle; }

div.itemToolbar ul li a span { }

div.itemToolbar ul li a#fontDecrease { margin: 0 0 0 2px; }

div.itemToolbar ul li a#fontDecrease img {
	background: url(../images/system/font_decrease.gif) no-repeat;
	height: 13px;
	width: 13px;
}

div.itemToolbar ul li a#fontDecrease span,
div.itemToolbar ul li a#fontIncrease span { display: none; }

div.itemToolbar ul li a#fontIncrease { margin: 0 0 0 2px; }

div.itemToolbar ul li a#fontIncrease img {
	background: url(../images/system/font_increase.gif) no-repeat;
	height: 13px;
	width: 13px;
}

div.itemToolbar ul li a.itemCommentsLink { }

div.itemToolbar ul li a.itemCommentsLink span { }

div.itemToolbar ul li a.itemEmailLink { }

div.itemToolbar ul li a.itemEmailLink span { }

div.itemToolbar ul li a.itemImageGalleryLink { }

div.itemToolbar ul li a.itemImageGalleryLink span { }

div.itemToolbar ul li a.itemPrintLink { }

div.itemToolbar ul li a.itemPrintLink span { }

div.itemToolbar ul li a.itemVideoLink { }

div.itemToolbar ul li a.itemVideoLink span { }

div.itemToolbar ul li a:hover { }

div.itemToolbar ul li span,
div.itemToolbar ul li a { font-size: 92%; }

div.itemToolbar ul li span.itemTextResizerTitle { }

div.itemToolbar ul.itemButton > li:first-child { border: 0; }

div.itemToolbar ul.itemMeta { display: block; float: left; }

div.itemToolbar ul.itemMeta > li:last-child { border: 0; }

div.itemToolbar ul.itemMeta li {
	background: none;
	border-left: 0;
	border-right: 1px solid #ddd;
	margin: 0 5px 0 0;
	padding: 0 5px 0 0 !important;
}

/* Item Tools ---*/
div.itemTools {
	background: url(../images/article-info.png) no-repeat left top;
	height: 71px;
	left: -42px;
	position: absolute;
	top: 0;
	width: 135px;
}

div.itemTools .itemAuthor { font-size: 92%; }

div.itemTools .itemAuthor a { color: #5997CB; text-decoration: none; }

div.itemTools .itemAuthor a:hover,
div.itemTools .itemAuthor a:focus,
div.itemTools .itemAuthor a:active { color: #fff; text-decoration: underline; }

div.itemTools .itemDateCreated {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 230%;
	line-height: 1;
	padding: 5px 0 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

div.itemTools .itemInfo { color: #fff; padding-left: 25px; }

div.itemTools a { color: #5997CB; text-decoration: none; }

div.itemTools a:hover,
div.itemTools a:focus,
div.itemTools a:active { color: #fff; text-decoration: underline; }

div.itemTools span.date { font-weight: bold; }

div.itemTools span.month { font-weight: normal; }

/* Video */
div.itemVideoBlock {
	background: #010101 url(../images/system/videoplayer-bg.gif) repeat-x bottom;
	margin: 0 0 16px 0;
	padding: 16px;
}

div.itemVideoBlock div.itemVideoEmbedded { text-align: center; }

div.itemVideoBlock span.itemVideo { display: block; overflow: hidden; }

div.itemVideoBlock span.itemVideoCaption {
	color: #eee;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: bold;
	width: 60%;
}

div.itemVideoBlock span.itemVideoCredits {
	color: #eee;
	display: block;
	float: right;
	font-size: 11px;
	font-style: italic;
	text-align: right;
	width: 35%;
}

/*----------------------------------------------------------------------
	COMPONENT: ITEM VIEW
----------------------------------------------------------------------*/
div.itemView { margin: 20px 0 24px 0; padding: 0; }

/*----------------------------------------------------------------------
	Modules: mod_k2_tools
----------------------------------------------------------------------*/
/* --- Archives --- */
div.k2ArchivesBlock { }

div.k2ArchivesBlock ul { }

div.k2ArchivesBlock ul li { }

div.k2ArchivesBlock ul li a { }

div.k2ArchivesBlock ul li a:hover { }

/* --- Authors --- */
div.k2AuthorsListBlock { }

div.k2AuthorsListBlock ul { }

div.k2AuthorsListBlock ul li { }

div.k2AuthorsListBlock ul li a.abAuthorAvatar img { }

div.k2AuthorsListBlock ul li a.abAuthorLatestItem { clear: both; display: block; }

div.k2AuthorsListBlock ul li a.abAuthorLatestItem:hover { }

div.k2AuthorsListBlock ul li a.abAuthorName { }

div.k2AuthorsListBlock ul li a.abAuthorName:hover { }

div.k2AuthorsListBlock ul li span.abAuthorCommentsCount { }

/* --- Breadcrumbs --- */
div.k2BreadcrumbsBlock { }

div.k2BreadcrumbsBlock a { }

div.k2BreadcrumbsBlock a:hover { }

div.k2BreadcrumbsBlock span.bcSeparator { font-size: 14px; padding: 0 4px; }

div.k2BreadcrumbsBlock span.bcTitle { color: #999; padding: 0 4px 0 0; }

/* --- Calendar --- */
div.k2CalendarBlock {
	font-size: 92%;
	font-weight: bold;
	height: 190px;
	margin-bottom: 8px;
}

div.k2CalendarLoader {
	background: url(../images/system/k2CalendarLoader.gif) no-repeat 50% 50%;
}

/* --- Category List/Menu --- */
div.k2CategoriesListBlock { }

div.k2CategoriesListBlock ul { }

div.k2CategoriesListBlock ul li { }

div.k2CategoriesListBlock ul li a { }

div.k2CategoriesListBlock ul li a span { }

div.k2CategoriesListBlock ul li a:hover { }

div.k2CategoriesListBlock ul li a:hover span { }

div.k2CategoriesListBlock ul li.activeCategory { }

div.k2CategoriesListBlock ul li.activeCategory a { font-weight: bold; }

/* --- Category Tree Select Box --- */
div.k2CategorySelectBlock { }

div.k2CategorySelectBlock form select { width: auto; }

div.k2CategorySelectBlock form select option { }

/* --- RSS feed icon --- */
div.k2FeedIcon { padding: 4px 8px; }

div.k2FeedIcon a span,
div.k2FeedIcon a:hover span { display: none; }

div.k2FeedIcon a,
div.k2FeedIcon a:hover {
	background: url(../images/fugue/feed.png) no-repeat 50% 50%;
	display: block;
	float: right;
	height: 16px;
	margin: 0;
	padding: 0;
	width: 16px;
}

/*----------------------------------------------------------------------
	Modules: mod_k2_content
----------------------------------------------------------------------*/
div.k2ItemsBlock { }

div.k2ItemsBlock a.moduleCustomLink { }

div.k2ItemsBlock a.moduleCustomLink:hover { }

div.k2ItemsBlock p.modulePretext { }

div.k2ItemsBlock ul { }

div.k2ItemsBlock ul li { }

div.k2ItemsBlock ul li a { }

div.k2ItemsBlock ul li a.moduleItemAuthorAvatar img { }

div.k2ItemsBlock ul li a.moduleItemCategory { }

div.k2ItemsBlock ul li a.moduleItemComments {
	border-right: 1px solid #ccc;
	margin: 0 8px 0 0;
	padding: 0 4px 0 0;
}

div.k2ItemsBlock ul li a.moduleItemComments:hover { }

div.k2ItemsBlock ul li a.moduleItemReadMore { }

div.k2ItemsBlock ul li a.moduleItemReadMore:hover { }

div.k2ItemsBlock ul li a.moduleItemTitle { }

div.k2ItemsBlock ul li a.moduleItemTitle:hover { }

div.k2ItemsBlock ul li a:hover { }

div.k2ItemsBlock ul li div.moduleAttachments { }

div.k2ItemsBlock ul li div.moduleItemAuthor { }

div.k2ItemsBlock ul li div.moduleItemAuthor a { }

div.k2ItemsBlock ul li div.moduleItemAuthor a:hover { }

div.k2ItemsBlock ul li div.moduleItemExtraFields { }

div.k2ItemsBlock ul li div.moduleItemIntrotext { display: block; line-height: 120%; padding: 4px 0; }

div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img {
	border: 2px solid #ddd;
	float: right;
	margin: 2px 0 4px 4px;
	padding: 0;
}

div.k2ItemsBlock ul li div.moduleItemTags { }

div.k2ItemsBlock ul li div.moduleItemTags a { padding: 0 2px; }

div.k2ItemsBlock ul li div.moduleItemTags a:hover { }

div.k2ItemsBlock ul li div.moduleItemTags b { }

div.k2ItemsBlock ul li div.moduleItemVideo { }

div.k2ItemsBlock ul li div.moduleItemVideo span.moduleItemVideoCaption { }

div.k2ItemsBlock ul li div.moduleItemVideo span.moduleItemVideoCredits { }

div.k2ItemsBlock ul li span.moduleItemDateCreated { }

div.k2ItemsBlock ul li span.moduleItemHits {
	border-right: 1px solid #ccc;
	margin: 0 8px 0 0;
	padding: 0 4px 0 0;
}

div.k2ItemsBlock ul li.lastItem { }

/*----------------------------------------------------------------------
	Modules: mod_k2_comments
----------------------------------------------------------------------*/
/* Latest Comments */
div.k2LatestCommentsBlock { }

div.k2LatestCommentsBlock ul { }

div.k2LatestCommentsBlock ul li { }

div.k2LatestCommentsBlock ul li a { }

div.k2LatestCommentsBlock ul li a.lcAvatar img { }

div.k2LatestCommentsBlock ul li a:hover { }

div.k2LatestCommentsBlock ul li span.lcComment { }

div.k2LatestCommentsBlock ul li span.lcCommentDate { color: #999; }

div.k2LatestCommentsBlock ul li span.lcItemCategory { }

div.k2LatestCommentsBlock ul li span.lcItemTitle { }

div.k2LatestCommentsBlock ul li span.lcUsername { }

div.k2LatestCommentsBlock ul li,
div.k2TopCommentersBlock ul li,
div.k2ItemsBlock ul li,
div.k2LoginBlock ul li,
div.k2UserBlock ul.k2UserBlockActions li,
div.k2UserBlock ul li,
div.k2ArchivesBlock ul li,
div.k2AuthorsListBlock ul li,
div.k2CategoriesListBlock ul li,
div.k2UsersBlock ul li { }

div.k2LatestCommentsBlock ul li.lastItem { }

/* --- Primary lists in modules --- */
div.k2LatestCommentsBlock ul,
div.k2TopCommentersBlock ul,
div.k2ItemsBlock ul,
div.k2LoginBlock ul,
div.k2UserBlock ul.k2UserBlockActions,
div.k2UserBlock ul,
div.k2ArchivesBlock ul,
div.k2AuthorsListBlock ul,
div.k2CategoriesListBlock ul,
div.k2UsersBlock ul { }

/*----------------------------------------------------------------------
	Modules: mod_k2_login
----------------------------------------------------------------------*/
div.k2LoginBlock { }

div.k2LoginBlock fieldset.input { margin: 0; padding: 0; }

div.k2LoginBlock fieldset.input input.button {
	background: #4377AA;
	color: #fff;
	font-size: 92%;
	font-weight: bold;
	text-shadow: 0 1px 1px #37628C;
}

div.k2LoginBlock fieldset.input p { margin: 0; padding: 0; }

div.k2LoginBlock fieldset.input p input { display: block; }

div.k2LoginBlock fieldset.input p label { display: block; font-weight: bold; }

div.k2LoginBlock fieldset.input p#form-login-remember label,
div.k2LoginBlock fieldset.input p#form-login-remember input { display: inline; }

div.k2LoginBlock p.postText { }

div.k2LoginBlock p.preText { }

div.k2LoginBlock ul { }

div.k2LoginBlock ul li {
	background: url(../images/bullet1.png) no-repeat 0px 6px;
	font-size: 92%;
	margin-bottom: 0;
	padding-left: 10px;
}

div.k2LoginBlock ul li a { color: #e6f0f9 !important; }

div.k2LoginBlock ul li a:hover,
div.k2LoginBlock ul li a:focus,
div.k2LoginBlock ul li a:active { color: #fff !important; }

/* Pagination --- */
div.k2Pagination { color: #999; margin: 0 -30px 0 0; padding: 0; }

div.k2Pagination .pagination {
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
}

/* n level (n) - like the above... */
/* --- Search Box --- */
div.k2SearchBlock { }

div.k2SearchBlock form { }

div.k2SearchBlock form input.button { }

div.k2SearchBlock form input.inputbox { }

/* --- Tag Cloud --- */
div.k2TagCloudBlock { padding: 8px 0; }

div.k2TagCloudBlock a { display: block; float: left; padding: 4px; }

div.k2TagCloudBlock a:hover {
	color: #fff;
	display: block;
	float: left;
	padding: 4px;
	text-decoration: none;
}

/* Top Commenters */
div.k2TopCommentersBlock { }

div.k2TopCommentersBlock ul { }

div.k2TopCommentersBlock ul li { }

div.k2TopCommentersBlock ul li a.tcAvatar img { }

div.k2TopCommentersBlock ul li a.tcLatestComment { }

div.k2TopCommentersBlock ul li a.tcLatestComment:hover { }

div.k2TopCommentersBlock ul li a.tcLink { }

div.k2TopCommentersBlock ul li a.tcLink:hover { }

div.k2TopCommentersBlock ul li span.tcCommentsCounter { }

div.k2TopCommentersBlock ul li span.tcLatestCommentDate { color: #999; }

div.k2TopCommentersBlock ul li span.tcUsername { }

div.k2TopCommentersBlock ul li.lastItem { }

div.k2UserBlock { }

div.k2UserBlock div.k2UserBlockDetails a.ubAvatar img { }

div.k2UserBlock div.k2UserBlockDetails span.ubCommentsCount { }

div.k2UserBlock div.k2UserBlockDetails span.ubName { display: block; font-size: 14px; font-weight: bold; }

div.k2UserBlock form { }

div.k2UserBlock form input.ubLogout { }

div.k2UserBlock p.ubGreeting { border-bottom: 1px dotted #ccc; }

div.k2UserBlock ul.k2UserBlockActions { }

div.k2UserBlock ul.k2UserBlockActions li { }

div.k2UserBlock ul.k2UserBlockActions li a { }

div.k2UserBlock ul.k2UserBlockActions li a:hover { }

/*----------------------------------------------------------------------
	Modules: mod_k2_users
----------------------------------------------------------------------*/
div.k2UsersBlock { }

div.k2UsersBlock ul { }

div.k2UsersBlock ul li { }

div.k2UsersBlock ul li a.ubUserAvatar img { border: 1px solid #84B3DA; margin-right: 10px; }

div.k2UsersBlock ul li a.ubUserName { color: #fff; font-size: 110%; font-weight: bold; }

div.k2UsersBlock ul li a.ubUserName:hover { }

div.k2UsersBlock ul li div.ubUserAdditionalInfo { }

div.k2UsersBlock ul li div.ubUserDescription { }

div.k2UsersBlock ul li h3 {
	clear: both;
	font-size: 100%;
	font-weight: bold;
	margin: 10px 0;
	overflow: visible;
	padding: 0;
}

div.k2UsersBlock ul li h3 span { border-bottom: 2px solid #84B3DA; }

div.k2UsersBlock ul li ul.ubUserItems { margin-top: 0; }

div.k2UsersBlock ul li ul.ubUserItems li { }

div.k2UsersBlock ul li ul.ubUserItems li a { color: #DBE8F4 !important; }

div.k2UsersBlock ul li ul.ubUserItems li a:hover,
div.k2UsersBlock ul li ul.ubUserItems li a:focus,
div.k2UsersBlock ul li ul.ubUserItems li a:active { color: #fff; }

div.k2UsersBlock ul li.lastItem {
	background: none;
	color: #dbe8f4;
	font-size: 92%;
	margin: 0;
	padding: 0;
}

div.latestItemBody { margin: 0; padding: 8px 0; }

div.latestItemCategory { border-bottom: 1px dotted #ccc; padding: 4px; }

div.latestItemCategory a { }

div.latestItemCategory span { color: #555; font-weight: bold; padding: 0 4px 0 0; }

/* Anchor link to comments */
div.latestItemCommentsLink {
	border-right: 1px solid #ccc;
	display: inline;
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
}

div.latestItemCommentsLink a { }

div.latestItemCommentsLink a:hover { }

div.latestItemHeader { }

div.latestItemHeader h3.latestItemTitle {
	font-size: 24px;
	font-weight: normal;
	line-height: 110%;
	margin: 0;
	padding: 10px 0 4px 0;
}

div.latestItemImageBlock { float: left; margin: 0; padding: 0; }

div.latestItemIntroText {
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
	padding: 4px 0 12px 0;
}

div.latestItemIntroText img { }

div.latestItemLinks { margin: 0 0 16px 0; padding: 0; }

/* Latest items list */
div.latestItemList { padding: 0 8px 8px 0; }

/* Read more link */
div.latestItemReadMore { display: inline; }

div.latestItemReadMore a { }

div.latestItemReadMore a:hover { }

/* Category info block */
div.latestItemsCategory {
	background: #f7fafe;
	border: 1px solid #ddd;
	margin: 0 8px 8px 0;
	padding: 8px;
}

div.latestItemsCategory h2 { }

div.latestItemsCategory p { }

div.latestItemsCategoryImage { text-align: center; }

div.latestItemsCategoryImage img {
	background: #fff;
	border: 1px solid #ddd;
	margin: 0 8px 0 0;
	padding: 4px;
}

/*----------------------------------------------------------------------
	Component: Latest view
----------------------------------------------------------------------*/
div.latestItemsContainer { float: left; }

/* User info block */
div.latestItemsUser {
	background: #f7fafe;
	border: 1px solid #ddd;
	clear: both;
	margin: 0 8px 8px 0;
	padding: 8px;
}

div.latestItemsUser h2 { }

div.latestItemsUser img {
	background: #fff;
	border: 1px solid #ddd;
	display: block;
	float: left;
	margin: 0 8px 0 0;
	padding: 4px;
}

div.latestItemsUser p.latestItemsUserAdditionalInfo {
	border-top: 1px dotted #ccc;
	margin: 8px 0 0 0;
	padding: 4px 0;
}

div.latestItemsUser p.ulatestItemsUserDescription { padding: 4px 0; }

div.latestItemTagsBlock { border-bottom: 1px dotted #ccc; padding: 4px; }

div.latestItemTagsBlock span { color: #555; font-weight: bold; padding: 0 4px 0 0; }

div.latestItemTagsBlock ul.latestItemTags {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.latestItemTagsBlock ul.latestItemTags li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 4px 0 0;
	text-align: center;
}

div.latestItemTagsBlock ul.latestItemTags li a { }

div.latestItemTagsBlock ul.latestItemTags li a:hover { }

/* Video */
div.latestItemVideoBlock {
	background: #010101 url(../images/system/videoplayer-bg.gif) repeat-x bottom;
	margin: 0 0 16px 0;
	padding: 16px;
}

div.latestItemVideoBlock span.latestItemVideo { display: block; }

div.latestItemView { }

div.moduleItemExtraFields ul { }

div.moduleItemExtraFields ul li { }

div.moduleItemExtraFields ul li span.moduleItemExtraFieldsLabel {
	display: block;
	float: left;
	font-weight: bold;
	margin: 0 4px 0 0;
	width: 30%;
}

div.moduleItemExtraFields ul li span.moduleItemExtraFieldsValue { }

div.subCategory {
	background: #f7fafe;
	border: 1px solid #ddd;
	margin: 4px;
	padding: 8px;
}

div.subCategory a.subCategoryImage img,
div.subCategory a.subCategoryImage:hover img {
	background: #fff;
	border: 1px solid #ddd;
	margin: 0 8px 0 0;
	padding: 4px;
}

div.subCategory a.subCategoryImage,
div.subCategory a.subCategoryImage:hover { display: block; text-align: center; }

div.subCategory h2 { }

div.subCategory h2 a { }

div.subCategory h2 a:hover { }

div.subCategory p { }

div.subCategoryContainer { float: left; }

div.subCategoryContainerLast { }

div.userBlock {
	background: #E6F0F9;
	border: 1px solid #C8DEF0;
	clear: both;
	margin: 0 0 20px 0;
	padding: 15px;
}

div.userBlock h2 {
	margin: 0;
	padding: 0;
}

div.userBlock img {
	background: #fff;
	border: 1px solid #C8DEF0;
	display: block;
	float: left;
	margin: 0 15px 0 0;
	padding: 4px;
}

div.userBlock p.userAdditionalInfo {
	margin: 8px 0 0 0;
	padding: 4px 0;
}

div.userBlock p.userDescription { margin-top: 0; padding: 4px 0; }

div.userItemBody { margin: 0; padding: 8px 0; }

/* Anchor link to comments */
div.userItemCommentsLink {
	display: inline;
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
}

div.userItemCommentsLink a { }

div.userItemCommentsLink a:hover { }

div.userItemHeader { padding-left: 110px;	min-height: 60px; }

div.userItemHeader h3.userItemTitle {
	font-size: 200%;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

div.userItemHeader h3.userItemTitle span sup { color: #CF1919; font-size: 12px; text-decoration: none; }

div.userItemTools {
	background: url(../images/article-info.png) no-repeat left top;
	height: 71px;
	left: -42px;
	position: absolute;
	top: 0;
	width: 135px;
}

div.userItemTools .userItemInfo { color: #fff; padding-left: 25px; }

div.userItemTools .userItemDateCreated {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 230%;
	line-height: 1;
	padding: 5px 0 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.userItemCategory { color: #fff; font-size: 92%; }

.userItemCategory a { color: #5997CB; text-decoration: none; }

.userItemCategory a:hover,
.userItemCategory a:focus,
.userItemCategory a:active {
	color: #fff;
	text-decoration: underline;
}

div.userItemImageBlock { float: left; margin: 0; padding: 0; }

div.userItemIntroText { padding: 0; }

div.userItemIntroText img { }

div.userItemIsFeatured { }

div.userItemLinks { margin: 0 0 16px 0; padding: 0; }

div.userItemList { }

/* Read more link */
div.userItemReadMore {
	display: inline;
	float: left;
	float: right;
	font-weight: bold;
	margin: 10px 0;
	text-transform: uppercase;
}

div.userItemReadMore a {
	background: url(../images/button-corner-small2.png) no-repeat left top;
	color: #DDEBF6;
	display: block;
	font-size: 10px;
	padding: 4px 5px 4px 15px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

div.userItemReadMore a:hover { color: #fff; }

div.userItemTagsBlock {
	border-top: 1px dotted #ccc;
	margin-top: 15px;
	padding: 8px 0 0;
}

div.userItemTagsBlock span { color: #555; font-weight: bold; padding: 0 4px 0 0; }

div.userItemTagsBlock ul.userItemTags {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.userItemTagsBlock ul.userItemTags li {
	background: #DAEBF5;
	border: 1px solid #C8DEF0;
	display: inline;
	font-size: 92%;
	list-style: none;
	margin: 0 2px 0 0;
	padding: 2px 5px;
	text-align: center;
}

div.userItemTagsBlock ul.userItemTags li a { }

div.userItemTagsBlock ul.userItemTags li a:hover { }

/* User items */
div.userItemView {
	border-bottom: 1px solid #DBE8F4;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

div.userItemViewUnpublished {
	background: #fffff2;
	border: 4px dashed #ccc;
	opacity: 0.9;
	padding: 8px;
}

/*----------------------------------------------------------------------
	Component: Itemlist view (user)
----------------------------------------------------------------------*/
/* User info block */
div.userView { }

/* Items presented in a list */
h2.latestItemTitleList {
	border-bottom: 1px dotted #ccc;
	font-size: 14px;
	line-height: normal;
	margin: 8px 0 2px 0;
	padding: 2px 0;
}

img { border: none; }

img.k2AccountPageImage {
	border: 4px solid #ddd;
	display: block;
	margin: 10px 0;
	padding: 0;
}

span.catItemAddLink {
	border-bottom: 2px dashed #ddd;
	clear: both;
	display: block;
	margin: 0 0 4px 0;
	padding: 4px;
	text-align: right;
}

span.catItemAddLink a { }

span.catItemAddLink a:hover { }

/* Modified date */
span.catItemDateModified {
	border-top: 1px solid #ddd;
	color: #999;
	display: block;
	margin: 4px 0;
	padding: 4px;
	text-align: right;
}

span.catItemEditLink {
	border-bottom: 2px dashed #ddd;
	display: block;
	margin: 0 0 4px 0;
	padding: 16px 36px 4px 4px;
	text-align: right;
}

span.catItemEditLink a { }

span.catItemEditLink a:hover { }

span.catItemHits { }

span.catItemImage { display: block; margin: 0 0 8px 0; text-align: center; }

span.catItemImage img { border: 1px solid #ccc; padding: 8px; }

span.genericItemImage {
	display: block;
	margin: 0 8px 8px 0;
	text-align: center;
}

span.genericItemImage img { border: 1px solid #ccc; padding: 8px; }

span.itemDateModified {
	border-top: 1px dotted #ddd;
	color: #999;
	display: block;
	font-size: 92%;
	margin: 16px 0 4px 0;
	padding: 4px;
	text-align: right;
}

span.itemEditLink {
	border-bottom: 2px dashed #ddd;
	display: block;
	margin: 0 0 4px 0;
	padding: 16px 36px 4px 4px;
	text-align: right;
}

span.itemEditLink a { }

span.itemEditLink a:hover { }

span.itemHits { }

span.itemHitsTwitterSep { color: #ccc; padding: 0 8px; }

span.itemImage { display: block; margin: 0 0 8px 0; text-align: center; }

span.itemImage img { border: 1px solid #ccc; padding: 8px; }

span.itemImageCaption {
	color: #666;
	display: block;
	float: left;
	font-size: 11px;
}

span.itemImageCredits {
	color: #999;
	display: block;
	float: right;
	font-size: 11px;
	font-style: italic;
}

span.itemTwitterLink { }

span.itemTwitterLink a {
	background: url(../images/social/twitter_16.png) no-repeat 0 50%;
	margin: 8px 0;
	padding: 2px 0 0 20px;
	text-decoration: none;
}

span.itemTwitterLink a:hover { text-decoration: none; }

span.latestItemDateCreated { color: #999; font-size: 11px; }

span.latestItemImage {
	display: block;
	margin: 0 8px 8px 0;
	text-align: center;
}

span.latestItemImage img { border: 1px solid #ccc; padding: 8px; }

span.latestItemsUserEmail { color: #555; display: block; font-weight: bold; }

span.latestItemsUserURL { color: #555; display: block; font-weight: bold; }

span.siteRoot { display: none; }

span.ubUserEmail {
	background: url(../images/fugue/mail.png) no-repeat 50% 50%;
	display: inline-block;
	height: 16px;
	margin: 0 2px 0 0;
	overflow: hidden;
	padding: 0;
	width: 16px;
}

span.ubUserEmail a {
	display: inline-block;
	height: 16px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	width: 16px;
}

span.userEmail { color: #555; display: block; font-weight: bold; }

span.userItemAddLink {
	border-bottom: 2px dashed #ddd;
	display: block;
	margin: 0 0 4px 0;
	padding: 4px;
	text-align: right;
}

span.userItemAddLink a { }

span.userItemAddLink a:hover { }

span.userItemEditLink {
	border-bottom: 2px dashed #ddd;
	display: block;
	margin: 0 0 4px 0;
	padding: 16px 36px 4px 4px;
	text-align: right;
}

span.userItemEditLink a { }

span.userItemEditLink a:hover { }

span.userItemImage {
	display: block;
	margin: 0 8px 8px 0;
	text-align: center;
}

span.userItemImage img { border: 1px solid #ccc; padding: 8px; }

span.userURL { color: #555; display: block; font-weight: bold; }

table.calendar { border-collapse: collapse; margin: 0 auto; }

table.calendar tr td {
	border: 1px solid #72A7D4;
	padding: 4px 3px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	vertical-align: middle;
}

table.calendar tr td.calendarCurrentMonth { font-weight: bold; text-transform: uppercase; }

table.calendar tr td.calendarDate { }

table.calendar tr td.calendarDateEmpty { }

table.calendar tr td.calendarDateLinked { background: #72A7D4; padding: 0; }

table.calendar tr td.calendarDateLinked a { display: block; padding: 2px; text-decoration: none; }

table.calendar tr td.calendarDateLinked a:hover {
	color: #fff;
	display: block;
	padding: 2px;
	text-decoration: none;
}

table.calendar tr td.calendarDayName { font-size: 11px; width: 14.2%; }

table.calendar tr td.calendarNavMonthNext { text-align: center; }

table.calendar tr td.calendarNavMonthNext a { font-size: 20px; text-decoration: none; }

table.calendar tr td.calendarNavMonthNext a:hover,
table.calendar tr td.calendarNavMonthNext a:focus,
table.calendar tr td.calendarNavMonthNext a:active { }

table.calendar tr td.calendarNavMonthPrev { text-align: center; }

table.calendar tr td.calendarNavMonthPrev a { font-size: 20px; text-decoration: none; }

table.calendar tr td.calendarNavMonthPrev a:hover,
table.calendar tr td.calendarNavMonthPrev a:focus,
table.calendar tr td.calendarNavMonthPrev a:active { }

table.calendar tr td.calendarToday { background: #37628C; color: #fff; }

table.calendar tr td.calendarTodayLinked { background: #135cae; color: #fff; padding: 0; }

table.calendar tr td.calendarTodayLinked a { color: #fff; display: block; text-decoration: none; }

table.calendar tr td.calendarTodayLinked a:hover {
	background: #BFD9FF;
	display: block;
	text-decoration: none;
}

/* --- Extra fields: CSV data styling --- */
table.csvData { }

table.csvData tr td { }

table.csvData tr th { }

/* Root level (0) */
ul.level0 { }

ul.level0 li { }

ul.level0 li a { }

ul.level0 li a span { }

ul.level0 li a:hover { }

ul.level0 li a:hover span { }

/* First level (1) */
ul.level1 { }

ul.level1 li { }

ul.level1 li a { }

ul.level1 li a span { }

ul.level1 li a:hover { }

ul.level1 li a:hover span { }

.clearList { clear: both; display: none; float: none; }

/* --- Clearing --- */
.clr {
	clear: both;
	display: block;
	float: none;
	height: 0;
	line-height: 0;
}

/* Heading ---*/
.componentheading {
	color: #353535;
	font-size: 250%;
	font-weight: bold;
	margin-bottom: 30px;
}

/* --- Zebra rows --- */
.even {
	background: #fffff0;
	border-bottom: 1px dotted #ccc;
	padding: 2px;
}

/* --- Rating --- */
.itemRatingForm {
	display: block;
	float: left;
	line-height: 16px;
	vertical-align: middle;
}

.itemRatingList {
	background-position: left top;
	float: left;
	height: 16px;
	list-style: none;
	margin: 0 !important;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 80px;
}

.itemRatingList .itemCurrentRating {
	background-position: 0 center;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.itemRatingList a,
.itemRatingList .itemCurrentRating {
	border: none;
	cursor: pointer;
	height: 16px;
	left: 0;
	line-height: 16px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: -1000px;
	top: 0;
}

.itemRatingList a.five-stars { width: 100%; z-index: 2; }

.itemRatingList a.four-stars { width: 80%; z-index: 3; }

.itemRatingList a.one-star { width: 20%; z-index: 6; }

.itemRatingList a.three-stars { width: 60%; z-index: 4; }

.itemRatingList a.two-stars { width: 40%; z-index: 5; }

.itemRatingList a:hover { background-position: left bottom; }

.itemRatingList li, div.catItemTagsBlock ul.catItemTags li { background: none !important; }

.itemRatingList,
.itemRatingList a:hover,
.itemRatingList .itemCurrentRating { background: url(../images/system/transparent_star.png) left -1000px repeat-x !important; }

.itemRatingList .itemCurrentRating { background-position: 0 center !important; }

.itemRatingList { background-position: left top !important; }

.itemRatingList a:hover {background-position:left bottom !important;}

.itemRatingList .itemCurrentRating { background-position: 0 center !important; }

.itemRatingLog {
	float: left;
	font-size: 11px;
	margin: 0;
	padding: 0 0 0 4px;
}

/*----------------------------------------------------------------------
	Component: Register & profile page views (register.php & profile.php)
----------------------------------------------------------------------*/
.k2AccountPage { }

.k2AccountPage div.k2AccountPageNotice { padding: 8px; }

.k2AccountPage div.k2AccountPageUpdate {
	border-top: 1px dotted #ccc;
	margin: 8px 0;
	padding: 10px 0;
	text-align: left;
}

.k2AccountPage div.k2AccountPageUpdate .button { font-weight: bold; }

.k2AccountPage table { }
.k2AccountPage table tr td { }
.k2AccountPage table tr td label { white-space: nowrap; }
.k2AccountPage table tr th { }

/* Profile edit */
.k2AccountPage table.admintable { }
.k2AccountPage table.admintable tr td { }
.k2AccountPage table.admintable tr td span { }
.k2AccountPage table.admintable tr td span label { }

/* --- Avatars --- */
.k2Avatar img {
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	float: left;
	margin: 2px 4px 4px 0;
	padding: 2px;
}

/* --- General padding --- */
.k2Padding { padding: 4px; }

.largerFontSize { font-size: 150%; line-height: 140%; }

.lastItem { border: none; }

.odd {
	background: #fff;
	border-bottom: 1px dotted #ccc;
	padding: 2px;
}

/* Page count ---*/
.pageCount { font-size: 92%; padding-top: 10px; }

/* --- ReCaptcha --- */
.recaptchatable .recaptcha_image_cell,
#recaptcha_table { background-color: #fff !important; }

/* --- CSS added with Javascript --- */
.smallerFontSize { font-size: 100%; line-height: inherit; }

/* --- Global K2 container --- */
#k2Container { padding: 0; position: relative !important; }

/* --- Google Search --- */
#k2Container div.gsc-branding-text { text-align: right; }

#k2Container div.gsc-control { width: 100%; }

#k2Container div.gs-visibleUrl { display: none; }

#recaptcha_response_field {
	background-color: #fff !important;
	border-color: #ccc !important;
}

#recaptcha_table { border-color: #ccc !important; }

/* backend */
#k2FrontendEditToolbar {
	clear: both;	
}

td.button {
	background-image: none !important;	
}

table.toolbar {
	border: 0;
	width: auto;
}

.k2Frontend table, .k2Frontend table th, .k2Frontend table td {
	border-color: #ccc;
}