/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
.column { float: right; }

.column div.ja-moduletable, 
.column div.moduletable, 
.column div.ja-module, 
.column div.module {
	margin-left: -15px;
	margin-right: 0;
}

.ja-inset2 div.ja-moduletable, .ja-inset2 .div.moduletable, .ja-inset2 div.ja-module, .ja-inset2 div.module {
	margin-right: 30px;
	margin-left: 0;
}

.ja-inset1 div.ja-moduletable, .ja-inset1 .div.moduletable, .ja-inset1 div.ja-module, .ja-inset1 div.module {
	margin-right: 0;
	margin-left: 30px;
}

/* MAIN COLUMN
--------------------------------------------------------- */
#ja-mainbody { float: right; }
#ja-current-content, #ja-main { float: left; }

/* SIDE COLUMNS
--------------------------------------------------------- */
/* Right Column ---*/
#ja-right { float: left; }
/* SPOTLIGHT
--------------------------------------------------------- */
.ja-box { float: right; }
.ja-box-right { right: auto; left: 0; }

