/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

/* Ja Twitter Module ---*/

.twitter { padding: 15px 0 !important; }
.twitter h3 { padding: 0 15px !important; }
.ja-twitter { padding: 0; }

.ja-twitter h4 {
	font-size: 92%;
	text-transform: uppercase;
	font-weight: normal;
	font-family: Arial, sans-serif;
	border: none;
	margin: 10px -15px;
	padding: 5px 15px;
	background: none;
}

.ja-twitter-avatar {
	float: left;
	margin-right: 5px;
	padding: 0;
	border: none;
}

.ja-twitter center img { vertical-align: middle; }

div.ja-twitter div.ja-twitter-item {
	margin: 0 0 10px;
	padding: 0 0 10px;
	border-bottom: none;
}

div.ja-twitter div.ja-twitter-source { font-weight: bold; }

div.ja-twitter div.ja-twitter-date { font-size: 92%; color: #fff; text-transform: capitalize; }

div.ja-twitter-image {
	float: left;
}

span.ja-twitter-bubble-arrow {
	float: left;
	width: 10px;
	height: 10px;
	margin-top: 15px;
	background: url(../images/twitter-bubble-arrow.png) no-repeat top left;
}

div.ja-twwitter-desc {
	float: left;
	width: 70%;
	background: url(../images/twitter-bubble-bg.png);
	padding: 10px;
}