/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

/* COMMON STYLE
--------------------------------------------------------- */
body { color: #333; font-family: Helvetica, Arial, sans-serif; }

body#bd { background: url(../images/noise.jpg); color: #333; }

/* Normal links ---*/
a { color: #5292c9; text-decoration: none; }

a:hover, a:active, a:focus { text-decoration: underline; }

#ja-right a {
	color: #fff;
}

#ja-right a:hover,
#ja-right a:focus,
#ja-right a:active {
	text-decoration: underline;
	color: #fff;
}

/* Readon links ---*/
p.readmore { font-size: 92%; margin: 10px 0; float: right; }

p.readmore a {
	background: url(../images/button-corner-small2.png) no-repeat left top;
	color: #DDEBF6;
	display: block;
	font-weight: bold;
	float: left;
	padding: 4px 5px 4px 15px;
	text-transform: uppercase;
}

p.readmore a:hover,
p.readmore a:active,
p.readmore a:focus {
	text-decoration: none;
	color: #fff;
}

.blog-featured p.readmore { float: right; }

.contentheading, .componentheading, h1, h2, h3, h4, h5 {
	font-family: "Trebuchet MS", Arial, sans-serif;
}

h1.componentheading, .componentheading {
	border-bottom: 1px solid #ccc;
	font-weight: normal;
}

h2.contentheading, .contentheading { font-weight: normal; }

.contentheading { font-size: 200%; }

.blog-featured .contentheading {
	font-size: 200%;
	margin-bottom: 10px;
	padding: 0;
}

.jitem-title { font-size: 110%; font-weight: bold; }

/* Others ---*/
hr { border-top: 1px solid #ccc; }


/* FORM
--------------------------------------------------------- */
input, select, textarea, .inputbox {
	padding: 2px;
	font-family: Helvetica, Arial, sans-serif;
	vertical-align: middle;
}

.inputbox,textarea, input {
	border-width: 1px;
	border-style: solid;
	border-color: #CAD7E2;
	background: #fff;
	padding: 5px;
}

.inputbox:hover, .inputbox:focus { background: #fff; }

.button {
	padding: 5px 15px;
	line-height: 17px;
	background: url(../images/button-corner-small.png) no-repeat left top;
	display: block;
	color: #fff;
	border: none;
	cursor: pointer;
	vertical-align: middle;
}

.button:hover,
.button:active,
.button:focus {
	text-decoration: none;
	color: #fff;
	background-image: url(../images/button-corner-small-hover.png);
}

form.poll .button { margin: 10px 0; display: inline; }

form.poll input { margin: 8px 0 5px 0; }

#form-login .button { font-weight: bold; }

/* Search ---*/
form#searchForm { border-top: 1px solid #ccc; }

.searchintro { border-bottom: 1px solid #ccc; }

.results h4 { text-transform: none; font-size: 110%; }

/* Contact ---*/
#component-contact #emailForm { border-top: 1px solid #ccc; padding: 15px 0;}

label[for=contact_email_copy] {
	display: inline;
}

#component-contact #emailForm input,
#component-contact #emailForm textarea {
	margin:  0 0 10px;
}

#component-contact #emailForm button {
	margin: 10px 0 0;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
/* Layout Deco ---*/
.items-leading { border-bottom: 1px solid #ccc; }

.items-row { padding-top: 20px; }

.blog-featured .contentpaneopen { position: relative; }

.contentpaneopen_edit {
	position: relative;
	z-index: 1;	
}

.item-separator, 
.row-separator {
	background: url(../images/dot-b2.gif) repeat-x left bottom;
	display: block;
	height: 20px;
	clear: both;
}

.row-3 .item-separator { background: 0; }

#ja-right a.readmore {
	background: url(../images/readmore-bg-left.png) no-repeat left center;
	padding-left: 15px;
	color: #345b8d;
	display: inline-block;
	font-size: 92%;
	text-transform: capitalize;
}

#ja-right a.readmore span {
	background: url(../images/readmore-bg-right.png) no-repeat right center;
	padding: 3px 15px 3px 0;
	display: inline-block;
}

#ja-right a.readmore:hover,
#ja-right a.readmore:focus,
#ja-right a.readmore:active { text-decoration: none; }

/* Meta ---*/
.article-tools {
	border-top: 1px solid #E7ECF1;
	border-bottom: 1px solid #E7ECF1;
	color: #666;
	padding: 5px 0;
}

.article-tools .dl.article-info {
	float: left;
	width: auto;
}

.article-tools dl.article-info dd {
	background: url(../images/tools-sep.gif) no-repeat right center;
	margin-right: 8px;
}

div.ja-before-content,
div.ja-after-content {
	background: url(../images/afc-bg.gif) repeat-y right top;
	margin-top: 10px;
}

div.ja-before-content .ja-before-inner,
div.ja-after-content .ja-after-inner {
	background: #DEEFF7;
	border: 1px solid #C1DEEC;	
	border-right: 0;
	margin-right: 18px;
	padding: 3px 5px 0;
}

div.ja-social-toolbox-large {
	background: url(../images/toolbox-big-bg.png) no-repeat right bottom;
	position: absolute;
	left: -76px;
	top: 25px;
	padding: 8px 8px 30px 8px;
	width: 60px;
}

div.ja-social-toolbox-large .inner { padding: 0; }

div.ja-social-toolbox-large div.ja-retweet-vertical-home,
div.ja-social-toolbox-large div.ja-retweet-vertical {
	margin: 0 0 0 3px;
	float: none;
}

div.articleCreated { margin-bottom: 10px; text-shadow: 0 1px 1px rgba(0, 0, 0, .3) ; }

div.articleCreated span.date {
	display: block;
	float: left;
	font-size: 220%;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	margin-right: 5px;
	margin-bottom: 10px;
}

div.articleCreated .month,
div.articleCreated .year {
	color: #666;
	display: block;
	line-height: 1;
	text-transform: uppercase;
	font-size: 9px;
}

div.articleCreated .month { padding: 3px 0 1px; }

/* Button small ---*/
.ja-social-toolbox-small { float: left; margin-right: 10px; }

.ja-social-toolbox-small .inner { padding: 0; }

.ja-social-toolbox-small .articleCreated {
	background: url(../images/small-date-bg.png) no-repeat right center;
	color: #fff;
	float: left;
	margin: -3px 10px 0px -5px;
	padding: 4px 10px;
	width: 70px;
}

.ja-social-toolbox-small .articleCreated span.date { margin-bottom: 0; }

.ja-social-toolbox-small .articleCreated span.month,
.ja-social-toolbox-small .articleCreated span.year { color: #fff; }

.contentdescription { }

p.modifydate { color: #999; margin: 10px 0 0; font-size: 92%; }

/*Inline images ---*/
p.img_caption { color: #999; text-transform: uppercase; }

img.img-border {
	background: #FFFFFF;
	border: 1px solid #E2E2E2;
	padding: 5px;
}

.img-style-wrap.style3.img-border { width: auto; }

.img-style-wrap.style3.img-border span.corner { right: 0; }

.img-style-wrap.style3.img-border span.caption {
	bottom: 12px;
	left: 0;
	display: block;
	margin: 0 6px;
	background: url(../images/caption3.png);
	color: #fff;
	padding: 0 15px;
	width: 140px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.img-border.left { margin: 15px 15px 0 0; }

.img-style-wrap.left { margin: 0 15px 0 0; }

.img-border.right { margin: 15px 0 0 15px; }

.img-style-wrap.right { margin: 0 0 0 15px; }

/* Tables ---*/
table.category { margin-bottom: 10px; }

thead tr th {
	background: #333;
	color: #fff;
	padding: 5px;
}

thead tr th a,
thead tr th a:hover,
thead tr th a:focus,
thead tr th a:active { color: #fff; }

.cat-list-row1,
.cat-list-row12,
tr.cat-list-row1 td,
tr.cat-list-row2 td { border-bottom: 1px solid #ccc; padding: 5px; }

.cat-list-row1:hover,
.cat-list-row2:hover { background: #ffffcc; }

.cat-list-row2,
tr.cat-list-row2 td { background-color: #f6f6f6; }

/* Content Toc */
table.contenttoc { border: 1px solid #ccc; }

table.contenttoc td { border-bottom: 1px dotted #ccc; }

table.contenttoc th {
	background: #f6f6f6;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
}

/* Poll */
form#poll { border-bottom: 1px dotted #ccc; font-weight: bold; }

dl.poll { border-bottom: 1px dotted #ccc; }

table.pollstableborder td {
	background: #f6f6f6;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding: 5px !important;
}

table.pollstableborder tr.sectiontableentry0 td,
table.pollstableborder tr.sectiontableentry1 td { background: #fff; font-weight: normal; }

/* Pagination ---*/
.pagination ul {
	background: url(../images/dot-b.gif) repeat-x left top #DAEBF5;
	width: 100%;
	position: relative;
}

.pagination ul li {
	background: none !important;
	text-transform: uppercase;
	font-weight: bold;
}

.pagination ul li span,
.pagination ul li strong {
	display: inline-block;
	border-left: 1px solid #BDD9EE;
	font-weight: bold;
	font-size: 125%;
}

.pagination ul li span,
.pagination ul li a {
	display: inline-block;
	padding: 10px 20px !important;
}

.pagination ul li span { background: #fff; color: #506169; }

.pagination ul li strong {}

.pagination ul li.pagination-prev span,
.pagination ul li.pagination-prev strong {
	background: url(../images/pagination-pre.gif) no-repeat 20% center #345b8d;
	border-left: 1px solid #345b8d;	
	padding-left: 33px !important;
}

.pagination ul li.pagination-prev strong a { padding: 10px !important; }

.pagination ul li.pagination-next strong,
.pagination ul li.pagination-next span {
	background: url(../images/pagination-next.gif) no-repeat 80% center #345b8d;
	border-left: 1px solid #345b8d;	
}

.pagination ul li.pagination-next a,
.pagination ul li.pagination-next span {
	padding-right: 34px !important;	
}

.pagination ul li.pagination-prev a,
.pagination ul li.pagination-next a,
.pagination ul li.pagination-prev span,
.pagination ul li.pagination-next span { color: #fff; }

.pagination a:hover,
.pagination a:focus,
.pagination a:active { color: #506169; }

.pagination ul li.pagination-next { position: absolute; right: 0; top: 0; }

.pagination ul li.pagination-end { display: none; }

.items-more { border-bottom: 1px solid #ccc; }

.items-more h3 { font-size: 125%; }

/* MODULE STYLES
--------------------------------------------------------- */
div.ja-moduletable h3, div.moduletable h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 125%;
	padding: 0 15px;
	margin: 0 0 15px;
}

.ja-moduletable ul li, 
.ja-module ul li {
	background: url(../images/bullet1.png) no-repeat 20px 7px;
}

.ja-col div.ja-moduletable,
.ja-col div.moduletable {
	background: url(../images/dot-sep.gif) repeat-x left bottom;
	color: #fff;
	margin-bottom: 20px;
}

.ja-col div.moduletable_menu { background: none; }

/* Custom Module ---*/
#ja-botsl2 div.ja-moduletable ul li.rss, 
#ja-botsl3 div.ja-moduletable ul li.rss {
	padding-left: 25px;
	background: url(../images/icons/rss.gif) no-repeat 5px 5px;
}

#ja-botsl2 div.ja-moduletable ul li.facebook, 
#ja-botsl3 div.ja-moduletable ul li.facebook {
	padding-left: 25px;
	background: url(../images/icons/facebook.gif) no-repeat 5px 5px;
}

#ja-botsl2 div.ja-moduletable ul li.twitter, 
#ja-botsl3 div.ja-moduletable ul li.twitter {
	padding: 0 0 5px 25px !important;
	background: url(../images/icons/twitter.gif) no-repeat 5px 5px;
}

#ja-botsl2 div.ja-moduletable ul li.people, 
#ja-botsl3 div.ja-moduletable ul li.people {
	padding-left: 25px;
	background: url(../images/icons/people.gif) no-repeat 5px 5px;
}

/* Advertisement ---*/
div.bannergroup_text div.banneritem_text { border-bottom: 1px dotted #89B7DC; }

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#ja-wrapper { background: url(../images/bg.jpg) no-repeat top center; }

#ja-container .main { padding: 0; background: #5494c9; }

#ja-container .main-inner1 {
	padding: 0 15px 15px;
}

#ja-mainbody { background: #fff; }

/* Override for Typography page ---*/
.ajaxtabs #ja-mainbody {
	background: url(../images/ajaxtabs-bg.gif) repeat-y right top;
}

.ja-content-main {
	margin: 0;
	padding: 20px 0 0;
}

.ja-content-main .item-page { padding-bottom: 30px; }
.blog { padding-bottom: 30px; }

.main .main-inner1 { margin-left: 0; margin-right: 0; }

body.body-wrapper #ja-main .inner {
	padding-left: 0;
	padding-right: 0;
}

/* HEADER
--------------------------------------------------------- */
#ja-header .main { padding: 35px 0; }

h1.logo, div.logo-text h1 { font-size: 250%; line-height: 1; margin-left: 10px;}

/* Logo Image ---*/
h1.logo { width: 341px; height: 85px; }

h1.logo a {
	background: url(../images/logo.png) no-repeat left;
	display: block;
	width: 341px;	
	height: 85px;
}

/* Logo Text ---*/
div.logo-text h1 {
	font-size: 200%;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

div.logo-text h1 a {
	text-decoration: none;
}

p.site-slogan {
	color: #ccc;
	display: block;
	font-size: 85%;
	margin: 3px 0 0;
	padding: 0 10px;
	text-transform: uppercase;
}

#ja-top-header {
	margin-top:-5px;
	position:absolute;
	right:180px;
	text-align:right;
	width:50%;
}

/* Search ---*/
#ja-search { bottom: 45px; right: 25px; }

div.ja-moduletable.search h3 {
	background: url(../images/icons/search.png) no-repeat left center !important;
	padding-left: 40px !important;
}

div.ja-moduletable.search .inputbox {
	width: 150px;
	border: 1px solid #fff;
}

div.ja-moduletable.search .button {
	background: #5292c9;
	text-transform: uppercase;
	color: #fff;
	padding: 0 5px;
	display: inline-block;
	line-height: 26px;
	height: 26px;
}

div.ja-moduletable.search label { display: none; }

.menu_register li a {
	background: url(../images/register.png) no-repeat left top;
	width: 213px;
	height: 31px;
	display: block;
}

.menu_register li a span { display: none; }

/* NAVIGATION
--------------------------------------------------------- */
/* Main Nav ---*/
#ja-mainnav .main {
	background: url(../images/mainnav-bg.png) no-repeat right top;
}

#ja-mainnav .main-inner1 { padding: 15px 15px 0 15px; }

#ja-mainnav .main-inner2 {
	background:  url(../images/trans1.png);
}

.ja-mainnav-mask {
	background: url(../images/white-angle.png) no-repeat right top;
	width: 26px;
	height: 26px;
	position: absolute;
	right: 0;
	top: 0;
}

/* Breadcrumbs ---*/
#ja-navhelper {
	background: url(../images/pathway-bg.jpg);
	color: #98A7AC;
}

#ja-navhelper .main { text-transform: uppercase; }

/* Footer ---*/
#ja-footer {
	background: url(../images/footer-bg.jpg);
	color: #98A7AC;
}

#ja-footer .ja-copyright {
	float: left;
	text-align: left;
}

#ja-footer a { color: #fff; }

#ja-footer a:hover,
#ja-footer a:focus,
#ja-footer a:active {
	color: #fff;
	text-decoration: underline;
}

#ja-poweredby { float: right; }

/* Content Mass Top ---*/
#ja-content-mass-top { padding: 15px 0 0; }

#ja-content-mass-top .moduletable_contentslide {
	background: url(../images/contentslide-bg.gif) left top;
}

#ja-content-mass-top .moduletable_contentslide h3 {
	padding-top: 15px;
	color: #333;
	font-size: 180%;
	text-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
	text-transform: none;
}

#ja-content-mass-top .moduletable_contentslide .ja-box-ct {
	padding: 0 15px;
}

/* Extras ---*/
.ja-links li { padding: 0 10px; }
.ja-links li.top { padding-right: 0; }

/* Default Joomla! Menu ---*/
#ja-container ul.menu {
	margin-left: -15px;
	margin-right: -15px;
}

#ja-container ul.menu li {
	background: url(../images/nav-sep.gif) no-repeat right bottom;
	overflow: visible;
	margin-right: -15px;
}

#ja-container ul.menu li a {
	padding-left: 15px;
	padding-bottom: 25px;
	padding-top: 20px;
	font-size: 150%;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, sans-serif;
	display: block;
	outline: medium none;
}




#ja-container ul.menu li a:hover,
#ja-container ul.menu li a:focus,
#ja-container ul.menu li a:active,
#ja-container ul.menu li.active a {
	background: url(../images/grad.png) no-repeat right bottom;
	color: #5292c9;
	text-decoration: none;
}

#ja-container ul.menu li li { border-bottom: 0; border-top: 1px dotted #ccc; }
#ja-container ul.menu li li a:hover,
#ja-container ul.menu li li a:focus,
#ja-container ul.menu li li a:active,
#ja-container ul.menu li li.active a {
	background: url(../images/grad.png) no-repeat right bottom;
	color: #5292c9;
	text-decoration: none;
}


#ja-container ul.menu li img {
	margin-right: 10px;
}

/* JA MASS TOP
--------------------------------------------------------- */
.ja-mass-top .ja-moduletable h3 { color: #666; text-shadow: none; }

/* SPOTLIGHT
--------------------------------------------------------- */
#ja-topsl .main { background: #5494C9; }

#ja-topsl .ja-box, #ja-botsl .ja-box { background: url(../images/dot-1.gif) repeat-y right; }

#ja-topsl .ja-box-right, #ja-botsl .ja-box-right { background: 0; }

#ja-topsl .ja-moduletable, #ja-botsl .ja-moduletable { margin-top: 10px; margin-bottom: 10px; }

#ja-topsl div.ja-moduletable h3,
#ja-botsl div.ja-moduletable h3,
#ja-botsl1 div.ja-moduletable h3,
#ja-botsl2 div.ja-moduletable h3 { border-bottom: 0; padding-bottom: 0; }

#ja-bot-banner div.ja-moduletable { margin: 0; padding: 0; }

/* Top spotlight ---*/
#ja-topsl .main { padding: 0; }
#ja-topsl .main-inner1 { padding: 10px 0; border-bottom: 1px solid #ccc; }

/* left, right baner ---*/
#ja-top-banner {
	position: fixed;
	top: 0;
	left: 0;
}
#ja-left-banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}
#ja-right-banner {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
}
#ja-wrap-banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 1000%;
}
/* Bot spotlight ---*/
#ja-bot-banner {
	background: url(../images/botsl-bg.png) repeat-x center bottom;
	min-height: 170px;
	border-bottom: 4px solid #547983;
	overflow: hidden;
	position: relative;
}

#ja-bot-banner div.moduletable_sadv1,
#ja-bot-banner div.moduletable_sadv2 {
	background: url(../images/bbroad-bg.png) no-repeat 0px 0px;
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 177px;
	height: 140px;
}

#ja-bot-banner div.moduletable_sadv2 { left: 60%; }

#ja-bot-banner div.moduletable_sadv1 div.ja-box-ct,
#ja-bot-banner div.moduletable_sadv2 div.ja-box-ct {
	padding: 20px 10px;
}

#ja-botsl2,
#ja-botsl3 {
	background: url(../images/botsl2-bg.jpg) repeat-x top left;
	color: #cecece;
	font-size: 92%;
	padding-top: 30px;
}

#ja-botsl3 { background-position: bottom left; padding-bottom: 30px; }

#ja-botsl2 div.ja-moduletable, 
#ja-botsl2 div.ja-module, 
#ja-botsl3 div.ja-moduletable, 
#ja-botsl3 div.ja-module {
	margin: 0 15px;
	padding: 0;
}

#ja-botsl2 div.ja-moduletable .ja-box-ct, 
#ja-botsl2 div.ja-module .ja-box-ct, 
#ja-botsl3 div.ja-moduletable .ja-box-ct, 
#ja-botsl3 div.ja-module .ja-box-ct {
	padding-left: 0;
	padding-right: 0;
}

#ja-botsl2 div.ja-moduletable h3,
#ja-botsl3 div.ja-moduletable h3 {
	background: url(../images/botsl2-title.gif) no-repeat left bottom;
	color: #C8C9CB;
	padding: 4px 0 12px 9px;
	font-size: 125%;
	text-transform: none;
	margin: 0;
}

#ja-botsl2 div.ja-moduletable ul,
#ja-botsl3 div.ja-moduletable ul { margin: 0; }

#ja-botsl2 div.moduletable_botslright h3,
#ja-botsl3 div.moduletable_botslright h3 {
	background: none;
	padding: 5px 0;
	font-size: 150%;
}

#ja-botsl2 div.ja-moduletable h3 span,
#ja-botsl3 div.ja-moduletable h3 span {
	background: #2f3638;
	padding: 4px 15px 4px 6px;
}

#ja-botsl2 div.moduletable_botslright h3 span,
#ja-botsl3 div.moduletable_botslright h3 span{
	background: none;
	padding: 3px 0;
}

#ja-botsl2 div.ja-moduletable ul li,
#ja-botsl3 div.ja-moduletable ul li {
	padding: 5px 0 5px 10px;
	border-bottom: 1px dotted #98A7AC;
	background: none;
}

#ja-botsl2 a, #ja-botsl3 a { color: #cecece; }

#ja-botsl2 a:hover, #ja-botsl3 a:hover { color: #fff; text-decoration: none; }

#ja-botsl .main { padding: 0; }
#ja-botsl .main-inner1 { padding: 10px 0; border-top: 1px solid #ccc; }

/* MISCELLANOUS
----------------------------------------------------------- */
/* Pagination ---*/
div.pagination { margin: 0 -15px; }

div.pagination .pagination { margin: 0; }

div.pagination .counter { display: none; }

div.pagination ul { margin: 0; }

/* Others ---*/
#ja-top-panel .main-inner1 {
	border: 2px dotted #e2e2b5;
	padding: 5px 10px;
	text-align: center;
	margin-top: 15px;
	background: #ffffcc;
	position: relative;
}

#ja-banner { border-top: 1px solid #ccc; }

div.ja-innerdiv { border-bottom: 1px dotted #ccc; }

div.ja-innerdiv h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 92%;
	font-weight: normal;
	text-transform: uppercase;
}

a.ja-icon-video {
	background: url(../images/icon-youtube.gif) no-repeat 5px 8px #fff;
	border: 1px solid #ccc;
	color: #666;
	display: block;
	font-weight: bold;
	position: absolute;
	padding: 5px 5px 5px 43px;
	right: 10px;
	top: 8px;
	text-decoration: none;
	width: 35px;
}

a.ja-icon-video span { color: #666; }

a.ja-icon-video:hover,
a.ja-icon-video:focus,
a.ja-icon-video:active { border-color: #ddd; text-decoration: none; }

a.ja-icon-video:hover span { color: #0F85D8; }

div.ja-retweet-horizontal-home, div.ja-retweet-horizontal,
div.ja-facebookshare-button_count-home, div.ja-facebookshare-button_count {
	float: left;
}

.form-validate { padding-bottom: 30px; }

.form-validate .button {
	display: inline-block;
	margin-left: 5px;
}

.form-validate .inputbox { vertical-align: middle; }

/* Speakers page ---*/
.ja-speaker-info {
	border-bottom: 1px dotted #ccc;
	color: #666;
	margin-bottom: 10px;
	padding: 10px 0 15px;
}

.ja-speaker-info ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ja-speaker-info ul li {
	background: url(../images/bullet4.gif) no-repeat 0px 6px;
	padding-left: 10px;
}

.ja-speaker-info ul li strong {
	color: #333;
}

/* JA Comments ---*/
.jacomment-count {
	background: url(../images/icons/icon-comment.png) no-repeat 0px 2px;
	padding: 0 0 0 20px;
}

div.ja-retweet-horizontal,
div.ja-retweet-horizontal-home,
div.ja-facebookshare-button_count,
div.ja-facebookshare-button_count-home { margin: 5px 0; }

div.ja-retweet-horizontal-home {
	margin: 4px 0;
}

/* Override Disqus comment ---*/
#dsq-popup-message table {
	width: auto !important;
}

#dsq-global-toolbar { position: relative; z-index: 12; }

.dsq-post-area { position: relative; z-index: 9; }

#dsq-content .dsq-trackback-url {
	width: 80%;
}

.dsq-popup .dsq-subscribe-submit input {
	padding: 2px;
}

.dsq-popup .dsq-subscribe-submit button {
	margin-left: 10px;
	vertical-align: middle;
}

#dsq-content .dsq-comment-footer-left {
	visibility: visible !important;
	float: none !important;
}

#dsq-content .dsq-comment-footer-right {
	float: none;
}

/* Tags ---*/
span.ja-typo-tag {
	padding: 3px 12px;
	margin: 0 2px;
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	background: #666;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

span.tag-blue { background: #08c; }
span.tag-green { background: #669900; }
span.tag-orange { background: #e58c00; }
span.tag-red { background: #cc0000; }
span.tag-grey { background: #ccc; color: #333; text-shadow: 0 -1px 0 rgba(255,255,255,.8); }

/* Message */
#system-message {
	margin-top: 10px;
}

TABLE.price {

	padding-bottom: 16px; }

TABLE.price TR:first-child {
	cursor:default;
	font-weight: bold;
	background-color: #5494c9;
        color: #FFF;
	}
	
TABLE.price TD{	
	padding-top: 2px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px; }
	
.tr-over{
	background-color: #5fa0d6;
	cursor:default;
        color: #FFF;

			}
.tr-out{
	background-color: #FFF;
	cursor:default;
		}