/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

/*Alignment---*/
.a-left		{text-align: right;}
.a-right		{text-align: left;}

.left		{float: right;}
.right	{float: left;}

/* COMMON STYLE
--------------------------------------------------------- */
/* Normal links ---*/

/* Readon links ---*/
p.readmore { float: left; }

p.readmore a {
	background: url(../images/rtl/button-corner-small2.png) no-repeat right top;
	float: right;
	padding: 4px 15px 4px 5px;
}

.blog-featured p.readmore { float: left; }

/* FORM
--------------------------------------------------------- */
.button {
	background: url(../images/rtl/button-corner-small.png) no-repeat right top;
}

.button:hover,
.button:active,
.button:focus {
	background-image: url(../images/rtl/button-corner-small-hover.png);
}
/* Search ---*/
/* Contact ---*/

/* JOOMLA STYLE
--------------------------------------------------------- */
h2.contentheading a, .contentheading a {
	overflow: hidden;
	display: block;
	text-align: right;
}

/* Layout Deco ---*/
#ja-right a.readmore {
	background: url(../images/rtl/readmore-bg-left.png) no-repeat right center;
	padding-right: 15px;
}

#ja-right a.readmore span {
	background: url(../images/rtl/readmore-bg-right.png) no-repeat left center;
	padding: 3px 0 3px 15px;
}

/* Meta ---*/
.article-tools .dl.article-info {
	float: right;
}

.article-tools dl.article-info dd {
	background-position: right center;
	margin-right: 0;
	margin-left: 8px;
	float: right;
}

div.ja-before-content,
div.ja-after-content {
	background: url(../images/rtl/afc-bg.gif) repeat-y left top;
}

div.ja-before-content .ja-before-inner,
div.ja-after-content .ja-after-inner {
	border-right: 1px solid #C1DEEC;	
	border-left: 0;
	margin-right: 0;
	margin-left: 18px;
}

div.ja-social-toolbox-large {
	background-position: left bottom;
	right: -76px;
	left: auto;
}

div.articleCreated span.date {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}

/* Button small ---*/
.ja-social-toolbox-small {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

.ja-social-toolbox-small .articleCreated {
	background: url(../images/rtl/small-date-bg.png) no-repeat left center;
	float: right;
	margin: -3px -5px 0px 10px;
}

/*Inline images ---*/
.img-style-wrap.style3.img-border span.corner {
	left: 0;
	right: auto;
}

.img-style-wrap.style3.img-border span.caption {
	left: auto;
	right: 0;
}

.img-border.left { margin: 15px 0 0 15px; }

.img-style-wrap.left { margin: 0 0 0 15px; }

.img-border.right { margin: 15px 15px 0 0; }

.img-style-wrap.right { margin: 0 15px 0 0; }

/* Tables ---*/
/* Poll */

/* Pagination ---*/
.pagination ul li span,
.pagination ul li strong {
	border-left: 0;
	border-right: 1px solid #BDD9EE;
}

.pagination ul li.pagination-prev span,
.pagination ul li.pagination-prev strong {
	background: url(../images/rtl/pagination-pre.gif) no-repeat 80% center #345b8d ;
	border-left: 0;	
	border-right: 1px solid #345b8d;	
	padding-left: 20px !important;
	padding-right: 33px !important;
}

.pagination ul li.pagination-next strong,
.pagination ul li.pagination-next span {
	background: url(../images/rtl/pagination-next.gif) no-repeat 20% center #345b8d ;
	border-left: 0;	
	border-right: 1px solid #345b8d;	
}

.pagination ul li.pagination-next a,
.pagination ul li.pagination-next span {
	padding-right: 20px !important;	
	padding-left: 34px !important;	
}

.pagination ul li.pagination-next {
	right: auto;
	left: 0;
}

/* MODULE STYLES
--------------------------------------------------------- */
/* Custom Module ---*/
#ja-botsl2 div.ja-moduletable ul li.rss, 
#ja-botsl3 div.ja-moduletable ul li.rss {
	padding-left: 0;
	padding-right: 25px;
	background-position: 98% 5px;
}

#ja-botsl2 div.ja-moduletable ul li.facebook, 
#ja-botsl3 div.ja-moduletable ul li.facebook {
	padding-left: 0;
	padding-right: 25px;
	background-position: 98% 5px;
}

#ja-botsl2 div.ja-moduletable ul li.twitter, 
#ja-botsl3 div.ja-moduletable ul li.twitter {
	padding: 0 25px 5px 0 !important;
	background-position: 98% 5px;
}

#ja-botsl2 div.ja-moduletable ul li.people, 
#ja-botsl3 div.ja-moduletable ul li.people {
	padding-left: 0;
	padding-right: 25px;
	background-position: 98% 5px;
}

/* Advertisement ---*/

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#ja-wrapper { background: url(../images/rtl/bg.jpg) no-repeat top center; }

/* Override for Typography page ---*/
.ajaxtabs #ja-mainbody {
	background: url(../images/rtl/ajaxtabs-bg.gif) repeat-y left top;
}

/* HEADER
--------------------------------------------------------- */
h1.logo, div.logo-text h1 { 
	margin-left: 0;
	margin-right: 10px;
}

/* Logo Image ---*/
h1.logo a {
	background: url(../images/rtl/logo.png) no-repeat right;
}

/* Logo Text ---*/

/* Search ---*/
#ja-search {
	right: auto;
	left: 25px;
}

div.ja-moduletable.search h3 {
	background-position: right center !important;
	padding-left: 0 !important;
	padding-right: 40px !important;
}

.menu_register li a {
	background: url(../images/register.png) no-repeat left top;
}

/* NAVIGATION
--------------------------------------------------------- */
/* Main Nav ---*/
#ja-mainnav .main {
	background: url(../images/rtl/mainnav-bg.png) no-repeat left top;
}

.ja-mainnav-mask {
	background: url(../images/rtl/white-angle.png) no-repeat left top;
	right: auto;
	left: 0;
}

/* Breadcrumbs ---*/
#ja-navhelper .ja-breadcrums a {
	padding-left: 20px;
}

/* Footer ---*/
#ja-footer .ja-copyright {
	float: right;
	text-align: right;
}

#ja-poweredby { float: left; }

.t3-logo, .t3-logo a {
	overflow: hidden;
}

#ja-poweredby.t3-logo a:hover,
#ja-poweredby.t3-logo a:focus,
#ja-poweredby.t3-logo a:active {
	text-decoration: none;
}

/* Content Mass Top ---*/
/* Extras ---*/
.ja-links li.top { padding-right: 10px; padding-left: 0; }

/* Default Joomla! Menu ---*/
#ja-container ul.menu li {
	background: url(../images/rtl/nav-sep.gif) no-repeat left bottom;
	margin-right: 0;
	margin-left: -15px;
}

#ja-container ul.menu li a {
	padding-left: 0;
	padding-right: 15px;
}

#ja-container ul.menu li a:hover,
#ja-container ul.menu li a:focus,
#ja-container ul.menu li a:active,
#ja-container ul.menu li.active a {
	background: url(../images/rtl/grad.png) no-repeat left bottom;
}

#ja-container ul.menu li img {
	margin-right: 0;
	margin-left: 10px;
	float: right;
}

/* SPOTLIGHT
--------------------------------------------------------- */
/* Top spotlight ---*/

/* Bot spotlight ---*/
#ja-botsl2 div.ja-moduletable h3,
#ja-botsl3 div.ja-moduletable h3 {
	background: url(../images/rtl/botsl2-title.gif) no-repeat right bottom;
	padding: 4px 9px 12px 0;
}

#ja-botsl2 div.moduletable_botslright h3,
#ja-botsl3 div.moduletable_botslright h3 {
	background: none;
	padding: 5px 0;
	font-size: 150%;
}

#ja-botsl2 div.ja-moduletable h3 span,
#ja-botsl3 div.ja-moduletable h3 span {
	padding: 4px 6px 4px 15px;
}

#ja-botsl2 div.moduletable_botslright h3 span,
#ja-botsl3 div.moduletable_botslright h3 span{
	background: none;
	padding: 0;
}

#ja-botsl2 div.ja-moduletable ul li,
#ja-botsl3 div.ja-moduletable ul li {
	background: none;
	padding: 5px 10px 5px 0;
}

/* MISCELLANOUS
----------------------------------------------------------- */
/* Pagination ---*/

/* Others ---*/
a.ja-icon-video {
	background-position: 98% 8px;
	padding: 5px 43px 5px 5px;
	right: 0;
	left: 10px;
}

div.ja-retweet-horizontal-home, div.ja-retweet-horizontal,
div.ja-facebookshare-button_count-home, div.ja-facebookshare-button_count {
	float: right;
	margin-left: 5px;
}

.form-validate .button {
	margin-left: 0;
	margin-right: 5px;
}

/* Speakers page ---*/
.ja-speaker-info ul li {
	background-position: right 6px;
	padding-left: 0;
	padding-right: 10px;
}

/* JA Comments ---*/
.jacomment-count {
	background-position: right 2px;
	padding: 20px 0 0 0;
}

/* Override Disqus comment ---*/
.dsq-popup .dsq-subscribe-submit button {
	margin-left: 0;
	margin-right: 10px;
}

.dsq-popup-message {
	direction: ltr;
}

/* SLIDESHOW
-----------------------------------------*/
.ja-slide-main {
	left: 0;	
}

.ja-slide-buttons span {
	float: right;
}

.ja-slide-item {
	float: left;
	text-align: left;
}

.ja-slide-right { margin-right: auto; right: auto; left: 0; }

.ja-slide-thumb, .ja-slide-thumbs-handles span {
	float: right;
}

.ja-slide-thumbs, .ja-slide-thumbs-mask, .ja-slide-thumbs-handles {
	right: 0;	
}

.ja-slide-thumb-inner {
	margin-left: 0;
	margin-right: 19px;
}

.ja-slide-thumb-inner img {
	margin: 15px 0 0 5px;
}

.ja-slide-thumbs-mask-left,
.ja-slide-thumbs-mask-right,
.ja-slide-thumbs-mask-center { float: right; }

.ja-slide-thumbs-mask-left,
.ja-slide-thumbs-mask-right,
.ja-slide-thumbs-mask-center { float: right; }

.ja-slide-thumbs-wrap { margin-left: 0; margin-right: 280px; }

/* horizontal ---*/
.ja-vertical_left {
	left: auto;
	right: 0;
}

.ja-vertical_left .ja-slide-thumb-inner { margin-left: 19px; margin-right: 0; }

/* SCROLL LEFT
-----------------------------------------*/
/* Horizontal ---*/
.ja-vertical_right {
	left: 0;
	right: auto;
}

/* horizontal  */
.maskDesc {
	background: url(../images/rtl/maskdesc.png) no-repeat left top;
}

.maskDesc .ja-slide-desc {
	padding: 15px 15px 15px 45px;
}

.maskDesc .ja-slide-desc h3 {
	padding: 5px 35px 5px 0;
	background-position: right center;
}

#ja-slideshow .ja-slide-buttons {
	left: 0;
	right: 10px;
}

#ja-slideshow .ja-slide-mask {
	right: 0;
	left: 10px;
}

#ja-slideshow .ja-slide-thumbs-wrap {
	right: 0;
	left: 10px;
}

/*JA Sideshow [ Topspotlight 1]*/
#ja-slideshow .maskdesc .ja-slide-desc {
	left: 0;
	right: auto;
}

/*JA Sideshow dv2 */
#ja-bot-banner .maskDesc .ja-slide-desc {
	padding: 10px 45px 10px 10px;
}

/* MOD_CONTENTSLIDE
----------------------------------------------------- */
/* Content Slider Center */
.ja-contentslider-center {
	float: right;
}

div.ja_slidetitle { text-align: right; }

/* Left + right */
/* nur fuer Opera */
.ja-contentslider-left img,
.ja-contentslider-right img {
	right: auto;
	left: 15px;
}

.ja-contentslider-right img { background: url(../images/rtl/sp-bg.png) no-repeat right top; }

.ja-contentslider-right img:hover { background: url(../images/rtl/sp-bg.png) no-repeat right bottom; }

/* PLUGIN TAB
----------------------------------------------------- */
/* Tabs Top */
.ja-tabs-title-top ul.ja-tabs-title li {
	float: right;
}

.ja-tab-panels-top {
	left: auto;
	right: 0px;
}

/* Tabs left */
.ja-tabs-title-left {
	float: right;
}

.ja-tabs-title-left ul.ja-tabs-title {
	left: auto;
	right: 0px;
}

.ja-tabs-title-left ul.ja-tabs-title li {
	margin: 0px 1px 0 0;
}

.ja-tab-panels-left {
	left: auto;
	right: 10px;
}

/* Tabs right */
.ja-tabs-title-right {
	float: left;	
}

.ja-tabs-title-right ul.ja-tabs-title {
	right: auto;
	left: 0;
}

.ja-tabs-title-right ul.ja-tabs-title li {
	margin: 0 1px 0 0;
}

/* for tabs bottom */
.ja-tabs-title-bottom ul.ja-tabs-title li {
	float: right;
}

.ja-tab-panels-bottom {
	right: auto;
	left: 0px;
}

/* JA Tabs top*/
.events .ja-tabs-title-top ul.ja-tabs-title li {
	margin-right: 0;
	margin-left: 5px;
}

/* JA Tabs left*/
.events .ja-tabs-title-left {
	float: right;	
	background: url(../images/rtl/17pxblank.gif) repeat-y left #F7F7F7;
}

.events .ja-tabs-title-left ul.ja-tabs-title li {
	margin: 0 1px 0 0;
}

.events .ja-tabs-title-left ul li.active,
.events .ja-tabs-title-left ul li.firstactive,
.events .ja-tabs-title-left ul li.lastactive {
	background: url(../images/rtl/left-active.gif) no-repeat left #fff;
}

/* JA Tabs right*/
.events .ja-tabs-title-right ul.ja-tabs-title li {
	background: url(../images/rtl/nav-sep.gif) no-repeat left bottom;
	margin: 0 0 0 -30px;
}

.events .ja-tabs-title-right ul.ja-tabs-title li h3 {
	padding-left: 0;
	padding-right: 15px;
}

.events .ja-tabs-title-right ul li.active h3,
.events .ja-tabs-title-right ul li.firstactive h3,
.events .ja-tabs-title-right ul li.lastactive h3 {
	background: url(../images/rtl/grad.png) no-repeat left bottom;
}

.events .ja-tabs-title-right ul.ja-tabs-title li h3 img {
	float: right;
	left: 30px;
	right: auto;
}

.events .ja-tabs-title-right ul.ja-tabs-title li h3 span img {
	margin-left: 10px;
	margin-right: auto;
}

/* JA Tabs bottom*/
.events .ja-tabs-title-bottom ul.ja-tabs-title li {
	margin-left: 0;
	margin-right: 5px;
}

 /* MEGA MENU
-----------------------------------*/
/* Grouped --- */
.ja-megamenu .group-title { 
	background: url(../images/rtl/group-title.png) no-repeat right bottom;
	float: right;
}

.ja-megamenu ul.level1 li.mega a.mega span.menu-title {
	direction: ltr;
	text-align: right;
}

 /* TWITTER
-----------------------------------*/
/* Ja Twitter Module ---*/
.ja-twitter-avatar { float: none; margin-left: 5px; margin-right: 0; }

div.ja-twitter-image { float: right; }

span.ja-twitter-bubble-arrow { float: right; background: url(../images/rtl/twitter-bubble-arrow.png) no-repeat top right; }

div.ja-twwitter-desc { float: right; }

.fb-button { float: right; }

 /* THREAD
-----------------------------------*/

#dsq-content #dsq-global-toolbar .toolbar-item {
	text-indent: 9999em;	
}

#dsq-content .dsq-global-toolbar-likes .dsq-group {
	float: right !important;
	text-align: right;
}

#dsq-content #dsq-global-toolbar .toolbar-item {
	line-height: 0px;
	text-indent: 0px !important;
	color: red !important;
	font-size: 0px;
	margin-left: 0px !important;
	margin-right: 3px !important;
} 

#dsq-content .dsq-post-footer .dsq-button {
	float: left !important;
	margin-right: 0px;
	margin-left: 3px;
}

#dsq-content #dsq-toolbar-dropdown #dsq-toolbar-dropdown-wrap {
	left: 0px !important;
	right: auto !important;
	border-radius: 0px 3px 3px 0px !important;
	-webkit-border-radius: 0px 3px 3px 0px !important;
	-moz-border-radius: 0px 3px 3px 0px !important;
}

#dsq-content .dsq-like-faces{
	float: right !important;
}

#dsq-content h3 {
	text-align: right;
}

#dsq-content .dsq-options {
	clear: right !important;
}

#dsq-content .dsq-options span  {
	float: right; 
	margin-right: 0px !important;
	margin-left: 10px !important;
}

#dsq-content .dsq-options span.dsq-subscribe-email  {
	float: right; 
	width: 350px;
}

#dsq-content .dsq-subscribe-email img {
	float: right; 
	margin-left: 10px !important;
}
#dsq-content .dsq-item-trackback {
	text-align: right;
	float: right;	
}

 #dsq-content .dsq-options {
 	height: 30px;
 }
 
#dsq-content .dsq-comment-header-meta-wrapper,
#dsq-content .dsq-comment-header-meta-wrapper span   {
 	text-align: right !important;
 }
 
 #dsq-content .dsq-comment-header {
 	border: 1px solid #ddd;
 	background: #ccc;
 }
#dsq-content .dsq-comment-hide-thread, #dsq-content .dsq-comment-show-thread {
	right: auto !important;
	left: 0px !important;
}
 
#dsq-content .dsq-comment-message {
 	text-align: right; 
 }

#dsq-content #dsq-comments .dsq-collapsed-comment .dsq-comment-show-thread {
	float: left;
}
#dsq-content #dsq-comments .dsq-collapsed-comment img {
	float: right;
	margin: 0px 0px 0px 12px !important;
}

#dsq-content #dsq-comments .dsq-collapsed-comment span {
	float: right;
}

#dsq-content #dsq-comments .dsq-collapsed-comment a {
	float: right;
}