.ja-contentslider-center {
	direction: rtl;
}

.ja-contentslider-center-wrap {
	width: 100%;
	direction: ltr;
}

/* SPOTLIGHT
--------------------------------------------------------- */
/* Top spotlight ---*/

/* Bot spotlight ---*/
#ja-botsl2 div.ja-moduletable h3,
#ja-botsl3 div.ja-moduletable h3 {
	padding-right: 4px;
}

.ja-before-inner {
	direction: ltr;	
}

.ja-social-toolbox-small {
	width: 50%;	
}

.ja-before-inner div {
	direction: rtl;
}

.itemListView,
.catItemBody,
.catItemIntroText,
.itemView,
.catItemView,
.catItemCommentsLink,
.ja-before-content,
.ja-typo-legend,
.ja-typo-bubblect,
.itemAuthorLatest li a,
#dsq-content,
.ja-contentslider-center-wrap,
.ja-contentslider-center {
	zoom: 1;	
}

.ja-typo-blockrow div {
	direction: rtl;
}

.catItemIntroText {
	direction: ltr;
}

.catItemIntroText div,
.catItemIntroText p {
	direction: rtl;	
}

.catItemIntroText .img-style-wrap {
	margin-top: 15px;
}

div.img-caption.left img {
	float: left;
}

div.img-caption.caption2 {
	float: left;
}

div.img-caption.caption2 img {
	float: left;
}

div.pagination ul {
	float: none;
}

 /* THREAD
-----------------------------------*/
#dsq-content .dsq-options {
	position: relative;
}

#dsq-content .dsq-options span.dsq-subscribe-email {
	position: relative;
	right: 0px;
	float: right;
	width: 300px;
}

#dsq-content .dsq-options span.dsq-subscribe-email #dsq-subscribe {
	position: relative;
	float: right;
	width: 125px;
}

#dsq-content .dsq-options span#dsq-subscribe {
	position: relative;
	top: -19px;
}

#dsq-content .dsq-options span.dsq-subscribe-rss{
	position: relative;
	top: -19px;
	width: 130px;
}

#dsq-content .dsq-subscribe-email img, #dsq-content .dsq-subscribe-rs img {
	position: relative;
	float: right;
}
#k2Container {
	position: static;
}

div.itemSocialLinksBlock ul.itemSocialLinks {
	margin-top: 3px;
}

.catItemView {
}

#itemListPrimary .itemContainer {
	margin-bottom: 0px !important;
	padding: 0px !important;
}

 #dsq-content #dsq-toolbar-dropdown {
 	position: inherit;
 }
 
#dsq-content .dsq-comment-header {
 	border: 1px solid #ddd;
 	background: #ccc;
 }
#dsq-content .dsq-comment-header-meta-wrapper {
	position: relative;
	left: 0px;
	right: auto;
	float: left;
}
 #dsq-content .dsq-comment-hide-thread, #dsq-content .dsq-comment-show-thread {
	right: auto !important;
	left: 0px !important;
	z-index: 500;
	float: left;
	position: absolute;
	display: block;
} 

#dsq-content .dsq-comment-hide-thread {
	float: left;
	position: absolute;
}

#dsq-content .dsq-comment-header cite {
	float: right;
	text-align: right;
	color: #333 !important;
}

#dsq-content .dsq-comment-header cite {
	float: right !important;
	text-align: right;
}

#dsq-content .dsq-comment-header-meta-wrapper a {
	text-align: right;
	float: right;
	margin-right: 6px;
	color: #666;
}


#dsq-content {

	zoom: 1 !important;
}

#dsq-global-toolbar {
	zoom: 1 !important;
}
#dsq-new-post, #dsq-form-area .dsq-post-footer, .dsq-comment-buttons, 
.dsq-comment-footer-left, .dsq-comment-header-meta-wrapper{
	zoom: 1 !important;
}

.dsq-comment-footer-left a, .dsq-comment-footer-left a:hover {
	display: inline !important;
	zoom: 1 !important;
	position: relative;
}

.dsq-comment-footer-right .dsq-comment-buttons {
	position: relative;
	width: 150px;
}
#dsq-content .dsq-post-footer .dsq-button {
	zoom: 1 !important;
}

.dsq-collapsed-comment {
	zoom: 1 !important;
}

.js-user-online ul li {
	background-position: none;
}

/* ICON
-----------------------------------*/
#ja-social-toolbox-float {
	direction: ltr;	
}