/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

.pagination ul li {
	zoom: 0;
}

br.clearfix {
	overflow: hidden !important;
	height: 0 !important;
	line-height: 0;
}

#ja-container ul.menu li {
	overflow: visible;
}

/* K2 ---*/

table.calendar {
	border: none;
}

/* ------------------- */
/* -- typo.css  -- */
/* ------------------- */
.ja-typo-blockswrap .cols-2 .ja-typo-block {
	width: 49%;
}

div.ja-typo-code-title {
	width: 622px;
}

a.ja-typo-btn span {
	background-color: #fff;
}
/* MESSAGE BOXES AND LEGENDS STYLE
-----------------------------------------------------------------*/
/* FORM
--------------------------------------------------*/
/* Fieldset ----*/
fieldset.ja-typo-fieldset {
	margin-bottom: 20px;
}

fieldset.ja-typo-fieldset legend {
	padding: 0 8px 5px;
	margin-left: -16px;
}

/* */
.img-style-wrap.style2 {
	padding-bottom: 4px;	
}

.button {
	line-height: 15px;
	overflow: visible;
}

div.ja-moduletable.search .button {
	line-height: 13px;
	overflow: auto;	
}