/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

.pagination ul li.pagination-next a,
.pagination ul li.pagination-next span {
	padding-right: 33px !important;
}

input[type=radio],
input[type=checkbox] {
  background: none;
  border: none;
  padding: 0;
}

div.ja-moduletable.search .button {
	line-height: 17px;
}

.blog-featured .contentheading { margin: 0 0 15px 0; }

.k2AccountPage div.k2AccountPageUpdate .button { padding: 2px 5px 8px; }
