/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/
/* PREFORMATTED TEXT
-------------------------------------------------------------*/
/* Pre, Code ---*/
pre {
	border-left-width: 1px !important;
	border-right-width: 5px !important;
}

.code {
	background: url(../images/rtl/typo/code-bg.gif) no-repeat right top;
}

.code div.ja-typo-code-bold {
	padding-left: 0;
	padding-right: 30px;
}

div.ja-typo-code-title {
	background: url(../images/rtl/typo/code-title-bg.gif) repeat-x right top;
}

div.ja-typo-code-title span {
	float: left;
	background: url(../images/rtl/typo/code-sep.gif) repeat-y right top;
}

div.ja-typo-code-title span.left {
	float: right;
	padding-left: 0;
	padding-right: 10px;
}

div.ja-typo-code-title span.ja-typo-code-plaintext {
	background: url(../images/rtl/typo/code-plaintext.png) no-repeat right 10px;
	padding-left: 10px;
	padding-right: 20px;
}

/* Inline Words Hilite ---*/
/* Dropcap ---*/
.dropcap {
	float: right;
	padding: 7px 0 0 8px;
}

/* Blockquote ---*/
blockquote.blockquote {
	background: url(../images/rtl/typo/sc-q.gif) no-repeat right top;
	padding-left: 0;
	padding-right: 45px;
}

blockquote span.open {
	background: url(../images/rtl/typo/sc-q.gif) no-repeat right top;
	padding: 15px 35px 0 0;
}

blockquote span.close {
	background: url(../images/rtl/typo/so-q.gif) no-repeat bottom left;
	padding: 0 0 15px 35px;
}

div.blockquote {
	padding: 0 15px 0 30px;
}

/* sub & sup tags ---*/ 
/* LIST STYLES
-----------------------------------------------------------------*/
/* Special list style ---*/
#ja-typo ul.ja-typo-list li {
	padding: 0 25px 0 0;
}

#ja-typo ul.ja-typo-list.list-bullet li {
	margin-right: 0;
}

ul.ja-typo-list span.icon {
	left: auto;
	right: 0;
}


ul.list-cal span.icon {
	background-position: right top;
}
ul.list-home 	span.icon { background-position: left -18px; }
ul.list-email 	span.icon { background-position: left -36px; }
ul.list-arrow 	span.icon { background-position: right top; }
ul.list-star 	span.icon { background-position: right -18px; }
ul.list-check	span.icon {	background-position: right -36px; }

/* Big Number ---*/
.blocknumber {
	padding: 5px 55px 5px 0 !important;
}

.blocknumber .bignumber {
	right: 0;
	left: auto;
}

.blocknumber-1 .bignumber { background-position: right top;}
.blocknumber-2 .bignumber { background-position: right -44px;}
.blocknumber-3 .bignumber { background-position: right -88px;}
.blocknumber-4 .bignumber { background-position: right -132px;}
.blocknumber-5 .bignumber { background-position: right -176px; color: #000; }
.blocknumber-6 .bignumber { background-position: right -220px;}

/* ICON STYLE
-----------------------------------------------------------------*/
/* Tips, Error, Message, Hightlight ---*/
p.ja-typo-icon {
	padding-left: 0;
	padding-right: 25px;
}

p.ja-typo-icon span.icon {
	right: 0;
	left: auto;
}

/* BUBBLES
-----------------------------------------------------------------*/
/* Common Style + Style 1 */
.ja-typo-bubble p.ja-typo-bubble-meta {
	padding-left: 0;
	padding-right: 65px;
}

.ja-typo-bubble span.ja-typo-bubble-arrow {
	left: 0;
	right: 28px;
	background: url(../images/rtl/typo/bubble-arrow.png) right 0;
}

/* Style 2 --- */
.bubble-2 span.ja-typo-bubble-arrow { background-position: 0 0; }

/* Style 3 --- */
.bubble-3 span.ja-typo-bubble-arrow { background-position: right -25px; }

/* Style 4 --- */
.bubble-4 span.ja-typo-bubble-arrow { background-position: 0 -25px; }

/* Style 5 --- */
.bubble-5 span.ja-typo-bubble-arrow { background-position: -25px -50px; }

/* Style 6 --- */
.bubble-6 span.ja-typo-bubble-arrow { background-position: -50px -50px; }

/* Common Style for Rounded Bubbles --- */
/* MESSAGE BOXES AND LEGENDS STYLE
-----------------------------------------------------------------*/
/* Box style ---*/
p.ja-typo-box {
	padding: 10px 50px 10px 10px;
}

/* Box with icons */
p.box-download, p.box-sticky {
	background-position: 96% 15px;
}
/* Box without icons - Style 1*/
p.box-grey-1, p.box-hilite-1 { padding: 10px 15px; }

/* Box without icons - Style 2*/
p.box-grey-2, p.box-hilite-2 { padding: 10px 15px; }

/* Rounded Box*/
/* Legend ---*/
.ja-typo-legend .legend-title {
	float: right;
	left: auto;
	right: 10px;
}

/* Legend Style 2 */
/* Rounded Box*/
/* BUTTONS
--------------------------------------------------*/
/* Common Buttons Style ---*/
a.ja-typo-btn.left {
	margin: 10px 0 10px 20px;
}

a.ja-typo-btn.right {
	margin: 10px 20px 10px 0;
}

a.ja-typo-btn span {
	background-position: right top;
}

/*Use for Demo Page Only*/
/* Big Buttons ----*/
/* Big Buttons ----*/
a.ja-typo-btn-big span {
	background-image: url(../images/rtl/typo/button-corner-big.png);
}

a.ja-typo-btn-big:hover span,
a.ja-typo-btn-big:active span,
a.ja-typo-btn-big:focus span {
	background-image: url(../images/rtl/typo/button-corner-big-hover.png);
}

a.ja-typo-btn-big span span,
a.ja-typo-btn-big:hover span span,
a.ja-typo-btn-big:active span span,
a.ja-typo-btn-big:focus span span {
	background: none;
}

a.ja-typo-btn-big.btn-big-1 span span {
	padding-right: 0;
	padding-left: 35px;
	background: url(../images/rtl/typo/button-arrow.gif) no-repeat left center;
}

a.ja-typo-btn-big.btn-big-3 span {
	background: url(../images/rtl/typo/button-corner-big3-left.png) no-repeat right top;
	padding: 0 25px 0 0;
}

a.ja-typo-btn-big.btn-big-3 span span {
	background: url(../images/rtl/typo/button-corner-big3-right.png) no-repeat left top;
	padding: 11px 0 11px 25px;
}

a.ja-typo-btn-big.btn-big-3:hover span,
a.ja-typo-btn-big.btn-big-3:focus span,
a.ja-typo-btn-big.btn-big-3:active span {
	background: url(../images/rtl/typo/button-corner-big3-left-hover.png) no-repeat right top;
}

a.ja-typo-btn-big.btn-big-3:hover span span,
a.ja-typo-btn-big.btn-big-3:focus span span,
a.ja-typo-btn-big.btn-big-3:active span span {
	background: url(../images/rtl/typo/button-corner-big3-right-hover.png) no-repeat left top;
}

a.ja-typo-btn-big.btn-big-4 span {
	background: url(../images/rtl/typo/button-corner-big4.png) no-repeat left top;
}

a.ja-typo-btn-big.btn-big-4:hover span,
a.ja-typo-btn-big.btn-big-4:focus span,
a.ja-typo-btn-big.btn-big-4:active span {
	background: url(../images/rtl/typo/button-corner-big4-hover.png) no-repeat left top;
}

/* Small Buttons --- */
a.ja-typo-btn-small span { 
	background-image: url(../images/rtl/typo/button-corner-small.png);
}

a.ja-typo-btn-small:hover span,
a.ja-typo-btn-small:active span,
a.ja-typo-btn-small:focus span {
	background-image: url(../images/rtl/typo/button-corner-small-hover.png);
}

a.ja-typo-btn-small span span,
a.ja-typo-btn-small:hover span span,
a.ja-typo-btn-small:active span span,
a.ja-typo-btn-small:focus span span {
	background: none;
}

a.ja-typo-btn-small.btn-small-1 span span {
	padding-right: 0;
	padding-left: 35px;
	background: url(../images/rtl/typo/button-arrow.gif) no-repeat left center;	
}

a.ja-typo-btn-small.btn-small-3 span {
	background: url(../images/rtl/typo/button-corner-small3-left.png) no-repeat right top;
	padding: 0 20px 0 0;
}

a.ja-typo-btn-small.btn-small-3 span span {
	background: url(../images/rtl/typo/button-corner-small3-right.png) no-repeat left top;
	padding: 6px 0 6px 20px;
}

a.ja-typo-btn-small.btn-small-3:hover span,
a.ja-typo-btn-small.btn-small-3:focus span,
a.ja-typo-btn-small.btn-small-3:active span {
	background: url(../images/rtl/typo/button-corner-small3-left-hover.png) no-repeat right top;
}

a.ja-typo-btn-small.btn-small-3:hover span span,
a.ja-typo-btn-small.btn-small-3:focus span span,
a.ja-typo-btn-small.btn-small-3:active span span {
	background: url(../images/rtl/typo/button-corner-small3-right-hover.png) no-repeat left top;
}

a.ja-typo-btn-small.btn-small-4 span {
	background: url(../images/rtl/typo/button-corner-big4.png) no-repeat left top;
}

a.ja-typo-btn-small.btn-small-4:hover span,
a.ja-typo-btn-small.btn-small-4:focus span,
a.ja-typo-btn-small.btn-small-4:active span {
	background: url(../images/rtl/typo/button-corner-big4-hover.png) no-repeat left top;
}

/* Common style for Rounded Buttons --- */
a.ja-typo-btn.btn-rounded span {
	background: none;
}

/* SPECIAL MODULE STYLE
--------------------------------------------------*/
/* Badge ---*/
.badge {
	background-image: url(../images/rtl/typo/badge.png);
	right: auto;
	left: 0;
}

.badge-hot 	.badge { background-position: right 0; }
.badge-new 	.badge { background-position: right -46px; }
.badge-pick .badge { background-position: right -92px; }
.badge-top 	.badge { background-position: right -138px; }

/*Use for Demo Page Only*/
/* FORM
--------------------------------------------------*/
/* Fieldset ----*/
/* Common Style + Style 1 */
/* Style 2 */
/*Use for Demo Page Only*/
/* TYPO PAGE LAYOUT
-------------------------------------------------------------*/
.ja-typo-block { float: right; }
.ja-typo-blockswrap .cols-2 .ja-typo-block { float: right; }
.ja-typo-blockswrap .cols-3 .ja-typo-block { float: right; }
.ja-typo-blockswrap .cols-4 .ja-typo-block { float: right; }

.ja-typo-blockswrap .ja-typo-block.last { float: left; }

#ja-typo .ja-typo-blockct ol li {
	margin-left: 0 !important;
	margin-right: 30px !important;
}

/* Blockswrap Actions ---*/
.ja-typo-blocks-actions {
	right: auto;
	left: 5px;
}

/* Bookmarks list ---*/
ul.bookmark-links li {
	background: url(../images/rtl/typo/arrow.png) no-repeat right 10px !important;
	padding: 5px 10px 5px 0 !important;
}

/* List video */
a.video {
	background-position: right -14px;
	padding: 0 18px 0 0;
}

a.rss {
	background-position: right -42px;
	padding: 0 18px 0 0;
}

a.comment {
	background-position: right -28px;
	padding: 0 18px 0 0;
}

a.photo {
	background-position: right 0px;
	padding: 0 18px 0 0;
}

/* Discussion ---*/
div.discussion-wrap {
	background-position: right bottom;
}

div.discussion-content img {
	margin-right: 0;
	margin-left: 15px;
}

/* Images in Paragraphy ---*/
div.img-caption.caption1 {
	padding-right: 0;
	padding-left: 5px;
}

div.img-caption.left {
	margin-left: 15px;
	margin-right: 0;
}

div.img-caption.left img {
	float: right;
}

div.img-caption.right {
	margin-left: 0;
	margin-right: 15px;
}

div.img-caption.right img {
	float: left;
}

div.img-caption span.caption1 {
	right: auto;
	left: 0;
	background: url(../images/rtl/typo/caption1.png) no-repeat left bottom;
}

div.img-caption span.caption2 {
	left: auto;
	right: 0;
	background: url(../images/rtl/typo/caption2.png) no-repeat right bottom;
	text-align: right;
	padding-left: 0;
	padding-right: 15px;
}

/* Images Styling ---*/
.img-style-wrap.style1 {
	background: url(../images/rtl/typo/img-shadow-br.png) no-repeat left bottom;
	padding-left: 3px;
	padding-right: 0;
}

.img-style-wrap.style2 {
	background-image: url(../images/rtl/typo/img-shadow-br2.png);
}

.img-style-wrap.style3 {
	background-image: url(../images/rtl/typo/img-shadow-br3.png);
}

.img-style-wrap.style4 {
	background: url(../images/rtl/typo/img-shadow-br.png) no-repeat left bottom;
	padding-right: 0;
	padding-left: 3px;
}

.img-style-wrap span.corner {
	background: url(../images/rtl/typo/img-shadow-right.png) no-repeat left top;
	right: auto;
	left: 0;
}

.img-style-wrap.style4 span.caption {
	left: auto;
	right: 1px;
}

.img-style-wrap.style6 span.caption {
	left: auto;
	right: 1px;
}

.img-style-wrap.style5 span.caption {
	left: auto;
	right: 0;
	background: url(../images/rtl/typo/caption2.png) no-repeat right bottom;
}

.img-style-wrap.style6 span.caption {
	left: 0;
	right: 6px;
}

.img-style-wrap.style7 span.caption {
	left: auto;
	right: 0;
	background: url(../images/rtl/typo/caption4.png) no-repeat right bottom;
}

.img-style-wrap.style8 span.caption {
	left: auto;
	right: 0;
	background: url(../images/rtl/typo/caption5.png) no-repeat right bottom;
}

.img-style-wrap.style4 span.corner,
.img-style-wrap.style1 span.corner { right: auto; left: 3px; }

.img-style-wrap.style5 span.corner {
	background: url(../images/rtl/typo/img-shadow-corner.png) no-repeat left top;
	right: auto;
	left: 0;
}

.img-style-wrap span.zoom1 {
	background-position: left top;
	left: auto;
	right: 38%;
}

.img-style-wrap span.zoom2 {
	background-position: left top;
	left: auto;
	right: 43%;
}

.img-style-wrap span.zoom3 {
	background-position: left top;
	left: auto;
	right: 5px;
}

/* Sponsors Pages ---*/
.ja-sponsors a.btn-big-1 {
	float: left;
	margin-left: 0;
}

.ja-sponsors table {
	border-width: 0 1px 1px 0;
}

.ja-sponsors table td,
.ja-sponsors table th {
	border-width: 0px 0 0 1px;
	text-align: right;
}

.ja-sponsors table .onecol td.blank {
	text-align: right;
}

.ja-sponsors table td img {
	margin-left: 5px;
	margin-right: 0;
}

/* Shedule & Workshops page ---*/
.ja-shedule table td.last,
.ja-shedule table th.last {
	padding-left: 0;
	padding-right: 15px;
	background-image: url(../images/rtl/typo/td-bg.png);
	background-position: right top;
}

.ja-shedule table table td,
.ja-shedule table table th {
	background: none;
	border-left: 1px dashed #b2b2b2;
}

.ja-shedule table table th {
	background-image: url(../images/rtl/typo/th-bg.png);
	background-position: 99% center;
	background-repeat: no-repeat;
	padding-left: 0;
	padding-right: 30px;
}

.ja-shedule table table td.track5,
.ja-shedule table table th.track5 {
	border-left: 0;
}

/* Table List ---*/
table {
	border-width: 0 1px 1px 0;
}

table td,
table th {
   border-width: 1px 0 0 1px;
}

/* Menu Tags 
-------------------------------------------------------------*/
#ja-mainnav ul .parent-tags a.parent-tags span.menu-title {
	padding-right: 12px !important;
	padding-left: 40px !important;
}

#ja-subnav ul .parent-tags a.parent-tags span.menu-title {
	padding-right: 12px !important;
	padding-left: 50px !important;
}

#ja-mainnav ul .parent-tags a.parent-tags span.menu-desc,
#ja-subnav ul .parent-tags a.parent-tags span.menu-desc {
	right: auto;
	left: 8px;
}

#ja-mainnav ul .parent-tags a.parent-tags span.menu-title {
	padding-right: 12px !important;
	padding-left: 40px !important;
}

#ja-mainnav .tags a.tags span.menu-desc,
#ja-subnav .tags a.tags span.menu-desc {
	right: auto;
	left: 0px;
}

#ja-mainnav ul ul .parent-tags a.parent-tags span.menu-desc {
	right: auto;
	left: 12px;
}

#ja-subnav ul .parent-tags a.parent-tags span.menu-desc {
	right: auto;
	left: 10px;
}

/* Green */
/* Red */
/* Blue */
