/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

#ja-typo {
	padding-bottom: 30px;
}

/* PREFORMATTED TEXT
-------------------------------------------------------------*/
/* Pre, Code ---*/
pre {
	background-color: #ffffdd !important;
	border: 1px solid #ccc !important;
	border-left-width: 5px !important;
	font: 1em/1.5 Monaco, Consolas, "Courier News", monospace !important;
	padding: 10px 15px !important;
}

pre .ja-typo-bubble-author {
	font-weight: bold;
	display: block;
}

pre small {
	color: #8f8f8f;
	display: block;
}

.code {
	background: url(../images/code-bg.gif) no-repeat left top;
	border: 1px solid #dedfdf;
	width: 530px;
	height: 159px;
	padding: 20px 45px;
}

.code div {
	color: #b59130;
	padding-bottom: 4px;
}

.code div.ja-typo-code-bold {
	padding-left: 30px;
	color: #000;
	font-weight: bold;
	padding-bottom: 3px;
}

.code div.ja-typo-code-comment {
	color: #bcbcbb;
}

div.ja-typo-code-title {
	background: url(../images/code-title-bg.gif) repeat-x left top;
	color: #fff;
	line-height: 40px;
	font-weight: bold;
}

div.ja-typo-code-title span {
	float: right;
	background: url(../images/code-sep.gif) repeat-y left top;
	padding: 0 10px;
	text-decoration: underline;
	cursor: help;
}

div.ja-typo-code-title span.left {
	float: left;
	padding-right: 0;
	background: none;
}

div.ja-typo-code-title span.ja-typo-code-plaintext {
	background: url(../images/code-plaintext.png) no-repeat left 10px;
	padding-left: 20px;
	cursor: pointer;
}

/* Inline Words Hilite ---*/
.highlight {
	background: #f2f1ba;
	padding: 1px 5px;
}

/* Dropcap ---*/
.dropcap {
	display: block;
	float: left;
	font: 60px/40px Georgia, Times, serif;
	padding: 7px 8px 0 0;
}

/* Blockquote ---*/
blockquote {
	font-family: Georgia, Times, serif;
	font-size: 100%;
	font-style: italic;
	color: #8f8f8f;
}

blockquote.blockquote {
	background: url(../images/so-q.gif) no-repeat left top;
	padding-left: 45px;
}

blockquote span.open {
	background: url(../images/so-q.gif) no-repeat left top;
	display: inline-block;
	padding: 15px 0 0 35px;
}

blockquote span.close {
	background: url(../images/sc-q.gif) no-repeat bottom right;
	display: inline-block;
	padding: 0 35px 15px 0;
}

div.blockquote {
	padding: 0 30px 0 15px;
}

div.blockquote.left {
	width: 250px;
}

div.blockquote .ja-typo-bubble-author {
	font-weight: bold;
	display: block;
}

div.blockquote small {
	color: #8f8f8f;
	display: block;
}

/* sub & sup tags ---*/ 
sub, sup { color: #CC0000; font-size: 11px; font-weight: bold; }

/* LIST STYLES
-----------------------------------------------------------------*/
/* Special list style ---*/
#ja-typo ul.ja-typo-list li {
	background: none;
	padding: 0 0 0 25px;
	position: relative;
	overflow: hidden;
}

#ja-typo ul.ja-typo-list.list-bullet li {
	list-style: disc;
	overflow: visible;
	padding: 0;
	margin-left: 0;
}

ul.ja-typo-list span.icon {
	background-image: url(../images/icons-sprites-silk.png);
	/*background-image: url(../../images/icons/icons-sprites-tango.png);*/
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}


ul.list-cal span.icon {
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(../images/icons-sprites-silk1.png);
}
ul.list-home 	span.icon { background-position: right -18px; }
ul.list-email 	span.icon { background-position: right -36px; }
ul.list-arrow 	span.icon { background-position: left top; }
ul.list-star 	span.icon { background-position: left -18px; }
ul.list-check	span.icon {	background-position: left -36px; }


/* Big Number ---*/
.blocknumber {
	position: relative;
	padding: 5px 0 5px 55px !important;
	min-height: 44px;
}

.blocknumber .bignumber {
	background-image: url(../images/blocknumber-bg.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
	display: block;
	width: 44px;
	height: 44px;
	line-height: 44px !important;
	position: absolute;
	top: 0;
	left: 0;
	font: bold 20px/normal Arial, sans-serif;
	text-align: center;
}

.blocknumber-1 .bignumber { background-position: left top;}
.blocknumber-2 .bignumber { background-position: left -44px;}
.blocknumber-3 .bignumber { background-position: left -88px;}
.blocknumber-4 .bignumber { background-position: left -132px;}
.blocknumber-5 .bignumber { background-position: left -176px; color: #000; }
.blocknumber-6 .bignumber { background-position: left -220px;}

/* ICON STYLE
-----------------------------------------------------------------*/
/* Tips, Error, Message, Hightlight ---*/
p.ja-typo-icon {
	padding-left: 25px;
	position: relative;
}

p.ja-typo-icon span.icon {
	background-image: url(../images/icons-sprites-silk.png);
	/*background-image: url(../../images/icons/icons-sprites-tango.png);*/
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
}

p.icon-error	span.icon { background-position: left -54px; }
p.icon-message	span.icon { background-position: left -72px; }
p.icon-tips 	span.icon {	background-position: left -90px; }
p.icon-key 		span.icon { background-position: left -108px; }
p.icon-tag 		span.icon { background-position: left -126px;; }
p.icon-cart 	span.icon { background-position: right -54px; }
p.icon-doc 		span.icon { background-position: right -72px; }
p.icon-note 	span.icon { background-position: right -90px; }
p.icon-photo 	span.icon { background-position: right -108px; }
p.icon-mobi 	span.icon { background-position: right -126px; }

p.icon-error	{ color: #CC0000; }
p.icon-message	{ color: #2C79B3; }
p.icon-tips		{ color: #E58C00; }

/* BUBBLES
-----------------------------------------------------------------*/
/* Common Style + Style 1 */
.ja-typo-bubble {
	margin: 20px 0;
	position: relative;
}

.ja-typo-bubblect {
	padding: 15px;
	border: 3px solid #ddd;
}

.ja-typo-bubble p.ja-typo-bubble-meta {
	margin: -3px 0 0;
	height: 25px;
	padding-left: 65px;
}

.ja-typo-bubble span.ja-typo-bubble-author {
	font-weight: bold;
	display: block;
	padding-top: 5px;
}

.ja-typo-bubble span.ja-typo-bubble-arrow {
	display: block;
	position: absolute;
	bottom: 0;
	left: 28px;
	width: 25px;
	height: 25px;
	background: url(../images/bubble-arrow.png) 0 0;
}

/* Style 2 --- */
.bubble-2 .ja-typo-bubblect { border: 0; background: #ddd; }
.bubble-2 span.ja-typo-bubble-arrow { background-position: -25px 0; }

/* Style 3 --- */
.bubble-3 .ja-typo-bubblect { border: 3px solid #08c; }
.bubble-3 span.ja-typo-bubble-arrow { background-position: 0 -25px; }

/* Style 4 --- */
.bubble-4 .ja-typo-bubblect { border: 0; background: #08c; color: #fff; }
.bubble-4 span.ja-typo-bubble-arrow { background-position: -25px -25px; }

/* Style 5 --- */
.bubble-5 .ja-typo-bubblect { border: 3px solid #333; }
.bubble-5 span.ja-typo-bubble-arrow { background-position: -50px -50px; }

/* Style 6 --- */
.bubble-6 .ja-typo-bubblect { border: none; background: #333; color: #fff; }
.bubble-6 span.ja-typo-bubble-arrow { background-position: -25px -50px; }

/* Common Style for Rounded Bubbles --- */
.bubble-rounded .ja-typo-bubblect {}

/* MESSAGE BOXES AND LEGENDS STYLE
-----------------------------------------------------------------*/
/* Box style ---*/
p.ja-typo-box {
	border: 3px solid #ddd;
	padding: 10px 10px 10px 50px;
}

/* Box with icons */
p.box-download, p.box-sticky {
	background-repeat: no-repeat;
	background-position: 10px 15px;
}

p.box-download {
	background-image: url(../images/icons/download-big.png);
}

p.box-sticky {
	background-image: url(../images/icons/sticky-big.png);
}

/* Box without icons - Style 1*/
p.box-grey-1, p.box-hilite-1 { padding: 10px 15px; }

p.box-grey-1 { background: #f7f7f7; border-color: #dddddd; }
p.box-hilite-1 { background: #ffffdd; border-color: #d2d2b6; }

/* Box without icons - Style 2*/
p.box-grey-2, p.box-hilite-2 { padding: 10px 15px; }

p.box-grey-2 { background: #f7f7f7; border-color: #dddddd; border-style: dotted; }
p.box-hilite-2 { background: #ffffdd; border-color: #d2d2b6; border-style: dotted; }

/* Rounded Box*/
.box-rounded {}

/* Legend ---*/
.ja-typo-legend {
	border: 3px solid #ddd;
	margin: 20px 0;
	padding: 20px 15px 15px;
	position: relative;
}

.ja-typo-legend .legend-title {
	background: #fff;
	display: block;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 125%;
	font-weight: bold;
	left: 10px;
	line-height: normal;
	margin: 0 !important;
	padding: 5px !important;
	position: absolute;
	top: -17px;
}

/* Legend Style 2 */
.legend-2 { border: 3px solid #08c; }

.legend-2 .legend-title { color: #08c; }

/* Rounded Box*/
.legend-rounded {}

/* BUTTONS
--------------------------------------------------*/
/* Common Buttons Style ---*/
a.ja-typo-btn {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

a.ja-typo-btn.left {
	margin: 10px 20px 10px 0;
}

a.ja-typo-btn.right {
	margin: 10px 0 10px 20px;
}

a.ja-typo-btn span {
	padding: 11px 15px;
	display: inline-block;
	background-position: left top;
	background-repeat: no-repeat;
}

a.ja-typo-btn span span {
	padding: 0;
}

a.ja-typo-btn:hover,
a.ja-typo-btn:active,
a.ja-typo-btn:focus {
	text-decoration: none;
	color: #fff;
}

/*Use for Demo Page Only*/

/* Big Buttons ----*/
a.ja-typo-btn-big span {
	background-image: url(../images/button-corner-big.png);
}

a.ja-typo-btn-big:hover span,
a.ja-typo-btn-big:active span,
a.ja-typo-btn-big:focus span {
	background-image: url(../images/button-corner-big-hover.png);
}

a.ja-typo-btn-big span span,
a.ja-typo-btn-big:hover span span,
a.ja-typo-btn-big:active span span,
a.ja-typo-btn-big:focus span span {
	background: none;
}

a.ja-typo-btn-big.btn-big-1 span span {
	padding-right: 35px;
	background: url(../images/button-arrow.gif) no-repeat right center;
}

a.ja-typo-btn-big.btn-big-3 span {
	background: url(../images/button-corner-big3-left.png) no-repeat left top;
	padding: 0 0 0 25px;
}

a.ja-typo-btn-big.btn-big-3 span span {
	background: url(../images/button-corner-big3-right.png) no-repeat right top;
	padding: 11px 25px 11px 0;
}

a.ja-typo-btn-big.btn-big-3:hover span,
a.ja-typo-btn-big.btn-big-3:focus span,
a.ja-typo-btn-big.btn-big-3:active span {
	background: url(../images/button-corner-big3-left-hover.png) no-repeat left top;
}

a.ja-typo-btn-big.btn-big-3:hover span span,
a.ja-typo-btn-big.btn-big-3:focus span span,
a.ja-typo-btn-big.btn-big-3:active span span {
	background: url(../images/button-corner-big3-right-hover.png) no-repeat right top;
}

a.ja-typo-btn-big.btn-big-4 span {
	background: url(../images/button-corner-big4.png) no-repeat right top;
}

a.ja-typo-btn-big.btn-big-4:hover span,
a.ja-typo-btn-big.btn-big-4:focus span,
a.ja-typo-btn-big.btn-big-4:active span {
	background: url(../images/button-corner-big4-hover.png) no-repeat right top;
}

/* Small Buttons --- */
a.ja-typo-btn-small span { 
	padding: 6px 15px;
	background-image: url(../images/button-corner-small.png);
}

a.ja-typo-btn-small:hover span,
a.ja-typo-btn-small:active span,
a.ja-typo-btn-small:focus span {
	background-image: url(../images/button-corner-small-hover.png);
}

a.ja-typo-btn-small span span,
a.ja-typo-btn-small:hover span span,
a.ja-typo-btn-small:active span span,
a.ja-typo-btn-small:focus span span {
	background: none;
}

a.ja-typo-btn-small.btn-small-1 span span {
	padding-right: 35px;
	background: url(../images/button-arrow.gif) no-repeat right center;	
}

a.ja-typo-btn-small.btn-small-3 span {
	background: url(../images/button-corner-small3-left.png) no-repeat left top;
	padding: 0 0 0 20px;
}

a.ja-typo-btn-small.btn-small-3 span span {
	background: url(../images/button-corner-small3-right.png) no-repeat right top;
	padding: 6px 20px 6px 0;
}

a.ja-typo-btn-small.btn-small-3:hover span,
a.ja-typo-btn-small.btn-small-3:focus span,
a.ja-typo-btn-small.btn-small-3:active span {
	background: url(../images/button-corner-small3-left-hover.png) no-repeat left top;
}

a.ja-typo-btn-small.btn-small-3:hover span span,
a.ja-typo-btn-small.btn-small-3:focus span span,
a.ja-typo-btn-small.btn-small-3:active span span {
	background: url(../images/button-corner-small3-right-hover.png) no-repeat right top;
}

a.ja-typo-btn-small.btn-small-4 span {
	background: url(../images/button-corner-big4.png) no-repeat right top;
}

a.ja-typo-btn-small.btn-small-4:hover span,
a.ja-typo-btn-small.btn-small-4:focus span,
a.ja-typo-btn-small.btn-small-4:active span {
	background: url(../images/button-corner-big4-hover.png) no-repeat right top;
}

/* Common style for Rounded Buttons --- */
a.ja-typo-btn.btn-rounded.ja-typo-btn-big {
	padding: 9px 15px;
}

a.ja-typo-btn.btn-rounded span {
	background: none;
	padding: 0;
}

a.ja-typo-btn.btn-rounded.ja-typo-btn-small {
	padding: 6px 10px;
}

a.ja-typo-btn.btn-rounded.btn-green {
	background: #509a3d;
}

a.ja-typo-btn.btn-rounded.btn-green:hover,
a.ja-typo-btn.btn-rounded.btn-green:focus,
a.ja-typo-btn.btn-rounded.btn-green:active {
	background: #4d7742;
}

a.ja-typo-btn.btn-rounded.btn-blue {
	background: #4173b7;
}

a.ja-typo-btn.btn-rounded.btn-blue:hover,
a.ja-typo-btn.btn-rounded.btn-blue:focus,
a.ja-typo-btn.btn-rounded.btn-blue:active {
	background: #345b8d;
}


/* SPECIAL MODULE STYLE
--------------------------------------------------*/
/* Badge ---*/
.badge {
	background-image: url(../images/badge.png);
	background-repeat: no-repeat;
	height: 46px;
	position: absolute;
	right: 0;
	width: 45px;
}

.badge-hot 	.badge { background-position: 0 0; }
.badge-new 	.badge { background-position: 0 -46px; }
.badge-pick .badge { background-position: 0 -92px; }
.badge-top 	.badge { background-position: 0 -138px; }

/*Use for Demo Page Only*/
#ja-typo .moduletable_badge {
	margin: 0;
	padding: 0;
	min-height: 40px;
}

#ja-typo .moduletable_badge .ja-box-ct {
	border: 3px solid #ddd;
	padding: 20px;
	background: #f7f7f7;
}

/* FORM
--------------------------------------------------*/
/* Fieldset ----*/
/* Common Style + Style 1 */
fieldset.ja-typo-fieldset {
	border: 3px solid #ddd;
	padding: 10px 15px;
}

fieldset.ja-typo-fieldset legend {
	padding: 0 10px;
}

/* Style 2 */
fieldset.fieldset-2 {
	border: 3px solid #08c;
}

fieldset.fieldset-2 legend {
	color: #08c;
}

/*Use for Demo Page Only*/
#ja-typo fieldset {
	margin-top: 20px;
}

/* TYPO PAGE LAYOUT
-------------------------------------------------------------*/
.ja-typo-blockswrap {}

.ja-typo-blockrow {
	padding: 0 0 20px;
}

.ja-typo-block { float: left; }
.ja-typo-blockct { padding: 0; }

.ja-typo-block .ja-typo-blockct {
	padding: 0 14px;
}

.ja-typo-blockswrap .cols-1 .ja-typo-block { width: 100%; float: none; }
.ja-typo-blockswrap .cols-2 .ja-typo-block { width: 50%; float: left; }
.ja-typo-blockswrap .cols-3 .ja-typo-block { width: 33%; float: left; }
.ja-typo-blockswrap .cols-4 .ja-typo-block { width: 24.9%; float: left; }

.ja-typo-blockswrap .ja-typo-block.last { float: right; }

.ja-typo-blockswrap h1.ja-typo-title {
	font-size: 175%;
	border-bottom: 8px solid #ddd;
	padding: 5px;
	margin: 0;
	font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	color: #666;
}

.ja-typo-blockswrap:hover h1.ja-typo-title  {
	border-color: #333;
	color: #333;
}

.ja-typo-blockswrap h2.ja-typo-title {
	font-size: 115%;
	margin: 0;
	padding: 0 10px;
	font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.ja-typo-blockswrap h2.ja-typo-title span {
	background: #f2f2f2;
	color: #666;
	padding: 3px 10px;
	display: inline-block;
}

.ja-typo-blockswrap:hover h2.ja-typo-title span  {
	background: #ddd;
	color: #333;
}

.ja-typo-blockrow > h2.ja-typo-title {
	margin-bottom: -20px;
	margin-top: 20px;
}

#ja-typo .ja-typo-blockct ul,
#ja-typo .ja-typo-blockct ol {
	margin: 15px 0 !important;
}

#ja-typo .ja-typo-blockct ol li {
	margin-left: 30px !important;
	padding: 0;
}

/* Blockswrap Actions ---*/
.ja-typo-blocks-actions {
	font-size: 85%;
	position: absolute;
	right: 5px;
	top: 5px;
	color: #999;
}

.ja-typo-blocks-actions a {
	font-size: 85%;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #c00;
	text-decoration: none;
}

/* Bookmarks list ---*/
ul.bookmark-links li {
	background: url(../images/arrow.png) no-repeat 0px 10px !important;
	border-bottom: 1px dotted #e6e6e6;
	padding: 5px 0 5px 10px !important;
}

/* List video */
a.video {
	background: url(../images/icon-14.png) no-repeat 0px -14px;
	padding: 0 0 0 18px;
	font-size: 92%;
}

a.rss {
	background: url(../images/icon-14.png) no-repeat 0px -42px;
	padding: 0 0 0 18px;
	font-size: 92%;
}

a.comment {
	background: url(../images/icon-14.png) no-repeat 0px -28px;
	padding: 0 0 0 18px;
	font-size: 92%;
}

a.photo {
	background: url(../images/icon-14.png) no-repeat 0px 0px;
	padding: 0 0 0 18px;
	font-size: 92%;
}

/* Discussion ---*/
div.discussion-wrap {
	background: url(../images/dis-arrow.gif) no-repeat left bottom;
	padding-bottom: 15px;
}

div.discussion-content {
	border: 5px solid #D6E9F3;
	border-bottom: none;
	padding: 5px;
}

div.discussion-content h4 {
	margin: 0 0 10px !important;
}

div.discussion-content img {
	margin-right: 15px;
}

span.author {
	display: block;
	clear: both;
}

/* Images in Paragraphy ---*/
div.img-caption {
	position: relative;
	margin-bottom: 15px;
}

div.img-caption.caption1 {
	padding-right: 5px;
}

div.img-caption.caption2 {
	overflow: hidden;
}

div.img-caption.left {
	margin-right: 15px;
}

div.img-caption.left img {
	float: left;
}

div.img-caption.right {
	margin-left: 15px;
}

div.img-caption.right img {
	float: right;
}

div.img-caption span.caption1 {
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../images/caption1.png) no-repeat right bottom;
	color: #fff;
	font-size: 92%;
	line-height: 37px;
	height: 37px;
	width: 100%;
	text-align: center;
}

div.img-caption span.caption2 {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/caption2.png) no-repeat left bottom;
	color: #fff;
	font-size: 92%;
	line-height: 55px;
	height: 44px;
	width: 100%;
	text-align: left;
	padding-left: 15px;
}

/* Images Styling ---*/
.img-style-wrap img {
	padding: 5px;
	background: #fff;
	border: 1px solid #e2e2e2;
}


.img-style-wrap.style5 img,
.img-style-wrap.style7 img,
.img-style-wrap.style8 img {
	padding: 0;
	border: 0;
	float: none;
}

.img-style-wrap.style1 {
	background: url(../images/img-shadow-br.png) no-repeat right bottom;
	padding-bottom: 3px;
	padding-right: 3px;
}

.img-style-wrap.style2 {
	background: url(../images/img-shadow-br2.png) no-repeat center bottom;
	padding-bottom: 7px;
}

.img-style-wrap.style3 {
	background: url(../images/img-shadow-br3.png) no-repeat center bottom;
	padding-bottom: 6px;
}

.img-style-wrap.style4 {
	background: url(../images/img-shadow-br.png) no-repeat right bottom;
	padding-bottom: 3px;
	padding-right: 3px;
}

.img-style-wrap.style7 {
	width: 203px;
	text-align: center;
}

.img-style-wrap.style8 {
	width: 192px;
	text-align: center;
}

.img-style-wrap {
	position: relative;
}

.img-style-wrap span.corner {
	background: url(../images/img-shadow-right.png) no-repeat right top;
	padding: 0;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
	height: 23px;
}

.img-style-wrap span.caption {
	position: absolute;
	line-height: 40px;
}

.img-style-wrap.style4 span.caption {
	bottom: 4px;
	left: 1px;
	background: #fff;
	width: 168px;
}

.img-style-wrap.style6 span.caption {
	bottom: 4px;
	left: 1px;
	background: #fff;
	width: 168px;
}

.img-style-wrap.style5 span.caption {
	bottom: 0;
	left: 0;
	background: url(../images/caption2.png) no-repeat left bottom;
	width: 175px;
	color: #fff;
	height: 44px;
	line-height: 55px;
}

.img-style-wrap.style6 span.caption {
	bottom: 4px;
	left: 6px;
	background: url(../images/caption3.png);
	width: 163px;
	color: #fff;
	line-height: 40px;
}

.img-style-wrap.style7 span.caption {
	bottom: 0;
	left: 0;
	background: url(../images/caption4.png) no-repeat left bottom;
	width: 203px;
	color: #fff;
	line-height: 40px;
}

.img-style-wrap.style8 span.caption {
	bottom: 0;
	left: 0;
	background: url(../images/caption5.png) no-repeat left bottom;
	width: 192px;
	color: #fff;
	line-height: 40px;
}

.img-style-wrap.style4 span.corner,
.img-style-wrap.style1 span.corner { right: 3px; }

.img-style-wrap.style5 span.corner {
	background: url(../images/img-shadow-corner.png) no-repeat right top;
	right: 0;
}

.img-style-wrap span.zoom1 {
	background: url(../images/zoom1.png) no-repeat right top;
	position: absolute;
	left: 38%;
	top: 38%;
	width: 44px;
	height: 44px;
	cursor: pointer;
}

.img-style-wrap span.zoom2 {
	background: url(../images/zoom2.png) no-repeat right top;
	position: absolute;
	left: 43%;
	top: 43%;
	width: 29px;
	height: 29px;
	cursor: pointer;
}

.img-style-wrap span.zoom3 {
	background: url(../images/zoom3.png) no-repeat right top;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 17px;
	height: 17px;
	cursor: pointer;
}

/* Icons Style ---*/
.icons-styling .ja-typo-block .ja-typo-blockct {
	padding: 0 10px;
}

a.icon-style {
	background-repeat: no-repeat;
	background-image: url(../images/icons-style.png);
}

a.icon-style span {
	display: none;
}

a.icon-style.size32 {
	width: 32px;
	height: 32px;
	display: block;
}

a.icon-style.size24 {
	width: 24px;
	height: 24px;
	display: block;
}

a.icon-style.size16 {
	width: 16px;
	height: 16px;
	display: block;
}

a.icon-style.icon1 { background-position: left top; }

a.icon-style.icon2 { background-position: -72px top; }

a.icon-style.icon3 { background-position: -142px top; }

a.icon-style.icon4 { background-position: -216px top; }

a.icon-style.icon5 { background-position: -288px top; }

a.icon-style.icon6 { background-position: -362px top; }

a.icon-style.icon7 { background-position: -430px top; }

a.icon-style.icon8 { background-position: -503px top; }

a.icon-style.icon9 { background-position: right top; }

a.icon-style.icon10 { background-position: left -55px; }

a.icon-style.icon11 { background-position: -48px -55px; }

a.icon-style.icon12 { background-position: -96px -55px; }

a.icon-style.icon13 { background-position: -145px -55px; }

a.icon-style.icon14 { background-position: -196px -55px; }

a.icon-style.icon15 { background-position: -242px -55px; }

a.icon-style.icon16 { background-position: -339px -55px; }

a.icon-style.icon17 { background-position: -387px -55px; }

a.icon-style.icon18 { background-position: -436px -55px; }

a.icon-style.icon19 { background-position: -484px -55px; }

a.icon-style.icon20 { background-position: -533px -55px; }

a.icon-style.icon21 { background-position: -584px -55px; }

a.icon-style.icon22 { background-position: right -55px; }

a.icon-style.icon23 { background-position: -34px -100px; }

a.icon-style.icon24 { background-position: -68px -100px; }

a.icon-style.icon25 { background-position: -102px -100px; }

a.icon-style.icon26 { background-position: -136px -100px; }

a.icon-style.icon27 { background-position: -170px -100px; }

a.icon-style.icon28 { background-position: -206px -100px; }

a.icon-style.icon29 { background-position: -240px -100px; }

a.icon-style.icon30 { background-position: -274px -100px; }

a.icon-style.icon31 { background-position: -310px -100px; }

a.icon-style.icon32 { background-position: -344px -100px; }

a.icon-style.icon33 { background-position: -378px -100px; }

a.icon-style.icon34 { background-position: -412px -100px; }

a.icon-style.icon35 { background-position: -446px -100px; }

a.icon-style.icon36 { background-position: -482px -100px; }

a.icon-style.icon37 { background-position: -516px -100px; }

a.icon-style.icon38 { background-position: -550px -100px; }

a.icon-style.icon39 { background-position: -585px -100px; }

/* Sponsors Pages ---*/
.ja-sponsors h1 a.btn-big-1 {
	font-size: 60%;
	margin: 0;
}

.ja-sponsors a.btn-big-1 {
	float: right;
	margin-right: 0;
}

.ja-sponsors-list {
	background: #e8f0f8;
	padding: 10px;
	margin-bottom: 15px;
}

.ja-sponsors-list h3 {
	margin: 0 0 10px 0;
}

.ja-sponsors-list .ja-box-ct {
	background: #fff;
}

.ja-sponsors-list .ja-divinner {
	margin: 0 10px;
	border-bottom: 1px solid #e8f0f8;
}

.ja-sponsors-item {
	margin: 0 10px;
}

.ja-sponsors table {
	border-color: #fff;
	border-width: 0 0 1px 1px;
	border-style: solid;
	width: 100%;
}

.ja-sponsors table td,
.ja-sponsors table th {
	border-color: #fff;
	border-width: 0px 1px 0 0;
	border-style: solid;
	width: 30%;
	text-align: left;
	padding: 10px;
}

.ja-sponsors table thead th {
	font-size: 200%;
	font-family: "Trebuchet MS",Arial,sans-serif;
	color: #383838;
	text-align: center;
}

.ja-sponsors table tbody td {
	font-size: 100%;
}

.ja-sponsors table td.first,
.ja-sponsors table td.center,
.ja-sponsors table td.last,
.ja-sponsors table th.first,
.ja-sponsors table th.center,
.ja-sponsors table th.last {
   width: 20%;
   text-align: center;
}

.ja-sponsors table .onecol td.blank {
	font-size: 150%;
	font-family: "Trebuchet MS",Arial,sans-serif;
	text-align: left;
	border-bottom: 1px solid #cad7e2;
	border-top: 1px solid #cad7e2 !important;
}

.ja-sponsors table .sectiontableentry1 td.first,
.ja-sponsors table .sectiontableentry1 th.first {
	background: #e1f5dc;
}

.ja-sponsors table .sectiontableentry1 td.center,
.ja-sponsors table .sectiontableentry1 th.center {
	background: #f0f6fb;
}

.ja-sponsors table .sectiontableentry1 td.last,
.ja-sponsors table .sectiontableentry1 th.last {
	background: #d7e6f4;
}

.ja-sponsors table .sectiontableentry2 td.first,
.ja-sponsors table .sectiontableentry2 th.first {
	background: #f6fcf4;
}

.ja-sponsors table .sectiontableentry2 td.center,
.ja-sponsors table .sectiontableentry2 th.center {
	background: #fff;
}

.ja-sponsors table .sectiontableentry2 td.last,
.ja-sponsors table .sectiontableentry2 th.last {
	background: #f0f6fb;
}

.ja-sponsors table .sectiontableentry1 td.blank,
.ja-sponsors table .sectiontableentry2 td.blank,
.ja-sponsors table .sectiontableentry1 th.blank,
.ja-sponsors table .sectiontableentry2 th.blank {
	background: #fff;
}

.ja-sponsors table .ja-typo-btn.btn-rounded.ja-typo-btn-small {
	margin:  10px 10px;
	padding: 5px 22px;
}

.ja-sponsors table td img {
	margin-right: 5px;
}

.ja-sponsors table td small {
	font-size: 80%;
	color: #808080;
	font-family: Arial, Helvetica, sans-serif;
}

/* Shedule & Workshops page ---*/
.ja-shedule table {
	border: none;
}

.ja-shedule table td,
.ja-shedule table th {
	border: none;
	padding: 10px;
}

.ja-shedule table td.first,
.ja-shedule table th.first {
	width: 15%;
}

.ja-shedule table td.last,
.ja-shedule table th.last {
	width: 75%;
	font-weight: bold;
	padding-left: 15px;
	background-image: url(../images/td-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.ja-shedule table table td,
.ja-shedule table table th {
	width: 20%;
	background: none;
	color: #8c8c8c;
	vertical-align: top;
	border-right: 1px dashed #b2b2b2;
}

.ja-shedule table table th {
	background-image: url(../images/th-bg.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 30px;
}

.ja-shedule table table td.track5,
.ja-shedule table table th.track5 {
	border-right: 0;
}

.ja-shedule a {
	color: #4173b7;
}

.ja-shedule small {
	font-size: 92%;
}

/* Table List ---*/
table {
	border-color: #cad7e2;
	border-width: 0 0 1px 1px;
	border-style: solid;
	width: 100%;
}

table td,
table th {
	border-color: #cad7e2;
   border-width: 1px 1px 0 0;
   border-style: solid;
}

table .sectiontableentry1 td,
table .sectiontableentry1 th {
	background: #fff;
}

table .sectiontableentry2 td,
table .sectiontableentry2 th {
	background: #f1f6f9;
}

table textarea {
	width: auto !important;
}

/* Menu Tags 
-------------------------------------------------------------*/
#ja-mainnav ul li span.menu-desc,
#ja-subnav ul li span.menu-desc {
	display: none;
}

#ja-mainnav .parent-tags a.parent-tags,
#ja-mainnav .tags a.tags,
#ja-subnav .parent-tags a.parent-tags,
#ja-subnav .tags a.tags {
	position: relative;
	zoom: 1;
}

#ja-mainnav ul .parent-tags a.parent-tags span.menu-title {
	padding-right: 40px !important;
}

#ja-subnav ul .parent-tags a.parent-tags span.menu-title {
	padding-right: 50px !important;
}

#ja-mainnav .parent-tags a.parent-tags span.menu-desc,
#ja-mainnav .tags a.tags span.menu-desc,
#ja-subnav .parent-tags a.parent-tags span.menu-desc,
#ja-subnav .tags a.tags span.menu-desc {
	position: absolute;
	font-size: 10px !important;
	line-height: normal !important;
	padding: 2px 7px !important;
	background: #696f72;
	color: #fff;
	font-weight: bold !important;
	display: block !important;
	text-transform: none !important;
}

#ja-mainnav ul .parent-tags a.parent-tags span.menu-desc,
#ja-subnav ul .parent-tags a.parent-tags span.menu-desc {
	top: 15px;
	right: 8px;
}

#ja-mainnav ul .parent-tags a.parent-tags span.menu-title {
	padding-right: 40px !important;
}

#ja-mainnav .tags a.tags span.menu-desc,
#ja-subnav .tags a.tags span.menu-desc {
	top: 4px;
	right: 0px;
}

#ja-mainnav ul ul .parent-tags a.parent-tags span.menu-desc {
	top: 2px;
	right: 12px;
}

#ja-subnav ul .parent-tags a.parent-tags span.menu-desc {
	top: 0;
	right: 10px;
}

/* Green */
#ja-mainnav .parent-tags a.tags-green span.menu-desc,
#ja-mainnav .tags a.tags-green span.menu-desc,
#ja-subnav .parent-tags a.tags-green span.menu-desc,
#ja-subnav .tags a.tags-green span.menu-desc {
	background: #6b9e1b;
}

#ja-mainnav .parent-tags a.tags-green-hover:hover span.menu-desc,
#ja-mainnav .tags a.tags-green-hover:hover span.menu-desc,
#ja-subnav .parent-tags a.tags-green-hover:hover span.menu-desc,
#ja-subnav .tags a.tags-green-hover:hover span.menu-desc {
	background: #6b9e1b;
}

/* Red */
#ja-mainnav .parent-tags a.tags-red span.menu-desc,
#ja-mainnav .tags a.tags-red span.menu-desc,
#ja-subnav .parent-tags a.tags-red span.menu-desc,
#ja-subnav .tags a.tags-red span.menu-desc {
	background: #ee372a;
}

#ja-mainnav .parent-tags a.tags-red-hover:hover span.menu-desc,
#ja-mainnav .tags a.tags-red-hover:hover span.menu-desc,
#ja-subnav .parent-tags a.tags-red-hover:hover span.menu-desc,
#ja-subnav .tags a.tags-red-hover:hover span.menu-desc {
	background: #ee372a;
}

/* Blue */
#ja-mainnav .parent-tags a.tags-blue span.menu-desc,
#ja-mainnav .tags a.tags-blue span.menu-desc,
#ja-subnav .parent-tags a.tags-blue span.menu-desc,
#ja-subnav .tags a.tags-blue span.menu-desc {
	background: #0367a6;
}

#ja-mainnav .parent-tags a.tags-blue-hover:hover span.menu-desc,
#ja-mainnav .tags a.tags-blue-hover:hover span.menu-desc,
#ja-subnav .parent-tags a.tags-blue-hover:hover span.menu-desc,
#ja-subnav .tags a.tags-blue-hover:hover span.menu-desc {
	background: #0367a6;
}