/*
# ------------------------------------------------------------------------
# JA Tabs Plugins for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/
.lead ul.ja-tabs-title li h3 {
	font-weight: normal !important;
	line-height: 29px;
	text-transform: uppercase;
}

.lead .ja-tab-subcontent {
	padding: 20px 10px !important;
}

/* JA Tabs top*/
.lead .ja-tab-panels-top {
	background: #FFFFFF;
	border: 1px solid #D5D5D5;
	border-top: none;
	width: auto;
}

.lead .ja-tabs-title-top {
	border-bottom: 1px solid #D5D5D5;
	height: 30px;
	position: relative;
	width: 100%;
}

.lead .ja-tabs-title-top ul.ja-tabs-title li {
	background: #000000;
	border: 1px solid #D5D5D5;
	border-bottom: none;
	margin-right: 2px;
}

.lead .ja-tabs-title-top ul.ja-tabs-title li h3 {
	border: 1px solid #000000;
	border-bottom: none;
	color: #656565;
	margin: 0;
	padding: 0 10px;
}

.lead .ja-tabs-title-top ul.ja-tabs-title li.hover,
.lead .ja-tabs-title-top ul.ja-tabs-title li.firsthover,
.lead .ja-tabs-title-top ul.ja-tabs-title li.lasthover {
}

.lead .ja-tabs-title-top ul.ja-tabs-title li.active,
.lead .ja-tabs-title-top ul.ja-tabs-title li.firstactive,
.lead .ja-tabs-title-top ul.ja-tabs-title li.lastactive {
	background: #FFFFFF;
	border: 1px solid #D5D5D5;
	border-bottom: none;
}

.lead .ja-tabs-title-top ul li.active h3 ,
.lead .ja-tabs-title-top ul li.firstactive h3,
.lead .ja-tabs-title-top ul li.lastactive h3 {
	border: 1px solid #FFFFFF;
	border-bottom: none;
	color: #656565;
}

/* JA Tabs bottom*/
.lead .ja-tab-panels-bottom {
	background: #FFFFFF;
	border: 1px solid #D5D5D5;
	border-bottom: 0;
	left: 0;
	width: auto;
}

.lead .ja-tabs-title-bottom {
	border-top: 1px solid #D5D5D5;
	height: 30px;
	position: relative;
	width: 100%;
}

.lead .ja-tabs-title-bottom ul.ja-tabs-title li {
	background: #000000;
	border: 1px solid #D5D5D5;
	margin-top: -1px;
}

.lead .ja-tabs-title-bottom ul.ja-tabs-title li h3 {
	border: 1px solid #000000;
	border-top: none;
	color: #656565;
	margin: 0;
	padding: 0 10px;
}

.lead .ja-tabs-title-bottom ul.ja-tabs-title li.hover,
.lead .ja-tabs-title-bottom ul.ja-tabs-title li.firsthover,
.lead .ja-tabs-title-bottom ul.ja-tabs-title li.lasthover {
}

.lead .ja-tabs-title-bottom ul.ja-tabs-title li.active,
.lead .ja-tabs-title-bottom ul.ja-tabs-title li.firstactive,
.lead .ja-tabs-title-bottom ul.ja-tabs-title li.lastactive {
	background: #FFFFFF;
	border: 1px solid #D5D5D5;
	border-top: 1px solid #FFFFFF;
}

.lead .ja-tabs-title-bottom ul li.active h3 ,
.lead .ja-tabs-title-bottom ul li.firstactive h3,
.lead .ja-tabs-title-bottom ul li.lastactive h3 {
	border: 1px solid #FFFFFF;
	border-top: none;
	color: #656565;
}