#ja-cssmenu li.sfhover { background: #aa6919; }

/* 2nd level and above */
#ja-cssmenu li ul {
	background: #aa6919;
	border: 1px solid #aa6919;
}

#ja-cssmenu li ul li {
	border-top: 1px dotted #d58419;
	border-bottom:0;
}

#ja-cssmenu li ul li.first {
	border-top:0;
}

#ja-cssmenu li ul li.active, #ja-cssmenu li ul li.sfhover{
	background: #8b520c;
}


#ja-cssmenu li ul ul {
	border:0;
}