.ja-megamenu ul.level0 li.mega {
	background: #030303;
}

.ja-megamenu ul.level0 li.mega.over {
	background: #aa6919;
}

.ja-megamenu .childcontent-inner {
	background: #aa6919;
	border-color: #aa6919;
}

.ja-megamenu ul.level1 li.mega {
	background: #aa6919;
	border-top: 1px dotted #d58419;
}

.ja-megamenu ul.level1 li.first {
	border:0;
}

.ja-megamenu ul.level1 li.mega.over, 
.ja-megamenu ul.level1 li.mega.active {
	background: #8b520c;
}

.ja-megamenu .group-title {
	background:url(../../images/group-title.gif) no-repeat left bottom;
}