.ja-anim, .ja-anim div{
	border: none;
}
.anim-desc{
	display: none;
}
div.moduletable_jaanim,div.moduletablejaanim
{
	height:900px;
}
div.ja-moduletable-anim-clear
{
	margin-bottom:10px;
	margin-top:10px;
	padding:0 0 20px;
	position:absolute;
}
.ja-anim{
	position: absolute;
	display: none;
}

.ja-anim .changebg{
	width: 100%;
	height: 100%;
}
.ja-anim .changebg{
	z-index: 1000000;
}
#pumpkin1{
	position: absolute;
	bottom: 10px;
}
div.ja-anim-tip {
	background: #f5a400;
	border: 2px solid #000;
	color: #fff !important;
	padding: 5px 10px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);	
	z-index: 1000001
}

div.ja-anim-tip div {
	margin: 0;
	padding: 0;
	border: 0;
	-moz-border-radius: none;
	-moz-box-shadow: none;
}

div.ja-anim-tip h3 {
	font-size: 125%;
	text-shadow: 0 1px 1px 1px #d86400;
}

div.ja-anim-tip p.message {
	color: #fff;
}

div.ja-anim-tip p.message a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}

.ja-anim-tips-tip {
	z-index: 3333;
	border: 1px red solid;	
	color: blue;
}
#ja-bot-banner{
	overflow:hidden;
}
