/*
# ------------------------------------------------------------------------
# JA Tabs Plugins for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

.ja-tabswrap {
	margin: 0;
	padding: 0;
}

.anion .container {
	overflow: visible;
	position: relative;
	z-index: 10;
}

/* JA Tabs top */
div.ja-moduletable .ja-tabs-title-top {
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 -20px !important;
	background: #4080BF url(heightlight-bg.gif) left bottom repeat-x;
	padding: 10px 20px 0;
}

div.ja-moduletable .ja-tabs-title h3 {
	background: url(heightlight-title-bg.png) right bottom no-repeat;
	padding: 0;
	padding-right: 11px;
}

div.ja-moduletable .ja-tabs-title h3 span {
	background: url(heightlight-title-bg.png) left top no-repeat;
	height: 20px;
	padding-left: 11px;
	padding-right: 0;
	color: #B3D2F1;
	line-height: 17px;
	font-weight: bold;
}

div.moduletable_tab .ja-box-ct {
	padding: 0 20px !important;
	border-top: 0 !important;
}

div.ja-moduletable .ja-tabs-title .active h3 span {
	color: #fff;
}

.ja-tabs-title-top ul.ja-tabs-title li {
	margin-right: 5px;
}

.ja-tabswrap .ja-tab-content li {
	border-bottom: 0;
	background: url(border-4.gif) left top repeat-x;
	padding: 10px 0 20px;
	width: auto;
}

.ja-tabswrap .ja-tab-content li:first-child {
	background: none;
}

.ja-tabswrap div.ja-tab-subcontent {
	padding-top: 10px;
	background-color: #1c1c1c;
}