/*
# ------------------------------------------------------------------------
# JA Tabs Plugins for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2009 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
# ------------------------------------------------------------------------
*/
.ja-tabswrap.rave {
	border: solid 1px #ddd;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.6;
	font-size: 12px;
	color: #333;
}


.rave ul li h3 {
	background: none;
	border: none;
	font-weight: normal;
	font-size: 11px;
	padding: 0px;
	text-align: center;
	margin: 0px;
}

.rave ul li.active h3 {
	color: #9a2016;
}

.rave .ja-tab-subcontent li a {
	color: #333;
}

.rave .ja-tab-subcontent li a:hover {
	color: #9a2016;
}

.rave .ja-tab-subcontent li p {
	font-size: 85%;
	color: #888;
	margin: 0px;
	padding: 0px;
}

/* JA Tabs top*/
.rave .ja-tabs-title-top {
	background: url(tabs-bg.png) repeat-x bottom center;
}

.rave .ja-tabs-title-top ul.ja-tabs-title li {
	border: none;
	background: none;
	margin: 11px 0px;
	border-left: solid 1px #ddd;
	padding: 0px 10px;
}

.rave .ja-tabs-title-top ul.ja-tabs-title li.active {
	border: none !important;
}

.rave .ja-tabs-title-top ul.ja-tabs-title li.first {
	border-right: solid 1px #ddd;
	border-left: none;
}

.rave .ja-tabs-title-top ul li.active h3 {
	color: #9a2016 !important;
	background: url(tabs-active.png) no-repeat bottom center;
	padding-bottom: 16px;
	
}
.rave .ja-tabs-title-top ul li.active:hover h3 {
	color: #9a2016;
}

.rave div.ja-tab-subcontent {
	margin: 0px 15px;
}

.rave .ja-tab-panels-top div.ja-tab-content {
	padding: 0px;
}

.rave .ja-tab-panels-top div.ja-tab-subcontent {
	margin-bottom: 20px;
}

.rave .ja-tab-panels-top li {
	padding: 10px 0px !important;
	border-bottom: dotted 1px #dedede;
	margin: 0px;
	background: none !important;
}

.rave .ja-tab-panels-top li.last {
	padding-bottom: 0px !important;
	border-bottom: none;
}
/* JA Tabs left*/
.rave .ja-tabs-title-left ul.ja-tabs-title{
	margin-bottom: 5px;
}
.rave .ja-tabs-title-left ul.ja-tabs-title li {
	height: 26px;
	border-right: solid 1px #dedede;
	border-bottom: solid 1px #dedede;
	background: none;
	line-height: 26px;	
}

.rave .ja-tabs-title-left ul.ja-tabs-title li.active {
	background: url(tabs-active-r.png) no-repeat right;	
	border-right: none;
}

.rave .ja-tabs-title-left ul.ja-tabs-title li.last.active {
	border-bottom: none;
}

.rave .ja-tabs-title-left ul.ja-tabs-title li h3 {
	margin-top: 5px;	
}

/* JA Tabs right*/
.rave .ja-tabs-title-right ul.ja-tabs-title{
	margin-bottom: 5px;
	top: 0px;
}

.rave .ja-tabs-title-right ul.ja-tabs-title li {
	height: 26px;
	border-left: solid 1px #dedede;
	border-bottom: solid 1px #dedede;
	background: none;
	line-height: 26px;	
}

.rave .ja-tabs-title-right ul.ja-tabs-title li.active {
	background: url(tabs-active-l.png) no-repeat left;	
	border-left: none;
}

.rave .ja-tabs-title-right ul.ja-tabs-title li.last.active {
	border-bottom: none;
}

.rave .ja-tabs-title-right ul.ja-tabs-title li h3 {
	margin-top: 5px;	
}

/* JA Tabs bottom*/
.rave .ja-tabs-title-bottom {
	background: url(tabs-bg-bt.png) repeat-x top center;
	height: 40px;
	width: 100%;
}

.rave .ja-tabs-title-bottom ul.ja-tabs-title {
	position: relative !important;
}

.rave .ja-tabs-title-bottom ul.ja-tabs-title li {
	border: none;
	background: none;
	margin: 16px 0px 0px 0px;
	border-left: solid 1px #ddd;
	padding: 0px 10px;
}
.rave .ja-tabs-title-bottom ul li.active {
	margin-top: 0px;
}

.rave .ja-tabs-title-bottom ul li.active h3 {
	background: url(active-bottom.png) no-repeat top center;
	padding-top: 16px;
}

.rave .ja-tabs-title-bottom ul.ja-tabs-title li.active {
	border: none !important;
}

.rave .ja-tabs-title-bottom ul.ja-tabs-title li.first {
	border-right: solid 1px #ddd;
	border-left: none;
}

.rave .ja-tab-panels-bottom li {
	padding: 10px 0px !important;
	border-top: dotted 1px #dedede;
	margin: 0px;
	background: none !important;
}

.rave .ja-tab-panels-bottom li.first {
	border-top: none;
}

.rave .ja-tab-panels-bottom .ja-tab-subcontent {
	margin-top: 10px;
}