/*
# ------------------------------------------------------------------------
# JA Extensions Manager
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/
.ja-tooltip {
}


/* Title */
.ja-tips-title {
	font-weight: bold;
	color:#333333 !important;
	cursor:pointer !important;
	display:inline !important;
	padding-bottom:1px;
	position:static;
	text-decoration:underline !important;
}

/* Close button */
.ja-tooltip .close {
	width: 14px;
	height: 14px;
	background: url(close.gif) no-repeat top left;
	position: absolute;
	top: 15px;
	right: 15px;
}

.ja-tooltip .close:hover {
	background: url(close-hover.gif) no-repeat top left;
}

/* Tooltips top */
.default .top1 {
	background: url(c-tl.gif) no-repeat left top;
}

.default .top2 {
	background: url(c-tr.gif) no-repeat right top;
}

.default .top3 {
	margin: 0 15px;
	background: url(box-tooltip.gif) no-repeat center top;
}

.default .top4 {
	width: 100%;
	height: 9px;
}

/* Tooltip middle */
.default .mid1 {
	background: url(m-l.gif) no-repeat left center;
}

.default .mid2 {
	background: url(m-r.gif) no-repeat right center;
}

.default .mid3 {
	margin: 0 7px;
	padding: 10px;
	background: #ffffcc;
}

.default .mid3 p {
	margin-bottom: 0;
}

/* Tooltips bottom */
.default .bot1 {
	background: url(c-bl.gif) no-repeat left bottom;
}

.default .bot2 {
	background: url(c-br.gif) no-repeat right bottom;
}

.default .bot3 {
	margin: 0 15px;
	background: url(box-tooltip.gif) no-repeat center bottom;
}

.default .bot4 {
	width: 100%;
	height: 9px;
}

/* Arrow position */
.left-bottom div.bot4 {
	background: url(arrow-bottom.gif) no-repeat 20px bottom;
}

.center-bottom div.bot4 {
	background: url(arrow-bottom.gif) no-repeat center bottom;	
}

.right-bottom div.bot4 {
	background: url(arrow-bottom.gif) no-repeat 90% bottom;	
}

.left-top div.top4 {
	background: url(arrow-top.gif) no-repeat 20px top;
}

.center-top div.top4 {
	background: url(arrow-top.gif) no-repeat center top;
}

.right-top div.top4 {
	background: url(arrow-top.gif) no-repeat 90% top;
}