/*
# ------------------------------------------------------------------------
# JA Extensions Manager
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/
.tool-tip {
border: solid 1px #cccccc;
}

.tool-title {
	border-bottom: solid 1px #ccc;
	background: #eee;
}

.tool-text {
	background: #fff;
}

.tool-tip .close {
	width: 10px;
	height: 10px;
	background: #ff0000;
}