/*
# ------------------------------------------------------------------------
# JA Rasite template for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2009 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
# ------------------------------------------------------------------------
*/

.ja-slidewraprasite {
	border: 1px solid #191A1B;
	margin: 0;
	padding: 0;
	position: relative;
}

.moduletablerasite .ja-slide-main-wrap {
	overflow: hidden;
	position: relative;
	float:left
}

.moduletablerasite .ja-slide-main {
	position:relative;
	z-index: 1;
}

.moduletablerasite .ja-slide-item {
	display: block;
	float: left;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.moduletablerasite .ja-slide-item img {
	background: #000;
}

.moduletablerasite .ja-slide-thumbs-wrap {
	clear: both;
	overflow: hidden;
	position: relative;
}

.moduletablerasite .but_prev,.moduletablerasite  .but_next {
	background: #000;
	position: absolute;
	top: 0;
	z-index: 99;
}

.moduletablerasite .but_prev {
	background: url(arrow-l.gif) no-repeat right center;
	left: 0;
}

.moduletablerasite .but_prev:hover,.moduletablerasite  .but_next:hover {
	cursor: pointer;
}

.moduletablerasite .but_next {
	background: url(arrow-r.gif) no-repeat left center;
	right: 0;
}

.moduletablerasite .maskDesc {
	background: #000;
	cursor: pointer;
	display: block;
	position: absolute;
	z-index: 100;
}

.moduletablerasite .maskDesc .ja-slide-desc {
	color: #ccc;
	font-size: 100%;
	padding: 10px 20px;
}

.moduletablerasite .maskDesc .ja-slide-desc a,
.moduletablerasite .maskDesc .ja-slide-desc a:hover,
.moduletablerasite .maskDesc .ja-slide-desc a:focus,
.moduletablerasite .maskDesc .ja-slide-desc a:active {
	border: none !important;
	text-decoration: none !important;
}

.moduletablerasite .maskDesc .ja-slide-desc a span {
	color: #fff;
	font-size: 150%;
	font-weight: bold;
}

.moduletablerasite .maskDesc .ja-slide-desc br { display: none; }

.moduletablerasite .maskDesc .ja-slide-desc h3 {
	margin: 0;
	padding: 0;
}

.moduletablerasite .maskDesc .ja-slide-desc p a { color: #ccc; }

.moduletablerasite .maskDesc a.readon {
	background: url(arrow-ri.gif) no-repeat right 7px;
	bottom: 2px;
	color: #ccc;
	display: block;
	font-size: 100%;
	font-weight: bold;
	padding: 0 8px 0 0;
	position: absolute;
	right: 20px;
}

.moduletablerasite .maskDesc a.readon:hover,
.moduletablerasite .maskDesc a.readon:active,
.moduletablerasite .maskDesc a.readon:focus {
	background: url(arrow-ri-hover.gif) no-repeat right 7px;
	color: #fff;
}

.moduletablerasite .ja-slide-buttons {
	z-index: 900;
}

.moduletablerasite .ja-slide-buttons span {
	background: #000;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	margin-right: 5px;
	padding: 2px 5px;
}

/*JA Sideshow [ Topspotlight 1]*/
.moduletablerasite #ja-slideshow .ja-slidewrap {
	margin: 0;
	padding: 0;
	position: relative;
}

.moduletablerasite #ja-slideshow .ja-slide-mask {
	background: #ccc;
	bottom: 10px;
	display: none;
	height: 70px;
	position: absolute;
	right: 10px;
	width: 210px;
	z-index: 99;
}

.moduletablerasite #ja-slideshow .ja-slide-thumbs-wrap {
	background: #ccc;
	bottom: 10px;
	position: absolute;
	right: 10px;
	z-index: 100;
}

.moduletablerasite #ja-slideshow .ja-slide-buttons {
	bottom: 10px;
	display: block;
	left: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 101;
}

.moduletablerasite #ja-slideshow .ja-slide-thumb img {
	background: #CCCCCC;
	border: 1px solid #fff;
	margin: 4px;
}

.moduletablerasite #ja-slideshow .ja-slide-item img {
	border: none;
	padding: 0;
}

.moduletablerasite #ja-slideshow .maskdesc {
	background: none;
}

.moduletablerasite #ja-slideshow .maskdesc .ja-slide-desc {
	color: #fff;
	font-size: 100%;
	padding: 20px 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 230px;
}

.moduletablerasite #ja-slideshow .maskdesc .ja-slide-desc h3 {
	color: #ccc;
	text-transform: uppercase;
}

/* SCROLL LEFT
-----------------------------------------*/
/* Horizontal ---*/
.moduletablerasite .ja-vertical_right {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

/* horizontal ---*/
.moduletablerasite .ja-vertical_left {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 100;
}

.moduletablerasite .ja-vertical_right .active {
	background: url(arrow-bg.gif) no-repeat center left;
}

.moduletablerasite .ja-vertical_left .active {
	background: url(arrow-bg2.gif) no-repeat center right;
}

.moduletablerasite .ja-slide-right {
	margin-left: auto;
	right: 0;
	top: 0;
	float:right
}

.ja-slide-thumbs, .ja-slide-thumbs-mask,.moduletablerasite  .ja-slide-thumbs-handles {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.moduletablerasite .ja-articles .ja-slide-thumbs-handles {
	/*
	background: #fff;
	filter: alpha(opacity=0);
	opacity: 0.00; 
	*/
}

.moduletablerasite .ja-slide-descs {
	display: none;
}

.moduletablerasite .ja-slide-thumb, .moduletablerasite .ja-slide-thumbs-handles span {
	cursor: pointer;
	display: block;
	float: left;
	margin: 0;
}

/* horizontal  */
.moduletablerasite .ja-vertical_right .ja-slide-thumb,
.moduletablerasite .ja-vertical_right .ja-slide-thumbs-handles span {
	float: none!important;
}

.moduletablerasite .ja-vertical_left .ja-slide-thumb,
.moduletablerasite .ja-vertical_left .ja-slide-thumbs-handles span {
	float: none!important;
}

.moduletablerasite .ja-slide-thumbs-wrap .ja-slide-thumb-inner h3 {
	text-transform: none !important;
	font-size: 110%;
	margin-bottom: 5px !important;
}

.moduletablerasite .ja-slide-thumbs-wrap .active .ja-slide-thumb-inner {
	background: url(grad-bg.gif) repeat-x top left #57212A;
}

.moduletablerasite .ja-slide-thumbs-wrap .active .ja-slide-thumb-inner h3 {
	color: #fff !important;
}

.moduletablerasite .ja-slide-thumbs-handles span {}

.moduletablerasite .ja-slide-thumbs-mask-left,
.moduletablerasite .ja-slide-thumbs-mask-right,
.moduletablerasite .ja-slide-thumbs-mask-center {
	float: left;
}

.moduletablerasite .ja-vertical_right .ja-slide-thumbs-mask-left,
.moduletablerasite .ja-vertical_right .ja-slide-thumbs-mask-right,
.moduletablerasite .ja-vertical_right .ja-slide-thumbs-mask-center {
	display: block;
	float: none;
}

.moduletablerasite .ja-vertical_left .ja-slide-thumbs-mask-left,
.moduletablerasite .ja-vertical_left .ja-slide-thumbs-mask-right,
.moduletablerasite .ja-vertical_left .ja-slide-thumbs-mask-center {
	display: block;
	float: none;
}

.moduletablerasite .ja-slide-thumb-inner {
	background: #000;
	border-top: 1px solid #191A1B;
	color: #757575;
	height: 100%;
	margin-left: 19px;
	padding: 0 15px;
}

.moduletablerasite .ja-vertical_left .ja-slide-thumb-inner {
	margin-left: 0px;
	margin-right: 19px;
}

.moduletablerasite .ja-slide-thumb-inner img {
	background: #000;
	border: 1px solid #1C1C1C;
	margin: 15px 10px 0 0;
	padding: 3px;
}

.moduletablerasite .ja-slide-thumb-inner h3 {
	margin: 0px !important;
	padding: 15px 0 0 !important;
}

.moduletablerasite .ja-slide-thumb-inner .ja-createdate { }

.moduletablerasite .active .ja-slide-thumb-inner {
	border: none;
	color: #fff;
}

.active .ja-slide-thumb-inner img {
	background: #57212A;
	border: 1px solid #67373F;
}

.moduletablerasite .ja-slide-thumbs-mask-left,
.moduletablerasite .ja-slide-thumbs-mask-right,
.moduletablerasite .ja-slide-thumbs-mask-center {
	float: left;
}

.moduletablerasite .ja-slide-thumbs-mask-left,.moduletablerasite  .ja-slide-thumbs-mask-right {
	background: #000;
}

.moduletablerasite .ja-slide-mask {
	background: url(slide-mask.png) no-repeat top left;
	height: 300px;
	left: 0;
	position: absolute;
	top: 0;
	width: 660px;
	z-index: 3;
}

.moduletablerasite .maskDesc a.readon { border: none !important; }