/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

body#bd { background: url(../images/body-bg.gif) repeat-x left top #f0f0f0 !important; }

#ja-wrapper { background-image: url(../images/wrap-bg.jpg); }

a { color: #3a80bd; }

a:hover, a:focus, a:acitve { text-decoration: underline; }

/* FORM
--------------------------------------------------------- */
.button {
	background: url(../images/button-corner-small.png) no-repeat left top;
}

.button:hover,
.button:active,
.button:focus {
	background-image: url(../images/button-corner-small-hover.png);
}

/* JA Mainnav ---*/
#ja-mainnav .main { background: url(../images/mainnav-bg.gif) no-repeat right top; }

#ja-mainnav .main-inner2 { background: #4c4c4c; }

#ja-container .main { background: #3c3c3c; padding-bottom: 15px; }

#ja-container .main-inner1 {
	background: #ededed;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
}

#ja-right { background: url(../images/right-bg.gif) repeat-y left top #ededed; }

#ja-right a { color: #3a80bd; }

#ja-right a:hover, #ja-right a:focus, #ja-right a:active {
	color: #3a80bd;
	text-decoration: underline;
}

/* Meta ---*/
div.ja-before-content,
div.ja-after-content {
	background: url(../images/afc-bg.gif) repeat-y right top;
	margin-top: 10px;
}

div.ja-before-content .ja-before-inner,
div.ja-after-content .ja-after-inner {
	background: #f6f6f6;
	border: 1px solid #ddd;	
}

.ja-social-toolbox-small .articleCreated { background: url(../images/small-date-bg.png) no-repeat right center; }

/* Pagination ---*/
.pagination ul {
	background: url(../images/dot-g.gif) repeat-x left top #f0f0f0;
	width: 100%;
}

.pagination ul li span,
.pagination ul li strong { border-left: 1px solid #ddd; }

.pagination ul li span { background: #fff; color: #666; }

.pagination ul li a { color: #666; }

.pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li a:active {
	color: #3a80bd;
}

.pagination ul li.pagination-prev span,
.pagination ul li.pagination-prev strong {
	background-color: #222;
	border-left: 1px solid #222;	
}

.pagination ul li.pagination-next strong,
.pagination ul li.pagination-next span {
	background-color: #222;
	border-left: 1px solid #222;	
}

.pagination ul li.pagination-prev a,
.pagination ul li.pagination-next a,
.pagination ul li.pagination-prev span,
.pagination ul li.pagination-next span { color: #fff; }

.pagination a:hover,
.pagination a:focus,
.pagination a:active { color: #506169; }

/* Module style ---*/
.ja-col div.ja-moduletable h3 {
	color: #383838;
	text-shadow: none;
}

.ja-col div.ja-moduletable,
.ja-col div.moduletable {
	background: url(../images/mod-bg.gif) no-repeat right bottom;
	color: #383838;
}

.ja-col div.ja-moduletable a { color: #5292c9; }

.moduletable_menu { background: none !important; }

/* Default Joomla! Menu ---*/
#ja-container ul.menu li { background: url(../images/nav-sep.gif) no-repeat right bottom; }

#ja-container ul.menu li a { color: #383838; }

#ja-container ul.menu li a:hover,
#ja-container ul.menu li a:focus,
#ja-container ul.menu li a:active,
#ja-container ul.menu li.active a {
	background: url(../images/grad.png) no-repeat right bottom;
	color: #5292c9;
}

#ja-container ul.menu li li { border-bottom: 0; border-top: 1px dotted #ccc; }

#ja-container ul.menu li img { margin-right: 10px; }

/* Bottom spotlight ---*/
#ja-bot-banner {
	background: url(../images/botsl-bg.png) repeat-x center bottom;
	border-bottom: 4px solid #666;
}

#ja-botsl2, #ja-botsl3 { background: #3f3f3f; }

#ja-botsl2 div.ja-moduletable h3,
#ja-botsl3 div.ja-moduletable h3 {
	background: url(../images/botsl2-title.gif) no-repeat left bottom;
	color: #fff;
}

#ja-botsl2 div.moduletable_botslright h3 { background: none !important; }

#ja-botsl2 div.moduletable_botslright h3 span,
#ja-botsl3 div.moduletable_botslright h3 span { background: none !important; }

#ja-botsl2 div.ja-moduletable h3 span,
#ja-botsl3 div.ja-moduletable h3 span { background: #303030; }

#ja-botsl2 div.ja-moduletable ul li,
#ja-botsl3 div.ja-moduletable ul li {
	border-bottom: 1px dotted #8f8f8f;
}

#ja-botsl2 a, #ja-botsl3 a { color: #999; }

div.ja-moduletable.search .button {
	background: #222;
}

#ja-navhelper {
	background: #3a3a3a;
	color: #999;
}

/* Footer ---*/
#ja-footer {
	background: #262626;
	color: #999;
}

/* Login form --- */
#form-login p#form-login-username label,
#form-login p#form-login-password label {
	font-weight: bold;
	color: #666;
}

#form-login p#form-login-username .inputbox,
#form-login p#form-login-password .inputbox {
	border: 1px solid #ddd;
}

#form-login ul li { margin-bottom: 0; }

/* JA Twitter ---*/
div.ja-twitter div.ja-twitter-date { color: #b8b8b8; }

span.ja-twitter-bubble-arrow { background: url("../images/twitter-bubble-arrow.gif") no-repeat left top; }

div.ja-twwitter-desc { background: url(../images/twitter-bubble-bg.gif); }

/* Content slider ---*/
#ja-content-mass-top .moduletable_contentslide h3 {
	color: #333;
	text-shadow: none;
}

#ja-content-mass-top .moduletable_contentslide { background: url(../images/contentslide-bg.gif) left top; }

.ja-contentslider-right img { background: url(../images/ms-bg.png) no-repeat left top; }

.ja-contentslider-right img:hover { background: url(../images/ms-bg.png) no-repeat left bottom; }

/* JA Slideshow ---*/
.maskDesc { background: url(../images/maskdesc.png) no-repeat right top; }

.ja-slide-thumb.active, .ja-slide-thumbs-handles span.active { background-image: url("../images/circle-active.png"); }

.ja-slide-thumb, .ja-slide-thumbs-handles span {
	background: url("../images/circle-bg.png") no-repeat scroll center center transparent;
}

.maskDesc .ja-slide-desc h3 { color: #ccc; }

/* Mod JA Tabs ---*/
.events .ja-tabs-title-right ul.ja-tabs-title li {
	background: url(../images/nav-sep.gif) no-repeat right bottom;
}

.events .ja-tabs-title-right ul.ja-tabs-title li h3 {
	color: #383838;
}

.events .ja-tabs-title-right ul li.active h3,
.events .ja-tabs-title-right ul li.firstactive h3,
.events .ja-tabs-title-right ul li.lastactive h3 {
	background: url(../images/grad.png) no-repeat right bottom;
	color: #5292c9;
}

/* K2 component ---*/
/* Category list */
div.catItemTools { background: url(../images/article-info.png) no-repeat left top; }

div.catItemTools .catItemInfo { color: #fff;}

div.catItemTools a { color: #fff; text-decoration: none; }

div.catItemTools .catItemCategory { color: #999; }

div.catItemTagsBlock ul.catItemTags li {
	background: #f0f0f0;
	border: 1px solid #ddd;
}

div.catItemTagsBlock ul.catItemTags li a { color: #666; }

div.catItemTagsBlock ul.catItemTags li a:hover,
div.catItemTagsBlock ul.catItemTags li a:focus,
div.catItemTagsBlock ul.catItemTags li a:active { color: #3a80bd; }

/* View detail */
div.itemTools { background: url(../images/article-info.png) no-repeat left top; }

div.itemTools .itemAuthor a { color: #fff; }

div.itemIntroText { color: #333; }

div.itemAuthorBlock { background: #f0f0f0; border: 1px solid #ddd; }

div.itemAuthorBlock img.itemAuthorAvatar { background: #fff; border: 1px solid #ddd; }

div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName { margin: 0 0 4px 0; }

div.itemRelated h3 span,
div.itemAuthorLatest h3 span { border-bottom: 2px solid #ddd; color: #666; }

div.itemHitsTwitter { border-color: #ccc; }

div.itemSocialLinksBlock { border-bottom: 1px dotted #ccc; }

div.itemTagsBlock { border-bottom: 1px dotted #ccc; }

div.itemTagsBlock ul.itemTags li { background: #f0f0f0; border: 1px solid #ddd; }

div.itemTagsBlock ul.itemTags li a { color: #666; }

div.itemTagsBlock ul.itemTags li a:hover,
div.itemTagsBlock ul.itemTags li a:focus,
div.itemTagsBlock ul.itemTags li a:active { color: #3a80bd; }

/* User block */
div.userBlock { background: #f0f0f0; border: 1px solid #ddd; }

div.userBlock img { border: 1px solid #ddd; }

div.userItemTools { background: url(../images/article-info.png) no-repeat left top; }

.userItemCategory { color: #999; }

.userItemCategory a { color: #fff; }

div.userItemTagsBlock ul.userItemTags li {
	background: #f0f0f0;
	border: 1px solid #ddd;
}

div.userItemTagsBlock ul.userItemTags li a { color: #666; }

div.userItemTagsBlock ul.userItemTags li a:hover,
div.userItemTagsBlock ul.userItemTags li a:focus,
div.userItemTagsBlock ul.userItemTags li a:active { color: #3a80bd; }

div.userItemReadMore a {
	background: url(../images/curl-l.gif) no-repeat left top #333;
	color: #999;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	text-decoration: none;
}

/* K2 Tools */
table.calendar tr td {
	border: 1px solid #ddd;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

td.calendarNavMonthPrev a,
td.calendarNavMonthNext a {
	color: #666 !important;
}

table.calendar tr td.calendarDateLinked { background: #fff; }

table.calendar tr td.calendarToday { background: #666; color: #fff; text-shadow: none; }
table.calendar tr td.calendarTodayLinked { background: #666; color: #fff; padding: 0; }

/* Mod login */
div.k2LoginBlock fieldset.input input.button {
	background: #666;
	font-size: 100%;
	text-shadow: 0 1px 1px #000;
}

div.k2LoginBlock ul li { background-image: url(../images/bullet.gif); }

div.k2LoginBlock ul li a { color: #666 !important; }

div.k2LoginBlock ul li a:hover,
div.k2LoginBlock ul li a:focus,
div.k2LoginBlock ul li a:active { color: #3a80bd !important; }

/* Mod user */
div.k2UsersBlock ul li a.ubUserAvatar img { border: 1px solid #ddd; }

div.k2UsersBlock ul li.lastItem { color: #999; }

div.k2UsersBlock ul li a.ubUserName { color: #333 !important; }

div.k2UsersBlock ul li h3 span { border-bottom: 2px solid #999; }

div.k2UsersBlock ul li ul.ubUserItems li a { color: #3a80bd !important; }


