/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

table.admintable td.key, table.admintable td.paramlist_key, 
table.admintable td.paramlist_value {
	border: none !important;
	background: none;
	width: auto;
	border-collapse: collapse;
	empty-cells: hide !important;
}

table.admintable td.key label, 
table.admintable td.paramlist_key label,
table.admintable td.paramlist_value label{
	margin-right: 10px;
}

table.ja-list-blocks,
table.ja-list-themes{
	padding: 0;
	border: 1px solid #DDDDDD !important;
	border-collapse: collapse;
}
table.ja-list-blocks td,
table.ja-list-themes td{	
	border: 1px solid #DDDDDD !important;
}

.ja-list-themes {
	display: block;
	padding: 2px 0px;
}

.ja-list-themes span{
	cursor: pointer;
	text-transform: capitalize;
}

.ja-theme-edit {
	display: block;
	width: 15px;
	height: 15px;
	background: url("../images/normal-check.jpg") no-repeat center center !important;
	margin: 0px 2px 0px 0px;
	cursor: pointer;
	float: left;
}

.ja-list-themes span.core {
	padding: 1px 16px 1px 5px;
	cursor: default;
	background: url("../images/icon-default.png") no-repeat right center #FFFFDF;
	color: #000760;
	float: left;
	border: solid 1px #ccc;
}

#themes-ja-list-themes {
	padding: 0px;
	margin: 0px;
	clear: both;	
}

.ja-themes {
	float: left;
	margin-bottom: 3px;
}

.ja-themes span.core {
	margin-right: 3px;
	margin-bottom: 3px;
	background: url("../images/icon-move.png") no-repeat right center #f5f5f5;
	padding: 1px 16px 1px 5px !important;
	cursor: move;
	float: left;
}

.ja-themes span.local {
	margin-right: 1px;
	margin-bottom: 3px;
	background: url("../images/icon-moved.png") no-repeat right center #ffffdf;
	padding: 1px 16px 1px 5px;
	color: #93121b;
	cursor: move;
	float: left;
	display: block;
}

tr.disabled .ja-list-themes span {
	cursor: default;
}

.active {
	background-color: #f8f8f8;
	cursor: pointer;
}

span.theme-ghost {
	border: 2px dotted #aaa;
	background-color: #ddd;
	z-index: 1000;
	padding: 2px 5px 2px 5px;
	font-weight: bold;
}

span.position_text,
span.pageid_text,
span.themes_text{
	display: block;
	width: 100%;
	cursor: pointer;
}

span.themes_text {
	margin-top: 3px;
}

span.position_text,
span.theme_text {
	display: inline;
	font-weight: bold;
}

span.position_delete,
span.theme_delete{
	border-right: 1px solid #8e8e8e !important;
	padding: 0px 3px;
	margin-right: 10px;
	cursor: pointer;
}
span.ja_close{
	cursor: pointer;
}

span.page-more{
	width: 99%;
}

ul.ja-popup-themes{
	padding: 0px;
	margin: 0px 0px 5px 0px;
	text-transform: capitalize;
	width: 150px;
	display: block;
}

ul.ja-popup-themes li{
	list-style: none;
	display: block !important;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
	padding: 5px 0px;
	width: 100%;
	clear: both;
	height: 15px;
	background: #fff;
}

ul.ja-popup-themes li span {
	display: block;
	margin: 0px;
}

ul.ja-popup-themes li span.theme {
	padding-left: 20px;
	background: url("../images/popup-list.gif") no-repeat 10px center;
	float: left;
}

ul.ja-popup-themes li span.cb-span {
	width: 15px;
	right: 15px;
	float: right;
	margin-right: 5px;
}
 
ul.ja-popup-themes li:hover {
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #f0f0f0;
	text-decoration: none;
	background-color: #fcfce7;
} 

ul.ja-popup-themes li.parent{
	font-weight: bold;
	border: none;
	background: #f8f8f8;
	display: block;	
	padding-left: 5px;
	width: 145px;
}

ul.ja-popup-themes li.parent:hover{
	border: none;
}

ul.ja-popup-themes li.default {
	background-color: #ffffdf;
	border-top: solid 1px #ddd;
	border-bottom: none;
}

ul.ja-popup-themes li.selected {
	background: #fff;
}

ul.ja-popup-themes li.default .cb-span{
	background: url("../images/themes-default.gif") no-repeat right center !important;
	cursor: default;
}

ul.ja-popup-themes li.selected:hover .cb-span, ul.ja-popup-themes li.selected:hover .cb-span-checked {
	background-position: 0px -54px  !important;
}

.ja-themes-action {
	padding: 5px 5px 5px 0px;
	border-top: solid 1px #ddd;
	background:#f7f7f7;
}

.ja-themes-action .ja-themes-apply {
	background: url("../images/apply.gif") no-repeat 10px center;
	cursor: pointer;
	padding-left: 28px;
	font-weight: bold;
}

.ja-themes-action .ja-themes-cancel {
	background: url("../images/cancel.gif") no-repeat 10px center;
	cursor: pointer;
	padding-left: 28px;
	font-weight: bold;
}

div.ja-popup-positions,
div.ja-popup-themes,
div.ja-popup-pageids{
	position: absolute; 
	z-index: 1000; 
	display: none;
	border: 1px solid #ddd;
	background: #fff;
}

div.ja-popup-pageids {
	width: 232px !important; 
}

div.ja-popup-pageids select {
	width: 230px !important; 
}

.selections{
	border-left: none;
	border-right: none;
}

.close{
	background: url("../images/bt-close.gif") no-repeat top right;
	cursor: pointer;
}

span.width_text_default,
span.position_text_default{
	border-right: 1px solid #DDDDDD !important;
	color: red;
	padding-right:3px;
}

input.width_text{
	float: right;
}

span.percent{
	float: right;
}

.disable-colwidth{
	background: #DDDDDD ;	
}

.disable-colwidth span{
	color: #DDDDDD !important;
}

.disable-colwidth input{
	border: 1px solid #DDDDDD !important;
	background: #DDDDDD !important;
}

.tool-tip {
	background: url("../images/tooltip-bg.gif") repeat-x top center #ffffdd !important;
	border: solid 1px #fab533 !important;
}

.tool-title {
	background: none;
}