.ja-slidewrapquartz {
	margin: 0;
	padding: 0;
	position: relative;
}

.moduletablequartz .ja-slide-main-wrap {
	position: relative;
	overflow: hidden;
}

.moduletablequartz .ja-slide-main {
	position: absolute;
	z-index: 1;
}

.moduletablequartz .ja-slide-item {
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 0;
}

.moduletablequartz .ja-slide-item img {
	background: #000000;
	border: 1px solid #1C1C1C;
	padding: 4px;
}

.moduletablequartz .ja-slide-thumbs-wrap {
	position: relative;
	clear: both;
	overflow: hidden;
}

.moduletablequartz .ja-slide-thumbs,.moduletablequartz  .ja-slide-thumbs-mask,.moduletablequartz  .ja-slide-thumbs-handles {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 5000px;
}

.moduletablequartz .ja-slide-descs {
	display: none;	
}

.moduletablequartz .ja-slide-thumb,.moduletablequartz  .ja-slide-thumbs-handles span {
	display: block;
	margin: 0;
	float: left;
	cursor: pointer;
}

.moduletablequartz .ja-slide-thumbs-handles span {
	background: none;
}

.moduletablequartz .ja-slide-thumbs-mask-left,
.moduletablequartz .ja-slide-thumbs-mask-right,
.moduletablequartz .ja-slide-thumbs-mask-center {
	float: left;
}

.moduletablequartz .ja-slide-thumbs-mask-left,.moduletablequartz  .ja-slide-thumbs-mask-right{
	background: #000000;
}

.moduletablequartz .but_prev,.moduletablequartz  .but_next {
	background: #000000;
	position: absolute;
	top: 0;
	z-index: 99;
}

.moduletablequartz .but_prev {
	background: url(arrow-l.gif) no-repeat right center;
	left: 0;
}
.moduletablequartz .but_prev:hover,.moduletablequartz  .but_next:hover {
	cursor: pointer;
}

.moduletablequartz .but_next {
	background: url(arrow-r.gif) no-repeat left center;
	right: 0;
}
.moduletablequartz .maskDesc {
	display: block;
	background: #000000;
	position: absolute;
	z-index: 100;
	cursor: pointer;
}

.moduletablequartz .maskDesc .ja-slide-desc {
	padding: 20px 40px;
	color: #CCCCCC;
	font-size: 150%;
}

.moduletablequartz .maskDesc .ja-slide-desc br {
	display: none;
}

.moduletablequartz .maskDesc .ja-slide-desc h3 {
	margin: 0;
	padding: 0;
}

.moduletablequartz .maskDesc a.readon {
	background: url(arrow-ri-hover.gif) no-repeat right 10px;
	bottom: 10px;
	color: #810C46;
	display: block;
	font-weight: bold;
	font-size: 100%;
	position: absolute;
	padding: 3px 10px 3px 0;
	right: 20px;
}

.moduletablequartz .maskDesc a.readon:hover, .moduletablequartz .maskDesc a.readon:active,.moduletablequartz  .maskDesc a.readon:focus {
	background: url(arrow-ri.gif) no-repeat right 10px;
	color: #FFFFFF;
}

.moduletablequartz .ja-slide-buttons {
	z-index: 900;
}

.moduletablequartz .ja-slide-buttons span {
	background: #000000;
	color: #FFFFFF;
	display: block;
	float: left;
	margin-right: 5px;
	padding: 2px 5px;
	cursor: pointer;
}

/*JA Sideshow [ Topspotlight 1]*/
.moduletablequartz #ja-slideshow .ja-slidewrap {
	margin: 0;
	padding: 0;
	position: relative;
}

.moduletablequartz #ja-slideshow .ja-slide-mask {
	background: #CCCCCC;
	position: absolute;
	right: 10px;
	bottom: 10px;
	height: 70px;
	width: 210px;
	z-index: 99;
	display: none;
}

.moduletablequartz #ja-slideshow .ja-slide-thumbs-wrap {
	background: #CCCCCC;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}

.moduletablequartz #ja-slideshow .ja-slide-buttons {
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 101;
}

.moduletablequartz #ja-slideshow .ja-slide-thumb img {
	background: #CCCCCC;
	border: 1px solid #FFFFFF;
	margin: 4px;
}

.moduletablequartz #ja-slideshow .ja-slide-item img {
	padding: 0;
	border: none;
}

.moduletablequartz #ja-slideshow .maskDesc {
	background: none;
}

.moduletablequartz #ja-slideshow .maskDesc .ja-slide-desc {
	color: #FFFFFF;
	font-size: 100%;
	padding: 20px 10px;
	position: absolute;
	top: 0;
	right: 0;
	width: 230px;
}

.moduletablequartz #ja-slideshow .maskDesc .ja-slide-desc h3 {
	color: #CCCCCC;
	text-transform: uppercase;
}

/* Choose style */
.moduletablequartz #ja-botsl .ja-slide-buttons {
	z-index: 900;
	text-align: center;
	margin-top: 5px;
}

.moduletablequartz #ja-botsl .ja-slide-buttons span {
	background: #0E0E0E;
	font-size: 10px;
	text-transform: uppercase;
	border: 1px solid #1C1C1C;
	padding: 1px 2px;
	float: none;
	display: inline;
}

.moduletablequartz #ja-botsl .ja-slide-buttons span:hover {
	border: 1px solid #373737;
	color: #810C46;
}

.moduletablequartz #ja-botsl .ja-slide-desc {
	color: #FFFFFF;
	font-size: 100%;
}

.moduletablequartz #ja-botsl .ja-slide-desc h3 {
	color: #FFFFFF;
	background: none;
	margin: 0;
	padding: 0;
}

.moduletablequartz #ja-botsl .ja-slide-desc p {
	font-weight: normal;
}
