/*------------------------------------------------------------------------
# $JA#PRODUCT_NAME$ - Version $JA#VERSION$ - Licence Owner $JA#OWNER$
# ------------------------------------------------------------------------
# Copyright (C) 2004-2008 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
-------------------------------------------------------------------------*/
/* CSS Document */

#jaForm {
	background: #FFFFFF;
	border: 8px solid #999999;
	height: auto !important;
	-moz-border-radius: 5px;
	position: absolute;
	-webkit-border-radius: 5px;
	z-index: 100;
}

a#japopup_close_btn :link,a#japopup_close_btn :visited {
	/*background: transparent url(window/closebox.png) no-repeat top left;*/
	float: right;
	height: 20px;
	margin: 2px 0px 0 0;
	outline-style: none;
	text-indent: -9999px;
	width: 45px;
}

a#japopup_close_btn :hover {
	/*background: transparent url(window/closebox.png) no-repeat top left;*/
}

#japopup_logo {
	background: #FFF;
	color: #000000;
	float: left;
	font-size: 16px;
	font-weight: bold;
	height: 20px;
	margin: 2px 0 0 2px;
	margin: 0px;
	width: 90%;
}

#japopup_tl {
	float: left;
	height: 10px;
	width: 10px;
}

#japopup_tm {
	float: left;
	height: 15px;
}

#japopup_tr {
	top: 5px;
	height: 32px;
	position: absolute;
	width: 100%;
	z-index: 200;
}

#japopup_ar {
	/*background: url(../images/btclose.gif) no-repeat left top;*/
	height: 12px;
	position: absolute;
	font-weight: bold;
	right: 15px;
	top: 15px;
	width: 56px;
}

.japopup_btn {
	position: absolute;
	right:80px;
	margin-top:5px;
	text-align: center;
	cursor: pointer;
}

#japopup_as {
	position: absolute;
	right:80px;
	margin-top:5px;
	text-align: center;
	display:none;	
	cursor: pointer;
}
#japopup_ac {
	position: absolute;
	right:15px;
	margin-top:5px;
	text-align: center;
	display:none;
	cursor: pointer;
}
#japopup_ar:hover {
	cursor: pointer;
}

#japopup_ml {
	float: left;
	height: 560px;
	width: 15px;
}

#japopup-wait {
	background: transparent url(images/loading.gif) no-repeat;
	height: 11px;
	width: 43px;
	position:absolute;
	z-index:999;
}

#jaFormContentOuter {
	float: left;
	overflow: hidden;
}

#jaFormContentTop {
	background: #AFAFAF;
	color: #FFFFFF;
	float: left;
	font-size: 150% !important;
	font-weight: bold;
	padding: 5px 10px;
	text-transform: uppercase;
}
#jaFormContentBottom{
	float: left;
	height:0px;
	bottom:-5px;
	background: #AFAFAF;
	position:absolute;
}

#jaFormContent {
	background: #FFFFFF;
	float: left;
	height: 560px;
	width: 100% !important;
	text-align: left;
}

#jaFormContent ul li,
#jaFormContent ol li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#jaFormContent.winloading {
	/*background-image: url(window/wait.gif);*/
	background-position: center center;
	background-repeat: no-repeat;
}

#japopup_mr {
	float: left;
	height: 560px;
	width: 20px;
}

#japopup_bl {
	float: left;
	height: 20px;
	width: 20px;
}

#japopup_bm {
	float: left;
	height: 10px;
}

#japopup_br {
	float: left;
	height: 20px;
	width: 20px;
}

#jaFormAction {
	background: #FFFFFF !important;
}

fieldset.adminform {
	margin: 0 !important;
}

fieldset.adminform legend{
	color: #000000;
}
/* Form - Trungch update */
form h2 {
	/*background: url(../images/dots_row.gif) repeat-x left bottom;*/
	color: #74B842;
	margin: 0 0 10px 0;
	padding: 0 0 8px 0;
}

form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

form ul.sub-options {
	margin:5px;
	padding:2px;
	background:#EEEEEE;
}

form li {
	background: none;
	display: block;
	padding: 4px 5px;
}

form .ja-haftleft {
	float: left;
	width: 49%;
	clear: both;
}

form .ja-haftright {
	float: right;
	width: 49%;
}

label.desc {
	display: block;
	font-size: 110%;
	font-weight: bold;
	padding: 0 0 2px 0;
}

input.text, input.search, textarea.textarea {
	/*background: url(../images/input-bg.gif) repeat-x left top #FFFFFF;*/
	border: 1px solid #DDDDDD;
	font-size: 100%;
	padding: 5px;
}

select.inputbox {
	/*background: url(../images/input-bg.gif) repeat-x left top #FFFFFF;*/
	border: 1px solid #DDDDDD;
}

select.inputbox option {
	font-size: 100%;
}

textarea.textarea {
	width: 98%;
}

/*input:focus, .text:focus, select:focus, textarea.textarea:focus {
	background: #FFFFFF;
}*/

div.ja-btsave {
	padding: 5px;
}

div.ja-btsave .button {
	/*background: url(../images/btsave.gif) no-repeat left top;*/
	border: none;
	color: #6C97D9;
	font-size: 100%;
	font-weight: bold;
	height: 29px;
	padding: 0;
	text-indent: 15px;
	width: 71px;
}

form li.focused {
	background-color: #FFFFCC;
}
form li.error {
	background-color: #FFDFE0;
}
#ja-wrap-content {
	z-index: 1000;
	position: fixed;
	top: 50px;
}

/* Hide rounded div */
#japopup_tl, #japopup_tm,
#japopup_ml, #japopup_mr,
#japopup_bl, #japopup_bm, #japopup_br {
	display: none;
}
