/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

/* Title */
.tool-title {
	font-weight: bold;
	color: #333333;
}

/* Close button */
.tool .close {
	width: 14px;
	height: 14px;
	background: url(close.gif) no-repeat top left;
	position: absolute;
	top: 6px;
	right: 8px;
}

.tool .close:hover {
	background: url(close-hover.gif) no-repeat top left;
}

/* Tooltips top */
.tool .top1 {
	background: url(c-tl.png) no-repeat left top;
}

.tool .top2 {
	background: url(c-tr.png) no-repeat right top;
}

.tool .top3 {
	margin: 0px 8px 0px 9px;
	background: url(box-tooltip.png) no-repeat center top;
}

.tool .top4 {
	width: 100%;
	height: 9px;
}

.tool .ja-wiki {
	padding-left: 10px;	
}
/* Tooltip middle */
.tool .mid1 {
	background: url(m-l.png) no-repeat left ;
}

.tool .mid2 {
	background: url(m-r.png) no-repeat right ;
}

.tool .mid3 {
	margin: 0px 8px;
	background: #fff;
	padding: 10px ;
	display: block;

}

.tool .mid3 p {
	margin-bottom: 0;
}

/* Tooltips bottom */
.tool .bot1 {
	background: url(c-bl.png) no-repeat left bottom;
}

.tool .bot2 {
	background: url(c-br.png) no-repeat right bottom;
}

.tool .bot3 {
	background: url(box-tooltip.png) no-repeat center bottom;
	margin: 0px 8px 0px 9px;
}

.tool .bot4 {
	height: 26px;
	background: url(arrow-bottom.png) no-repeat 50% bottom;	
}

/* Arrow position */
.left-bottom div.bot4 {
	background: url(arrow-bottom.gif) no-repeat 20px bottom;
}

.right-bottom div.bot4 {

}

.left-top div.top4 {
	background: url(arrow-top.gif) no-repeat 20px top;
}

.center-top div.top4 {
	background: url(arrow-top.gif) no-repeat center top;
}

.right-top div.top4 {
	background: url(arrow-top.gif) no-repeat 90% top;
}