/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/
form {
	display: block;
}

.ja-tabswrap {
	padding: 0px;
	width: auto !important;
	border: 1px solid #CCCCCC;
	border-top: none;
}

.container {
	position: relative;
	overflow: hidden;
	height: 100%;
	z-index: 10;
}

.ja-tabswrap div.ja-tab-subcontent {
	padding: 0px;	
}

.ja-tabswrap div.ja-tab-subcontent h3 {
	padding-left: 15px;	
}

.ja-tabswrap div.ja-tab-content {
	position: absolute;	
	border: none;
	z-index: 100;
	padding: 0;
	width: 100%;
}

.ja-tabswrap .ja-tab-content ul {
	margin: 0 !important;
	padding: 0 !important;
}

.ja-tabswrap .ja-tab-content li {
	padding: 4px 0 6px;
	margin: 0;
	background: none;
	display: block;
}

.ja-tab-subcontent table.ja-core-themes tr,
.ja-tab-subcontent table.ja-user-themes tr {
	padding-left: 65px !important;
}  

.ja-tab-subcontent table.ja-core-themes td, .ja-tab-subcontent table.ja-user-themes td  {
	padding: 5px !important;	
}

.ja-tab-panels-top .ja-tab-subcontent table.ja-core-themes,
.ja-tab-panels-top .ja-tab-subcontent table.ja-user-themes  {
	width: 90%;
	margin: auto;
}

/* Tabs Top */
.ja-tabs-title-top {
	position: relative;
	z-index: 10;
}

.ja-tabs-title-top ul.ja-tabs-title {
	margin: 0;
	padding: 0;
	position: absolute;
}

* html .ja-tabs-title-top ul.ja-tabs-title { /*IE 6*/
	bottom: -1px;
}

.ja-tabs-title-top ul.ja-tabs-title li {
	float: left;
	background: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	display: block;
}

.ja-tab-panels-top {
	position: relative;
	clear: both;
	overflow: hidden;
	bottom: 0;
	left: 0px;
	width: 100%;
	z-index: 1;	
}

/* Tabs left */
.ja-tabs-title-left {
	float:left;	
}

.ja-tabs-title-left ul.ja-tabs-title {
	margin: 0;
	padding: 0;
	top: 10px;
	left: 0px;
	width: 100%;
}

.ja-tabs-title-left ul.ja-tabs-title li {
	margin: 0px 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
}

.ja-tab-panels-left {
	position: relative;
	overflow: hidden;
	top: 5px;
	height:100%;
	left:10px;
}

/* Tabs right */
.ja-tabs-title-right {
	position: relative;
	float:right;	
	height:100%;
}

.ja-tabs-title-right ul.ja-tabs-title {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 0;
	width: 100%;
}

.ja-tabs-title-right ul.ja-tabs-title li {
	margin: 0 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
}

.ja-tab-panels-right {
	position: relative;
	overflow: hidden;
	top: 5px;
	height:100%;
}

/* for tabs bottom */
.ja-tabs-title-bottom {
}

.ja-tabs-title-bottom ul.ja-tabs-title {
	margin: 0;
	padding: 0;
	position: absolute;
}

* html .ja-tabs-title-bottom ul.ja-tabs-title { /*IE 6*/
	top: -1px;
}

.ja-tabs-title-bottom ul.ja-tabs-title li {
	float: left;
	margin: 0;
	padding: 0;
	cursor: pointer;
	display: block;
}

.ja-tab-panels-bottom {
	position: relative;
	clear: both;
	overflow: hidden;
	top: 0;
	width:100%;
	left: 10px;
	right: 0px;
	z-index: 1;
}


/* Style */

.default .ja-tabswrap {
	border: 1px solid #CCCCCC;
}

.default .ja-tabswrap div.ja-tab-content {	
	width: 95%;
}

/* JA Tabs top*/
.default .ja-tabs-title-top {
	height: 41px !important;
	position: relative;
	margin: 0px;
	padding-right: 20px;
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #ccc;
	background: url(../images/tabs-bg.gif) repeat-x center center;
}

.default .ja-tabs-title-top ul.ja-tabs-title {
	padding-top: 14px;
	padding-left: 10px;
	min-width: 520px;
}

.default .ja-tabs-title-top ul.ja-tabs-title li {
	margin: 0px 0px 0px 4px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border: solid 1px #ccc;
	text-transform: uppercase;
	padding: 0px 15px;
	background: url(../images/menutabs-bg.gif) repeat-x left center !important;
	border-bottom: solid 1px #ccc;
	text-align: center;
	height: 26px;
	line-height: 26px;
}

.default .ja-tabs-title-top ul.ja-tabs-title li h3 {
	font-size: 100%;
	font-weight: bold !important;
	margin: 0;
	color: #2e2e2e ;
}

.default .ja-tabs-title-top ul.ja-tabs-title li.hover,
.default .ja-tabs-title-top ul.ja-tabs-title li.firsthover,
.default .ja-tabs-title-top ul.ja-tabs-title li.lasthover {
}

.default .ja-tabs-title-top ul.ja-tabs-title li.active,
.default .ja-tabs-title-top ul.ja-tabs-title li.firstactive,
.default .ja-tabs-title-top ul.ja-tabs-title li.lastactive {
	background: url(../images/menuactive-bg.gif) repeat-x left center !important;
	border-bottom: solid 1px #fff;
}

.default .ja-tabs-title-top ul li.profiles.active  {
}

.default .ja-tabs-title-top ul li.changed span {
	color: red ;
}

.default .ja-tabs-title-top ul li.changed span.profiles {
	background: url(../images/warning.png) no-repeat left center !important;
	padding-left: 10px;
}

.default .ja-tabs-title-top ul li.changed span.profiles {
	background: url(../images/warning.png) no-repeat left center !important;
	padding-left: 10px;
}

.default .ja-tabs-title-top ul li.active h3 ,
.default .ja-tabs-title-top ul li.first h3
.default .ja-tabs-title-top ul li.firstactive h3,
.default .ja-tabs-title-top ul li.lastactive h3 {
	color: #0f85d8 !important;
}

/* JA Tabs left*/
.default .ja-tabs-title-left {
	position: relative;
	float: left;	
	height: 100%;
	background: url(../images/17pxblank.gif) repeat-y right #F7F7F7;
}

.default .ja-tabs-title-left ul.ja-tabs-title li {
	height: 100%;
	margin: 0 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
	background: none;
}

.default .ja-tabs-title-left ul.ja-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 30px;
	margin: 0;
	padding: 0 10px;
	background: none;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.default .ja-tabs-title-left ul li.active,
.default .ja-tabs-title-left ul li.firstactive,
.default .ja-tabs-title-left ul li.lastactive {
	background: url(../images/left-active.gif) no-repeat right #FFFFFF;
}

.default .ja-tabs-title-left ul li.active H3 ,
.default .ja-tabs-title-left ul li.firstactive H3,
.default .ja-tabs-title-left ul li.lastactive H3 {
	color: #333333;
}


/* JA Tabs right*/
.default .ja-tab-panels-right .ja-tab-subcontent {
	padding-left: 15px !important;
}

.default .ja-tabs-title-right {
	background: url(../images/17pxblank2.gif) repeat-y left #F7F7F7;
}

.default .ja-tabs-title-right ul.ja-tabs-title li {
	height: 100%;
	margin: 0 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
	background: none;
}

.default .ja-tabs-title-right ul.ja-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 30px;
	margin: 0;
	padding: 0 10px 0 25px;
	background: none;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.default .ja-tabs-title-right ul li.active,
.default .ja-tabs-title-right ul li.firstactive,
.default .ja-tabs-title-right ul li.lastactive {
	background: url(../images/right-active.gif) no-repeat left #FFFFFF;
}

.default .ja-tabs-title-right ul li.active H3 ,
.default .ja-tabs-title-right ul li.firstactive H3,
.default .ja-tabs-title-right ul li.lastactive H3 {
	color: #333333;
}

/* JA Tabs bottom*/
.default .ja-tabs-title-bottom {
	height: 30px;
	border-top: 1px solid #CCCCCC;
	position: relative;
	width: 100%;
}

.default .ja-tabs-title-bottom ul.ja-tabs-title li {
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	margin-left: 5px;
	margin-top: -1px;
}

.default .ja-tabs-title-bottom ul.ja-tabs-title li h3 {
	font-size: 100%;
	font-weight: bold !important;
	line-height: 28px;
	margin: 0;
	padding: 0 10px;
	border: 1px solid #F7F7F7;
	color: #999999;
	border-top: none;
}

.default .ja-tabs-title-bottom ul.ja-tabs-title li.hover,
.default .ja-tabs-title-bottom ul.ja-tabs-title li.firsthover,
.default .ja-tabs-title-bottom ul.ja-tabs-title li.lasthover {
}

.default .ja-tabs-title-bottom ul.ja-tabs-title li.active,
.default .ja-tabs-title-bottom ul.ja-tabs-title li.firstactive,
.default .ja-tabs-title-bottom ul.ja-tabs-title li.lastactive {
	background: #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.default .ja-tabs-title-bottom ul li.active h3 ,
.default .ja-tabs-title-bottom ul li.firstactive h3,
.default .ja-tabs-title-bottom ul li.lastactive h3 {
	color: #333333;
}

.inputbox {
	width: 200px;
	height: 20px;
}
/*End*/