/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

/* Clearfix
-------------------------------------------------------------*/
* html .clearfix {
	height: 1%; /* IE5-6 */
}

html[xmlns] .clearfix { /* O */
	display: block;  
}

.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

form, 
#ja-tabswrapmain {
	display: block;
}

#ja-tabswrap { margin: 0; }

.admintable{ width: 100%; }

td.paramlist_value { width: 60% !important; }

table.ja-list-pageids,
table.ja-user-theme,
table.ja-core-theme {
	padding: 0;
	border-top: 1px solid #DDDDDD !important;
	border-bottom: 1px solid #DDDDDD !important;
	border-collapse: collapse;
	margin-top: 10px;
}


table.ja-list-pageids th {
	background: url("../images/ja-list-bg.gif") repeat-x center center;
	border-left: solid 1px #dadada;
	border-bottom: solid 1px #ddd;
	padding: 5px 10px 5px 35px;
	text-align: left;
}

table.ja-list-pageids td,
table.ja-user-themes td,
table.ja-core-themes td{	
	padding: 4px 10px !important;
}

table tr.ja-item td {
	border-left: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	padding: 5px 10px 5px 35px !important;
	text-transform: capitalize;
}

.ja-list-pageids tr.changed td,
#jat3-profile-params table.paramlist tr.level3.changed td.paramlist_value, 
#jat3-profile-params table.paramlist tr.level3.changed td.paramlist_key {
	background: #fff1f1;
	border-top: dotted 1px red !important;
	border-bottom: dotted 1px red !important;
}

.selected {
	background: graytext;
	cursor: auto;
}

.selected a {
	cursor: auto;
}

.active {
	background-color: #f8f8f8 ;
	cursor: pointer;
}

span.block_text,
span.position_text,
span.pageid_text,
span.profile_text {
	display: block;
	width: 100%;
	cursor: pointer;
}

span.position_text,
span.profile_text {
	display: inline;
	padding-left: 3px;
}

span.position_delete {
	border-right: 1px solid #DDDDDD !important;
	padding-right: 3px;
	cursor: pointer;
}

span.ja_close {
	cursor: pointer;
}

span.page-more, span.more {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	border: 1px solid silver;
	width: 158px;
	padding: 3px 0px 3px 3px;
	display:block;
	background: #FFFFAA !important;
	color: black !important;
}

.newpagesetting span.page-more, .newpagesetting span.more, .newpagesetting span.ja_close img {
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

ul.ja-popup-profiles {
	padding: 0px;
	margin: 0px;
	width: 160px;
}

ul.ja-popup-profiles li{
	list-style: none;
	display: block;
	background: url("../images/popup-list.gif") no-repeat 10px center;
	padding: 4px 5px 4px 0px;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

ul.ja-popup-profiles li:hover {
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #f0f0f0;
	text-decoration: none;
	background-color: #fcfce7;
}

ul.ja-popup-profiles li.active { display: block; }

ul.ja-popup-profiles li.active a {
	background: url("../images/icon-tick.png") no-repeat right -36px !important;
	display: block;
}

ul.ja-popup-profiles li.active:hover a {
	background: url("../images/icon-tick.png") no-repeat right -54px !important;	
	display: block;
}

ul.ja-popup-profiles li a {
	color: #333;
	padding: 1px 0px 1px 20px;
	display: block;
	word-wrap: break-word;
	height: 15px;
}

ul.ja-popup-profiles li a:hover {
	color: #0f85d8;
}

div.ja-popup-blocks,
div.ja-popup-positions,
div.ja-popup-profiles,
div.ja-popup-pageids {
	position: absolute; 
	z-index: 1000; 
	display: none;
	border: 1px solid #ddd;
	background: #fff;
}

div.ja-popup-pageids div {
	padding: 5px 0px !important;
	background: url("../images/table-bg.gif") repeat-x scroll center top #F8F8F8 !important;
}
div.ja-popup-pageids div input {
	width: 70px;
	padding: 2px 0px;
	cursor: pointer;
	font-weight: bold;
	border: none !important;
}

div.ja-popup-pageids div input.save {
	background: url("../images/icon-select.png") no-repeat left center;
}

div.ja-popup-pageids div input.cancel {
	background: url("../images/cancel.gif") no-repeat left center;
}

.selections {
	border-left: none;
	border-right: none;
}

span.width_text_default,
span.position_text_default{
	border-right: 1px solid #DDDDDD !important;
	padding-right:3px;
}

input.width_text{
	float: right;
}

span.percent{
	float: right;
}

.disable-colwidth{
	background: #DDDDDD ;	
}
.disable-colwidth span{
	color: #DDDDDD !important;
}
.disable-colwidth input{
	border: 1px solid #DDDDDD !important;
	background: #DDDDDD !important;
}

.ja-tab-subcontent ul.ja-general-titles,
#ja-profiles-content ul.ja-profile-titles {
	padding: 10px 1px 10px 30px !important;
	clear: both;
	display: block;
}

.ja-general-titles li,
#ja-profiles-content ul.ja-profile-titles li{
	display: inline;
	float: left;
	border: solid 1px #fff;
	margin-bottom: 5px;
	padding: 3px 0px 3px 10px;
}

#ja-profiles-content ul.ja-profile-titles li.active {
	padding: 3px 0px 3px 10px;
	border: solid 1px #f8f8f8;
	border-right: solid 1px #ddd;
	color: #0F85D8;
	margin-right: 8px;
	margin-bottom: 5px;
	float: left;
}

#ja-profiles-content ul.ja-profile-titles li:hover.active, 
#ja-profiles-content ul.ja-profile-titles li:visited.active,
#ja-profiles-content ul.ja-profile-titles li:active.active{
	border: solid 1px #ddd;
}

.ja-general-titles li span{
	padding: 3px;
	cursor: pointer;
}

#ja-profiles-content ul.ja-profile-titles li span.ja-profile-title {
	cursor: pointer;
	text-transform: capitalize;
	font-weight: bold;
}

#ja-profiles-content ul.ja-profile-titles li:hover span.ja-profile-title {
	text-decoration: underline;
}

#ja-profiles-content ul.ja-profile-titles li.active span.ja-profile-title,
#ja-profiles-content ul.ja-profile-titles li.first span.ja-profile-title {
	background: url("../images/seperator.gif") no-repeat right center;
	font-weight: bold;
	padding-right: 10px;
}

#ja-profiles-content ul.ja-profile-titles li.active span.ja-profile-action{
	background: url("../images/arrow-list.gif") no-repeat scroll center center transparent !important;
	width: 8px;
	height: 4px;
}

#ja-profiles-content ul.ja-profile-titles li.active:hover span.ja-profile-action {
	background-color: #ddd !important;
}

li.ja-profile-new {
	background: url("../images/icon-add.gif") no-repeat top left !important;	
	padding: 1px 10px 1px 0px !important;
	float: right !important;
}

li.ja-icon-help{
	background: url("../images/icon-info.png") no-repeat top left !important;	
	padding: 1px 10px 1px 0 !important;
	float:right !important;
}

li.ja-icon-help span,
li.ja-profile-new span {
	padding-left: 20px !important;
	color: #545454;
	font-weight: bold;
	cursor: pointer;
}

input.checkbox {
	float: left;
}
.jat3-loading {
	background: url("../images/loading-small.gif") no-repeat top left !important;
}

#toolbar-html,
#toolbar-css,
#toolbar-save{
	display: none;
}

.jacheckbox {
	background: url("../images/icon-add.gif") no-repeat top left !important;
}

.ja-profile-titles .changed, ja-profile-titles .changed span {
	color: #ff0000;
}

#ja-profile-action {
	display: none;
	border: solid 1px #ddd;
	width: 120px;
	position: absolute;
	z-index: 999;
	background: #fff;
	margin-top: 8px;
}

#ja-profile-action ul{
	padding: 0px;
	margin: 0px;
}

#ja-profile-action li{
	cursor: pointer;
	display: block;
	list-style: none;
	padding: 5px 0px 5px 5px;
	border-bottom: solid 1px #fff;
	border-top: solid 1px #fff;
}

#ja-profile-action li:hover{
	text-decoration: underline;
	color: #0F85D8;
	background: #f8f8f8;
	border-bottom: solid 1px #f0f0f0;
	border-top: solid 1px #ddd;
}

#ja-profile-action li.saveas {
	background: url("../images/icon-saveas.png") no-repeat 5px center;
	padding-left: 25px;
	border-top: none;
}

#ja-profile-action li.rename {
	background: url("../images/icon-rename.gif") no-repeat 5px center;
	padding-left: 25px;
}

#ja-profile-action li.delete {
	background: url("../images/icon-delete.gif") no-repeat 5px center;
	padding-left: 25px;
	border-bottom: none;
}

#ja-profile-action li.reset{
	background: url("../images/icon-reset.png") no-repeat 5px center;
	padding-left: 25px;
}

table.ja-layout-titles th,
table.ja-layout-titles td{
	border: 1px solid #C0C0C0 !important;
	border-right: none !important;
	padding: 10px !important;
	text-align: left;
}

#ja-layout-container ul {
	padding: 0px;
	margin: 0px;
}

#ja-layout-container li {
	padding: 2px 15px 2px 20px;
	margin: 3px 0px;
	display: block;
	font-weight: bold;
	cursor: pointer;
	float: left;
}

#ja-layout-container #content_layout {
	width: 99.8%;
	height: 311px;
}

#ja-layout-container li.save {
	background: url("../images/icon-save.png") no-repeat left top;
}

#ja-layout-container li.cancel {
	background: url("../images/cancel.gif") no-repeat left top;
}

table.ja-layout-titles .row0 td, table.ja-layout-titles .row1 td {
	padding: 5px 0px 5px 10px !important;
}

table.ja-layout-titles span {
	cursor: pointer;
	float: left;
	padding: 3px 12px 3px 18px;
}
table.ja-layout-titles span.edit {
	background: url("../images/icon-edit.png") no-repeat left center  !important;
}
	
table.ja-layout-titles span.clone {
	background: url("../images/icon-saveas.png") no-repeat left center !important;
}
	
table.ja-layout-titles span.reset {
	background: url("../images/icon-reset.png") no-repeat left center !important;
}
	
table.ja-layout-titles span.rename {
	background: url("../images/icon-rename.gif") no-repeat left center !important;
}

table.ja-layout-titles span.delete {
	background: url("../images/cancel.gif") no-repeat left center !important;
}
	
#ja-layout-container {
	background: url("../images/table-bg.gif") repeat-x top center #f8f8f8 !important;
	position:absolute;
	z-index:1000;
	border: solid 1px #c0c0c0;
	border-top: solid 1px #B5DFEF;
	clear: both;
}

#ja-layout-container .layout-name {
	padding-left: 10px;
	color: #333;
	font-weight: bold;
	margin: 3px 0px;
}

.layout-name { }

#ja-layout-container li{
	display: inline;
	float: right;	
}

.cb-span {
	width: 15px;
	height: 15px;
	background: url("../images/icon-tick.png") no-repeat !important;
	cursor: pointer;
	margin-right: 3px;	
	float: right;
}

.level3 .paramlist_value input, .level3 .paramlist_value textarea,
.level3 .paramlist_value label, .level3 .paramlist_value select { float: left; }

tr.disabled:hover td .cb-span { background-position: 0px -18px !important; }

.cb-span-checked { background-position: 0px -36px  !important; }

ul.ja-popup-themes li .cb-span,
ul.ja-popup-themes li .cb-span-checked { background-position: right center; }


ul.ja-popup-themes li:hover .cb-span { background-position: 0px -18px !important; }

.ja-theme { border: 1px solid #ccc; }

#ja-profile-help,
#ja-layout-help,
#ja-theme-help,
#ja-general-help,
#ja-help-support-help {
	padding: 8px 13px 4px 13px;
	position: relative;
	border-bottom: solid 1px #ececec;
	border-top: solid 1px #f8f8f8;
	background: #fffce7;
	clear: both;
}

#ja-layout-help { margin-bottom: 10px; }

#ja-profile-help .ja-wiki,
#ja-layout-help .ja-wiki,
#ja-theme-help .ja-wiki,
#ja-general-help .ja-wiki { padding-bottom: 13px; }

.ja-help-close{
	width: 14px;
	height: 14px;
	background: url("../images/close.gif") no-repeat ;
	position:absolute;
	right:4px;
	text-decoration:none;
	text-indent:-999em;
	top:6px;
}

a.ja-help-close:hover { background: url("../images/close-hover.gif") no-repeat; }

table.admintable,
table.ja-list-pageids {
	clear: both;
	border-collapse: collapse;
}

.ja-layout-new {
	border-right:medium none !important;
	color:#333;
	float:right;
	background: url("../images/icon-add.gif") no-repeat top left !important;	
	padding: 1px 5px 1px 20px !important;
	margin: 5px 5px 0px 0px;
	font-weight: bold;
	cursor: pointer;
}

.ja-user-themes tr.row0,
.ja-core-themes tr.row0 {
	background: #f9f9f9;
	border-top: solid 1px #f7f7f7;
	border-bottom: solid 1px #f7f7f7;
}

.ja-help-support .level3 td { text-align: center; }

.ja-wiki {
	background: url("../images/sign_warning.png") no-repeat left top !important;
	padding-left: 20px;	
	padding-bottom: 3px;
	margin-right: 15px;
}

.ja-tool-tip {
	position: absolute;
	max-width: 300px;
	z-index: 9999;
}

.ja-tool-tip .ja-wiki { background: url("../images/warning.png") no-repeat left top !important; }

table.paramlist i { padding-left: 10px; }

.ja-layout-settings, .ja-general-settings { border-collapse: collapse; }

.ja-layout-settings tr, .ja-layout-settings  td,
.ja-general-settings tr, .ja-general-settings  td,
.ja-help-support  tr, .ja-help-support td {
	padding: 0px;
	margin: 0px;
}

.ja-layout-settings tr td label {
	margin-top: 6px;
	margin-left: 30px;
	display: block;
}
	
tr.disable-row{ display: none; }

tr.enable-row { display: table-row; }

/*****System *****/
#system-message {
	margin-bottom:10px;
	padding:0;
	clear: both;
	z-index: 100;
	width: 100%;
}

#system-message .success-message {
	font-weight: bold;
	background: url("../images/success-bg.gif") repeat-x center center;
	border: solid 1px #dadada;
	margin-bottom: 10px;
	padding: 0px 10px;
	border: solid 1px #dadada;
	float: right;
	width: 47%;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.success-icon {
	background: url("../images/icon-success.png") no-repeat left top;
	color: #0f85d8;
	float: left;
	padding-left: 35px;
	padding-bottom: 13px;
	margin: 5px 0px;
}

p.msg {
	color: #333;
	padding: 0px;
	margin: 0px;
}

#system-message .error-message {
	font-weight: bold;
	background: url("../images/message-bg.gif") repeat-x center center;
	border: solid 1px #dadada;
	margin-bottom: 10px;
	padding: 0px 10px;
	border: solid 1px #dadada;
	float: right;
	width: 48%;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.error-icon {
	background: url("../images/icon-message.png") no-repeat left center;
	color: red;
	float: left;
	padding-left: 35px;
	margin: 5px 0px;
	padding-bottom: 13px;
}

.enable-pagesetting { opacity: 1; }

.disable-pagesetting {
	opacity: .30;
  	filter: alpha(opacity=30);
}

table.admintable tr td h4,
table.ja-layout-settings tr td h4 {
	margin: 10px 0px !important;
}

table.ja-help-support { border-collapse: collapse; }

table.ja-help-support td  { padding: 5px 0px !important; margin: 0px !important; }

table.ja-list-pageids { width: 100%; position: relative; float: left; }

#selections { height: auto !important; }

.width-50 { display: none; }

a.ja-icon-video {
	background: url(../images/icon-youtube.gif) no-repeat 5px 5px #fff;
	border: 1px solid #999;
	color: #666;
	display: block;
	font-weight: bold;
	position: absolute;
	padding: 5px 5px 5px 43px;
	right: 10px;
	top: 8px;
	text-decoration: none;
	width: 35px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

a.ja-icon-video span { color: #666; }

a.ja-icon-video:hover,
a.ja-icon-video:focus,
a.ja-icon-video:active { border-color: #666; text-decoration: none; }

a.ja-icon-video:hover span { color: #0F85D8; }