/*
#------------------------------------------------------------------------
  JA Purity II for Joomla 1.5
#------------------------------------------------------------------------
#Copyright (C) 2004-2009 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
#@license - GNU/GPL, http://www.gnu.org/copyleft/gpl.html
#Author: J.O.O.M Solutions Co., Ltd
#Websites: http://www.joomlart.com - http://www.joomlancers.com
#------------------------------------------------------------------------
*/


#jasdl-mainnav {
	position: relative;
}

#jasdl-mainnav ul { }

#jasdl-mainnav li {
	float: left;
	padding: 0;
	margin: 0;
}

#jasdl-mainnav a {
	display: block;
	float: left;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	padding: 8px 15px;
	text-decoration: none;
}

#jasdl-mainnav a:hover,
#jasdl-mainnav ul li.hover a {}

#jasdl-mainnav li.active a,
#jasdl-mainnav li.active a:hover,
#jasdl-mainnav li.active a:active,
#jasdl-mainnav li.active a:focus {}

#jasdl-subnav .first-item {}

#jasdl-subnav { display: none; }

/* Sub Nav ---*/
#ja-subnav { clear: both; position: relative; z-index: 9; }

#ja-subnav .main { line-height: 1; z-index: 10;}
#ja-subnav ul.active { }

#ja-subnav li { background: none; display: block; float: left; margin: 0 10px; padding: 10px 0; }

#ja-subnav li.first-item { }

#ja-subnav ul li a { display: block; text-decoration: none; }

#ja-subnav ul li a:hover { color: #333; }

#ja-subnav ul li.active a.active,
#ja-subnav ul li.active a.active:hover,
#ja-subnav ul li.active a.active:active,
#ja-subnav ul li.active a.active:focus { color: #333; }

#ja-subnav ul.active li a { }

#ja-subnav ul.active li a:hover { }

#ja-subnav ul li.empty { visibility: hidden; }

/* Sub Nav (lv2) ---*/
#ja-subnav ul li ul {
	display: block;
	height: auto;
	left: -999em;
	top: 2.7em;
	padding: 0;
	position: absolute;
	width: 14em;
}

#ja-subnav ul li.hover ul { display: block; height: auto; left: auto; position: absolute; }

#ja-subnav ul li.haschild a.haschild span.menu-title {
	background: url(../../images/arrow.png) no-repeat right center;
	padding-right: 12px;
}

#ja-subnav ul li.haschild a.haschild:hover span.menu-title { background-image: url(../../images/arrow3.png) }

#ja-subnav ul li.haschild li.haschild a.haschild:hover span.menu-title { background-image: url(../../images/arrow.png) }

#ja-subnav ul li ul li {
	display: block;
	float: none;
	padding: 5px;
	margin: 0;
	text-align: left;
}

#ja-subnav ul li ul li a { }

#ja-subnav ul li ul li a span.menu-title { line-height: 1.5em; }

#ja-subnav ul li ul li a.active { }

/* Sub Nav (lv3) ---*/
#ja-subnav ul li.hover ul ul { display: none; top: auto; }

#ja-subnav ul ul li.hover ul, #ja-subnav ul ul li:hover ul {
	display: block;
	height: auto;
	left: auto;
	margin: -1em 0 0 12em;
}

#ja-subnav ul li li.haschild a.haschild span.menu-title {
	display: block;
}
