/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

.ja-megamenu { margin: 0; padding: 0; }
.ja-megamenu a.over, .ja-megamenu a.active {}

ul.megamenu { margin: 10px; /* menu's gutter */ } 

/* lv - 0
-----------------------------------*/
/* Styling ---*/
.ja-megamenu ul.level0 {
	margin: 0;
	padding: 0;
}

.ja-megamenu ul.level0 li.mega {
	background: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.ja-megamenu ul.level0 li.mega a.mega {
	display: block;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	padding: 8px 8px;
	text-decoration: none;
}

.ja-megamenu ul.level0 li.mega .has-image {
	padding-left: 25px;
	display: block;
	background-repeat: no-repeat;
	background-position: left top;
	cursor: pointer;
}

.ja-megamenu ul.level0 li.mega span.menu-title { display: block; }

.ja-megamenu ul.level0 li.mega span.menu-desc {
	display: block;
	font-weight: normal;
	font-size: 92%;
}

.ja-megamenu ul.level0 li.mega a img {
	float: left;
	padding-right: 5px;
}

.ja-megamenu ul.level0 li.over, ul.level0 li.haschild-over {}

.ja-megamenu ul.level0 li.haschild a.mega span.menu-title,
.ja-megamenu ul.level0 li.haschild-over a.mega span.menu-title {
	background: url(../../images/arrow3.png) no-repeat left center;
	padding-left: 12px;
}

.ja-megamenu ul.level0 li.haschild a.mega span.menu-desc,
.ja-megamenu ul.level0 li.haschild-over a.mega span.menu-desc {
	padding-left: 12px;
}

.ja-megamenu ul.level0 li.active {}

/* lv - 1 and below
-----------------------------------*/
/* Layout ---*/
.ja-megamenu li.mega .childcontent { display: block; height: auto; position: absolute; }

.ja-megamenu li.mega .childcontent,
.ja-megamenu li.haschild-over li.mega .childcontent,
.ja-megamenu li.mega li.haschild-over li.mega .childcontent ,
.ja-megamenu li.mega li.mega li.haschild-over li.mega .childcontent, 
.ja-megamenu li.mega li.mega li.mega li.haschild-over li.mega .childcontent, 
.ja-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .childcontent { left: -999em; /*hide the menu*/ }

.ja-megamenu li.haschild-over .childcontent,
.ja-megamenu li.mega li.haschild-over .childcontent,
.ja-megamenu li.mega li.mega li.haschild-over .childcontent,
.ja-megamenu li.mega li.mega li.mega li.haschild-over .childcontent,
.ja-megamenu li.mega li.mega li.mega li.mega li.haschild-over .childcontent,
.ja-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .childcontent { left: auto; /*show on parent:hover*/ }

.ja-megamenu li.mega .right,
.ja-megamenu li.haschild-over li.mega .right,
.ja-megamenu li.mega li.haschild-over li.mega .right ,
.ja-megamenu li.mega li.mega li.haschild-over li.mega .right, 
.ja-megamenu li.mega li.mega li.mega li.haschild-over li.mega .right, 
.ja-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .right { right: auto; /*hide the menu*/ }

.ja-megamenu li.haschild-over .right
{ right: 0; /*show on parent:hover*/ }
.ja-megamenu li.mega li.haschild-over .right,
.ja-megamenu li.mega li.mega li.haschild-over .right,
.ja-megamenu li.mega li.mega li.mega li.haschild-over .right,
.ja-megamenu li.mega li.mega li.mega li.mega li.haschild-over .right,
.ja-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .right 
{ right: 12em; /*show on parent:hover*/ }

.ja-megamenu ul.level1 li.mega { float: none; }

.ja-megamenu ul.level1 .childcontent { margin: -2em 0 0 160px; }

 /* Columns ---*/
.ja-megamenu .megacol { float: left;}

/* Styling ---*/
.ja-megamenu ul.level1 li.mega {}

.ja-megamenu ul.level1 li.first {}

.ja-megamenu ul.level1 li.mega a.mega {
	background: none;
	border: 0;
	font-weight: normal;
	padding: 8px 5px;
}

.ja-megamenu ul.level1 li.mega a.mega span.menu-title { background: none; padding: 0; }

.ja-megamenu ul.level1 li.haschild,
.ja-megamenu ul.level1 li.haschild-over {
	background-image: url(../../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 95% center;
	padding: 0;
}

.ja-megamenu ul.level1 li.over, ul.level1 li.haschild-over {}

.ja-megamenu ul.level1 li.group { background: none; }

 /* CHILD CONTENT
-----------------------------------*/
.ja-megamenu .childcontent {
	z-index: 999;
}

.ja-megamenu .childcontent-inner {
	background: #fff;
}

.ja-megamenu .level1 .childcontent-inner {}

.ja-megamenu .childcontent .ja-moduletable {
	line-height: 1.5;
	margin: 10px 0;
	padding: 0;
}

.ja-megamenu .childcontent .ja-moduletable h3 {
	background: none;
	margin-left: 10px;
	margin-right: 10px;
	text-indent: 5px;
	text-transform: none;
}

.ja-megamenu .childcontent .ja-moduletable .ja-box-ct {
	padding: 0 5px;
}

.ja-megamenu .childcontent .ja-moduletable a {
	text-decoration: none;
}

.ja-megamenu .childcontent .ja-moduletable a:hover,
.ja-megamenu .childcontent .ja-moduletable a:focus,
.ja-megamenu .childcontent .ja-moduletable a:active {
	text-decoration: none;
}

.ja-megamenu .childcontent .ja-moduletable ul:first-child {
	margin-top: 0 !important;
}

.ja-megamenu .childcontent .ja-moduletable li {
	margin-bottom: 5px;
}

/* Grouped --- */
.ja-megamenu .group {}

.ja-megamenu .group-title { overflow: hidden; }

.ja-megamenu .group-title .menu-title {}

.ja-megamenu .group-title .menu-desc {
	padding-left: 0 !important;
}

.ja-megamenu .group-content .ja-moduletable,
.ja-megamenu .group-content ul.megamenu  {
	margin: 10px; /* Group-content's gutter*/
}

/* reset --- */
.ja-megamenu .childcontent ul.megamenu .ja-moduletable {
	padding: 0;
}

.ja-megamenu .childcontent ul.megamenu .ja-moduletable h3 {
	margin-left: 0;
	margin-right: 0;
}

