/*
# ------------------------------------------------------------------------
# JA T3v2 Plugin - Template framework for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - GNU/GPL V2, http://www.gnu.org/licenses/gpl2.html. For details 
# on licensing, Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

#ja-splitmenu {
	position: relative;
}

#ja-splitmenu ul { }

#ja-splitmenu li {
	float: left;
	margin: 0;
	padding: 0;
}

#ja-splitmenu a {
	display: block;
	float: left;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	padding: 8px 15px;
	text-decoration: none;
}

#ja-splitmenu a:hover,
#ja-splitmenu a:active,
#ja-splitmenu a:focus {
}

#ja-splitmenu li.active a,
#ja-splitmenu li.active a:hover,
#ja-splitmenu li.active a:active,
#ja-splitmenu li.active a:focus {
}

/* Sub Nav ---*/
#ja-subnav { position: relative; z-index: 9; }

#ja-subnav .main { line-height: 1; z-index: 10;}
#ja-subnav ul.active { }

#ja-subnav li { background: none; display: block; float: left; margin: 0 10px; padding: 10px 0; }

#ja-subnav li.first-item { }

#ja-subnav ul li a { display: block; text-decoration: none; }

#ja-subnav ul li a:hover { color: #333; }

#ja-subnav ul li.active a.active,
#ja-subnav ul li.active a.active:hover,
#ja-subnav ul li.active a.active:active,
#ja-subnav ul li.active a.active:focus { color: #333; }

#ja-subnav ul.active li a { }

#ja-subnav ul.active li a:hover { }

#ja-subnav ul li.empty { visibility: hidden; }

/* Sub Nav (lv2) ---*/
#ja-subnav ul li ul {
	display: block;
	height: auto;
	left: -999em;
	top: 2.7em;
	padding: 0;
	position: absolute;
	width: 14em;
}

#ja-subnav ul li.hover ul { display: block; height: auto; left: auto; position: absolute; }

#ja-subnav ul li.haschild a.haschild span.menu-title {
	background: url(../../images/arrow.png) no-repeat right center;
	padding-right: 12px;
}

#ja-subnav ul li.haschild a.haschild:hover span.menu-title { background-image: url(../../images/arrow3.png) }

#ja-subnav ul li.haschild li.haschild a.haschild:hover span.menu-title { background-image: url(../../images/arrow.png) }

#ja-subnav ul li ul li {
	display: block;
	float: none;
	padding: 5px;
	margin: 0;
	text-align: left;
}

#ja-subnav ul li ul li a { }

#ja-subnav ul li ul li a span.menu-title { line-height: 1.5em; }

#ja-subnav ul li ul li a.active { }

/* Sub Nav (lv3) ---*/
#ja-subnav ul li.hover ul ul { display: none; top: auto; }

#ja-subnav ul ul li.hover ul, #ja-subnav ul ul li:hover ul {
	display: block;
	height: auto;
	left: auto;
	margin: -1em 0 0 12em;
}

#ja-subnav ul li li.haschild a.haschild span.menu-title {
	display: block;
}
