/*
# ------------------------------------------------------------------------
# JA Slideshow II module for Joomla 15
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/

.ja-slidewrapquartz2 {
	margin: 0;
	padding: 0;
	position: relative;
}

.moduletablequartz2 .ja-slide-main-wrap {
	position: relative;
	overflow: hidden;
}

.moduletablequartz2 .ja-slide-main {
	position: absolute;
	z-index: 1;
}

.moduletablequartz2 .ja-slide-item {
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 0;
}

.moduletablequartz2 .ja-slide-item img {
	background: #000000;
	border: 1px solid #1C1C1C;
	padding: 4px;
}

.moduletablequartz2 .ja-slide-thumbs-wrap {
	position: relative;
	clear: both;
	overflow: hidden;
}

.moduletablequartz2 .ja-slide-thumbs,.moduletablequartz2  .ja-slide-thumbs-mask,.moduletablequartz2  .ja-slide-thumbs-handles {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 5000px;
}

.moduletablequartz2 .ja-slide-descs {
	display: none;	
}

.moduletablequartz2 .ja-slide-thumb,.moduletablequartz2  .ja-slide-thumbs-handles span {
	display: block;
	margin: 0;
	float: left;
	cursor: pointer;
}

.moduletablequartz2 .ja-slide-thumbs-handles span {
	background: none;
}

.moduletablequartz2 .ja-slide-thumbs-mask-left,
.moduletablequartz2 .ja-slide-thumbs-mask-right,
.moduletablequartz2 .ja-slide-thumbs-mask-center {
	float: left;
}

.moduletablequartz2 .ja-slide-thumbs-mask-left, .moduletablequartz2 .ja-slide-thumbs-mask-right{
	background: #000000;
}

.moduletablequartz2 .but_prev, .moduletablequartz2 .but_next {
	background: #000000;
	position: absolute;
	top: 0;
	z-index: 99;
}

.moduletablequartz2 .but_prev {
	background: url(arrow-l.gif) no-repeat right center;
	left: 0;
}
.moduletablequartz2 .but_prev:hover,.moduletablequartz2  .but_next:hover {
	cursor: pointer;
}

.moduletablequartz2 .but_next {
	background: url(arrow-r.gif) no-repeat left center;
	right: 0;
}
.moduletablequartz2 .maskDesc {
	display: block;
	background: #000000;
	position: absolute;
	z-index: 100;
	cursor: pointer;
}

.moduletablequartz2 .maskDesc .ja-slide-desc {
	padding: 20px 40px;
	color: #CCCCCC;
	font-size: 150%;
}

.moduletablequartz2 .maskDesc .ja-slide-desc br {
	display: none;
}

.moduletablequartz2 .maskDesc .ja-slide-desc h3 {
	margin: 0;
	padding: 0;
}

.moduletablequartz2 .maskDesc a.readon {
	background: url(arrow-ri-hover.gif) no-repeat right 10px;
	bottom: 10px;
	color: #810C46;
	display: block;
	font-weight: bold;
	font-size: 100%;
	position: absolute;
	padding: 3px 10px 3px 0;
	right: 20px;
}

.moduletablequartz2 .maskDesc a.readon:hover, .moduletablequartz2 .maskDesc a.readon:active, .moduletablequartz2 .maskDesc a.readon:focus {
	background: url(arrow-ri.gif) no-repeat right 10px;
	color: #FFFFFF;
}

.moduletablequartz2 .ja-slide-buttons {
	z-index: 900;
}

.moduletablequartz2 .ja-slide-buttons span {
	background: #000000;
	color: #FFFFFF;
	display: block;
	float: left;
	margin-right: 5px;
	padding: 2px 5px;
	cursor: pointer;
}

/*JA Sideshow [ Topspotlight 1]*/
.moduletablequartz2 .ja-slidewrapquartz2 {
	margin: 0;
	padding: 0;
	position: relative;
}

.moduletablequartz2 .ja-slide-mask {
	background: #CCCCCC;
	position: absolute;
	right: 10px;
	bottom: 10px;
	height: 70px;
	width: 210px;
	z-index: 99;
	display: none;
}

.moduletablequartz2 .ja-slide-thumbs-wrap {
	background: #CCCCCC;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}

.moduletablequartz2 .ja-slide-buttons {
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 101;
}

.moduletablequartz2 .ja-slide-thumb img {
	background: #CCCCCC;
	border: 1px solid #FFFFFF;
	margin: 4px;
}

.moduletablequartz2 .ja-slide-item img {
	padding: 0;
	border: none;
}

.moduletablequartz2 .maskDesc {
	background: none;
}

.moduletablequartz2 .maskDesc .ja-slide-desc {
	color: #FFFFFF;
	font-size: 100%;
	padding: 20px 10px;
	position: absolute;
	top: 0;
	right: 0;
	width: 230px;
}

.moduletablequartz2 .maskDesc .ja-slide-desc h3 {
	color: #CCCCCC;
	text-transform: uppercase;
}

/* Choose style */
.moduletablequartz2 #ja-botsl .ja-slide-buttons {
	z-index: 900;
	text-align: center;
	margin-top: 5px;
}

.moduletablequartz2 #ja-botsl .ja-slide-buttons span {
	background: #0E0E0E;
	font-size: 10px;
	text-transform: uppercase;
	border: 1px solid #1C1C1C;
	padding: 1px 2px;
	float: none;
	display: inline;
}

.moduletablequartz2 #ja-botsl .ja-slide-buttons span:hover {
	border: 1px solid #373737;
	color: #810C46;
}

.moduletablequartz2 #ja-botsl .ja-slide-desc {
	color: #FFFFFF;
	font-size: 100%;
}

.moduletablequartz2 #ja-botsl .ja-slide-desc h3 {
	color: #FFFFFF;
	background: none;
	margin: 0;
	padding: 0;
}

.moduletablequartz2 #ja-botsl .ja-slide-desc p {
	font-weight: normal;
}
