/*
# ------------------------------------------------------------------------
# JA Pyro template for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2009 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
# ------------------------------------------------------------------------
*/

.moduletablepyro .ja-slidewrap,.ja-slidewrappyro {
	background: url(images/sl-slidewrap-bg.gif) repeat-x top left;
	border: none !important;
	margin: 0;
	padding: 0;
	position: relative;
}

.moduletablepyro .ja-slidewrap .box { height: 15px; position: absolute; width: 15px; }

.moduletablepyro .ja-slidewrap .tl,.moduletablepyro .ja-slidewrap .tr,.moduletablepyro  .ja-slidewrap .br, .moduletablepyro .ja-slidewrap .bl { background-repeat: no-repeat; position: absolute; }

.moduletablepyro .ja-slidewrap .tl { background-position: left top; left: 0; top: 0; }

.moduletablepyro .ja-slidewrap .tr { background-position: right top; right: 0; top: 0; }

.moduletablepyro .ja-slidewrap .br { background-position: right bottom; bottom: 0; right: 0; }

.moduletablepyro .ja-slidewrap .bl { background-position: left bottom; bottom: 0; left: 0; }

.moduletablepyro .ja-slidewrap .tl, .moduletablepyro .ja-slidewrap .tr, .moduletablepyro .ja-slidewrap .bl,.moduletablepyro  .ja-slidewrap .br {
	background-image: url(images/sl-corner.gif);
}

.moduletablepyro .ja-slidewrap .sl-deco {
	background: url(images/sl-deco.png) no-repeat top left;
	height: 192px;
	position: absolute;
	top: 0;
	right: 0;
	width: 603px;
}

.moduletablepyro .ja-slide-main-wrap {
	overflow: hidden;
	position: relative;
}

.moduletablepyro .ja-slide-main {
	position:relative;
	z-index: 1;
}

.moduletablepyro .ja-slide-item {
	display: block;
	height: 280px !important;
	left: auto !important;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0 !important;
	top: 60px !important;
	width: 360px !important;
}

.moduletablepyro .ja-slide-item img {
	background: none;
	height:auto;
	width:auto;
}

.moduletablepyro .ja-slide-thumbs-wrap {
	background: url(images/sl-sep.gif) no-repeat left top !important;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 1px;
	position: relative;
}

.moduletablepyro .but_prev,.moduletablepyro  .but_next {
	background: #000;
	position: absolute;
	top: 0;
	z-index: 99;
}

.moduletablepyro .but_prev {}

.moduletablepyro .but_prev:hover, .moduletablepyro .but_next:hover {
	cursor: pointer;
}

.moduletablepyro .but_next {}

.moduletablepyro .maskDesc {
	cursor: pointer;
	display: block;
	position: absolute;
	z-index: 100;
	left: 0 !important;
}

.maskDesc .ja-slide-desc {
	color: #fff;
	font-size: 100%;
	padding: 55px 0 0 60px;
	width: 480px;
	height: 280px;
}
.moduletablepyro .maskDesc .ja-slide-desc a,
.moduletablepyro .maskDesc .ja-slide-desc a:hover,
.moduletablepyro .maskDesc .ja-slide-desc a:focus,
.moduletablepyro .maskDesc .ja-slide-desc a:active {
	border: none !important;
	text-decoration: none !important;
}

.moduletablepyro .maskDesc .ja-slide-desc a span {
	color: #fff;
	display: none;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 350%;
	font-weight: normal;
}

.moduletablepyro .maskDesc .ja-slide-desc br { display: none; }

.moduletablepyro .maskDesc .ja-slide-desc h3 {
	margin: 0;
	padding: 0;
}

.moduletablepyro .maskDesc .ja-slide-desc h4 {
	color: #fff;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 300%;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
	text-shadow: -1px -1px #0e4071;
}

.moduletablepyro .maskDesc .ja-slide-desc h5 {
	color: #9dbcdb;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: normal;
	line-height: 1;
	margin-top: 10px;
	text-transform: none;
	text-shadow: -1px -1px #0e4071;
}

.moduletablepyro .maskDesc .ja-slide-desc p {
	margin: 15px 0;
}

.moduletablepyro .maskDesc .ja-slide-desc p a { color: #fff; }

.moduletablepyro .maskDesc a.readon {
	background: url(images/sl-readon-bg.gif) no-repeat top left;
	color: #333;
	display: block;
	float: left;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 92%;
	font-weight: bold;
	padding: 6px 16px;
	text-transform: uppercase;
	text-shadow: -1px 1px #fff;
}

.moduletablepyro .maskDesc a.readon:hover,
.moduletablepyro .maskDesc a.readon:active,
.moduletablepyro .maskDesc a.readon:focus {
	color: #800;
	text-shadow: -1px 1px #fff;
}

.moduletablepyro .ja-slide-buttons {
	z-index: 900;
}

.moduletablepyro .ja-slide-buttons span {
	background: #000;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	margin-right: 5px;
	padding: 2px 5px;
}

/* SCROLL LEFT
-----------------------------------------*/
/* Horizontal ---*/
.moduletablepyro .ja-vertical_right {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

/* horizontal ---*/
.moduletablepyro .ja-vertical_left {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 100;
}

.moduletablepyro .ja-vertical_right .active {}

.moduletablepyro .ja-vertical_left .active {}

.moduletablepyro .ja-slide-right {
	margin-left: auto;
	right: 0;
	top: 0;
	float:right
}

.moduletablepyro .ja-slide-thumbs,.moduletablepyro  .ja-slide-thumbs-mask,.moduletablepyro  .ja-slide-thumbs-handles {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}

.moduletablepyro .ja-articles .ja-slide-thumbs-handles {
	/*
	background: #fff;
	filter: alpha(opacity=0);
	opacity: 0.00; 
	*/
}

.moduletablepyro .ja-slide-descs {
	display: none;
}

.moduletablepyro .ja-slide-thumb,.moduletablepyro  .ja-slide-thumbs-handles span {
	cursor: pointer;
	display: block;
	float: left;
	margin: 0;
}

/* horizontal  */
.moduletablepyro .ja-vertical_right .ja-slide-thumb,
.moduletablepyro .ja-vertical_right .ja-slide-thumbs-handles span {
	float: none!important;
}

.moduletablepyro .ja-vertical_left .ja-slide-thumb,
.moduletablepyro .ja-vertical_left .ja-slide-thumbs-handles span {
	float: none!important;
}

.moduletablepyro .ja-slide-thumbs-wrap .ja-slide-thumbs .ja-slide-thumb {}

.moduletablepyro .ja-slide-thumbs-handles span {}

.moduletablepyro .ja-slide-thumbs .active {
	background: url(images/sl-thumb-active.gif) no-repeat top center;
}

.moduletablepyro .ja-slide-thumbs-wrap .active .ja-slide-thumb-inner {}

.moduletablepyro .ja-slide-thumbs-mask-left,
.moduletablepyro .ja-slide-thumbs-mask-right,
.moduletablepyro .ja-slide-thumbs-mask-center {
	float: left;
}

.moduletablepyro .ja-vertical_right .ja-slide-thumbs-mask-left,
.moduletablepyro .ja-vertical_right .ja-slide-thumbs-mask-right,
.moduletablepyro .ja-vertical_right .ja-slide-thumbs-mask-center {
	display: block;
	float: none;
}

.moduletablepyro .ja-vertical_left .ja-slide-thumbs-mask-left,
.moduletablepyro .ja-vertical_left .ja-slide-thumbs-mask-right,
.moduletablepyro .ja-vertical_left .ja-slide-thumbs-mask-center {
	display: block;
	float: none;
}

.moduletablepyro .ja-slide-thumbs { padding: 0 0 0 1px; }

.moduletablepyro .ja-slide-thumb-inner {
	background: url(images/sl-sep.gif) no-repeat top right !important;
	border: none;
	color: #9dbcdb;
	height: 100%;
	margin: 0;
	padding: 0 1px 0 0;
}

.moduletablepyro .ja-vertical_left .ja-slide-thumb-inner {
	margin-left: 0px;
	margin-right: 19px;
}

.moduletablepyro .ja-slide-thumbs-wrap .ja-slide-thumb-inner h3 {
	color: #9dbcdb;
	font-style: normal;
	font-size: 150%;
	font-weight: normal;
	margin: 0px !important;
	padding: 25px 0 0 !important;
	text-align: center;
	text-transform: uppercase;
	height: 100%;
	text-shadow: -1px -1px #0e4071;
}

.moduletablepyro .ja-slide-thumbs-wrap .active .ja-slide-thumb-inner h3 {
	color: #fff !important;
	text-shadow: -1px -1px #0e4071;
}

.moduletablepyro .ja-slide-thumb-inner img {
	margin: 15px 10px 0 0;
}

.moduletablepyro .ja-slide-thumb-inner .ja-createdate { }

.moduletablepyro .active .ja-slide-thumb-inner {
	border: none;
	color: #fff;
}

.moduletablepyro .active .ja-slide-thumb-inner img {}

.moduletablepyro .ja-slide-thumbs-mask-left,
.moduletablepyro .ja-slide-thumbs-mask-right,
.moduletablepyro .ja-slide-thumbs-mask-center {
	float: left;
}

.moduletablepyro .ja-slide-thumbs-mask-left, .moduletablepyro .ja-slide-thumbs-mask-right {
	background: #000;
}

.moduletablepyro .ja-slide-mask {
	height: 300px;
	left: 0;
	position: absolute;
	top: 0;
	width: 660px;
	z-index: 3;
}

.moduletablepyro .maskDesc a.readon { border: none !important; }