/**
* @version $Id: mediamanager.css 10387 2008-06-03 10:59:16Z pasamio $
* @copyright Copyright (C) 2005 - 2008 Open Source Matters. All rights reserved.
* @license GNU/GPL, see LICENSE.php
* Joomla! is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/ /**
 * MediaManager javascript behvaior styling
 *
 * @author		Johan Janssens <johan.janssens@joomla.org>
 * @package		Joomla
 * @since		1.5
 * @version    1.0
 */
#treeview {
	padding: 10px;
	width: 190px;
	overflow: auto;
	/*height: 390px;*/
	border: 0;
}

#folderview {

}

#folderview .path {
	margin-bottom: 10px;
	padding:10px;
}

#folderview .view {
	display: block;
	margin: 0;
	padding: 0;
	height: 360px;
}

#folderview input#folderpath {
	width:80%;
	padding:2px 10px;
	background-color: #EEE;
}

#folderview input#foldername {
	width: 20%;
}

#folderview iframe#folderframe {
	height: 100%;
}

#uploads .upload {
	padding: 4px;
}

/**
 * Upload Widget CSS
 */
.upload-queue {
	list-style: none;
}

.upload-queue li {
	background: url(upload.png) no-repeat 0 5px;
	padding: 5px 0 5px 22px;
}

.upload-queue .queue-file {
	font-weight: bold;
}

.upload-queue .queue-size {
	color: #aaa;
	margin-left: 1em;
	font-size: 0.9em;
}

.upload-queue .queue-loader {
	position: relative;
	margin: 3px 15px;
	font-size: 0.9em;
	background-color: #ddd;
	color: #fff;
	border: 1px inset #ddd;
}

.upload-queue .queue-subloader {
	text-align: center;
	position: absolute;
	background-color: #81B466;
	height: 100%;
	width: 0%;
	left: 0;
	top: 0;
}

.upload-queue .input-delete {
	width: 16px;
	height: 16px;
	background: url(delete.png) no-repeat 0 0;
	text-decoration: none;
	border: none;
	float: right;
}
