/* Son of Suckerfish Dropdowns
---------------------------------------------------------
Originally developed by Patrick Griffiths and Dan Webb
http://www.htmldog.com/articles/suckerfish/dropdowns/
---------------------------------------------------------
NOTE: After a deep research, we decide to divide this
CSS into 2 parts. The first part will define the layout.
The second part will define the visual look for this menu.
---------------------------------------------------------*/

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-cssmenu { font-family: "Trebuchet MS",Arial,sans-serif; }

#ja-cssmenu li a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 110%;
	color: #fff;
}

#ja-cssmenu li a.active {
	color: #333;
}

#ja-cssmenu li.active {
	background: #fff;
}

#ja-cssmenu li.sfhover a {
	color: #fff;
}

#ja-cssmenu li.sfhover {
	background: #345b8d;
}

/* 2nd level and above */
#ja-cssmenu li ul {
	background: #345b8d;
	border: 1px solid #345b8d;
	border-top: 0;
	color: #333;
}

#ja-cssmenu li ul ul {
	border-top: 1px solid #6183AF;
}

#ja-cssmenu li ul li {
	border-bottom: 1px dotted #6183AF;
	background: none;
}

#ja-cssmenu li ul li.sfhover,
#ja-cssmenu li ul li.active {
	background: #446A9A;
}