#ja-splitmenu { font-family: "Trebuchet MS",Arial,sans-serif; }

#ja-splitmenu li a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 110%;
	color: #fff;
}

#ja-splitmenu li.active a {
	background: #fff;
	color: #333;
}

#ja-splitmenu li a:hover,
#ja-splitmenu li a:focus,
#ja-splitmenu li a:active {
	background: #446896;
	color: #fff;
} 

/* Sub Nav ---*/
#ja-subnav {
	background-color: #fff;
	background-image: url(../../images/subnav-bg.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
}

/* Sub Nav (lv2) ---*/
#ja-subnav ul li ul {
	background: #F6F6F6;
	border: 1px solid #ccc;
	border-top: 0;
	z-index: 1;
	top: 2.6em;
}

#ja-subnav ul li ul li {
	border-top: 1px solid #ccc;
}

#ja-subnav ul li ul li:first-child {
	border: 0;
}
