div.ja-retweet-vertical-home, div.ja-retweet-vertical{float: right; margin: 10px 0px 0px 10px;}
div.ja-retweet-horizontal-home, div.ja-retweet-horizontal{margin: 10px 0px 10px 0px;}
div.ja-retweet-none-home, div.ja-retweet-none{margin: 10px 0px 10px 0px;}