/* default: mod_jaslideshow2.css */
.moduletablesocial .ja-mass-top .wrap {
	min-width: 100%;
}

.moduletablesocial .ja-slidewrapsocial  {
	background:
		url('images/bg-slideshow1.gif')
		repeat-x bottom center #fff;
	border: none !important;
	padding: 10px 10px 0px 10px;
}

.moduletablesocial .ja-slide-thumbs-mask-left,.moduletablesocial .ja-slide-thumbs-mask-right {
	background: none;
}

.moduletablesocial .ja-slide-thumbs-wrap {
	background:url("images/line-slideshow.gif") no-repeat scroll right 11px transparent !important;
	bottom:0;
	height:80px !important;
	margin-left:27px;
	overflow:visible;
	position:relative;
	right:0;
	top:0;
	width:662px !important;
	z-index:150;
}

.moduletablesocial .ja-slide-thumbs,.moduletablesocial .ja-slide-thumbs-handles {
	position: absolute;
	width: 100px !important;
	right: 0px !important;
	
}

.moduletablesocial .ja-slide-thumb-inner {
	background: none;
	border-top: none;
	color: #2595bd;
	text-align: center;
	margin: 0px;
	position: relative;
	top: 0px;
	padding: 0px 10px;
}

.moduletablesocial .ja-slide-thumb-inner h3 {
	font-weight: normal;
	font-size: 92%;
	padding: 26px 0px 0px 0px !important;
	text-shadow: 0 2px 2px #fff;
}

.moduletablesocial .ja-slide-thumbs-wrap .active .ja-slide-thumb-inner h3 {
	color: #747474 !important;
}

.moduletablesocial .ja-slide-thumbs-wrap .ja-slide-thumb {
	height: 10px;
	width: 10px;
}

.moduletablesocial .ja-slide-thumbs-wrap .ja-slide-thumb.active {
	background:
		url('images/number-hover.png')
		no-repeat center center;
}

.moduletablesocial .ja-slide-thumbs-wrap .active .ja-slide-thumb-inner {
	background:
		url('images/active-slideshow.png')
		no-repeat top center;
	color: #737373;
	top: -11px;
}

.moduletablesocial .ja-slide-thumb.active .ja-slide-thumb-inner h3 {
	padding: 26px 0px 0px 0px !important;
}

.moduletablesocial .ja-slide-buttons {
	position: absolute;
	bottom: 130px;
	z-index: 500;
}

.moduletablesocial .ja-slide-buttons span {
	font-size: 0px;
	line-height: 0px;
	display: block;
	text-indent: -1000px;
	padding: 0px;
}

.moduletablesocial .ja-slide-buttons span.ja-slide-prev {
	background:
		url('images/prev-slideshow.png')
		no-repeat left bottom;
	height: 27px;
	width: 18px;
	float: left;
}

.moduletablesocial .ja-slide-buttons span.ja-slide-prev:hover {
	background:
		url('images/prev-slideshow.png')
		no-repeat left top;
}

.moduletablesocial .ja-slide-buttons span.ja-slide-next {
	background:
		url('images/next-slideshow.png')
		no-repeat right bottom;
	height: 27px;
	width: 18px;
	position: absolute;
	right: -700px;
}

.moduletablesocial .ja-slide-buttons span.ja-slide-next:hover {
	background:
		url('images/next-slideshow.png')
		no-repeat right top;
}

.moduletablesocial .ja-slide-playback,.moduletablesocial .ja-slide-stop,.moduletablesocial .ja-slide-play {
	display: none !important;
}

.moduletablesocial .maskDesc {
	z-index: 400;
	right: 0px;
	top: 0px;
}

.moduletablesocial .ja-slide-desc {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	font-weight: bold;
	line-height: 1;
	left: 220px;
	top: 85px;
}

.moduletablesocial .ja-slide-desc a.readon,.moduletablesocial .ja-slide-desc a.readmore {
	background:
		url('images/more.png')
		no-repeat center center;
	padding: 0px;
	line-height: 34px;
	color: #fff;
	display: none;
	text-align: center;
	width: 140px;
	height: 34px;
	bottom: 4px;
}

.moduletablesocial .ja-slide-desc a.readon:hover,.moduletablesocial .ja-slide-desc a.readmore:hover {
	text-decoration: none !important;
}

.moduletablesocial .ja-slide-main-wrap {
	background: none;
}

.moduletablesocial .ja-slide-desc a span {
	display: block;
}

.moduletablesocial .ja-slide-thumb,.moduletablesocial .ja-slide-thumbs-handles span {
	margin: 0px 3px;
}

.moduletablesocial .ja-slide-thumbs,.moduletablesocial .ja-slide-thumbs-mask,.moduletablesocial .ja-slide-thumbs-handles {
	width: 100px !important;
	height: 10px;
}

.moduletablesocial .ja-slide-thumb span {
	line-height: 0px;
	font-size: 0px;
	text-indent: -1000px;
	margin: 0px 3px;
}

.moduletablesocial .ja-slide-item {
	background: none;
}

.moduletablesocial .ja-slide-desc p,.moduletablesocial .ja-slide-desc blockquote {
	color: #616161;
	font-weight: normal;
	font-size: 105%;
	font-style: italic;
	line-height: 1.5;
}

.moduletablesocial .ja-slide-item img {
	background: none;
}

.moduletablesocial .ja-slide-desc ul li {
	display: block;
	padding: 5px 0px 5px 25px;
	margin: 5px 0px;
	color: #616161;
	font-weight: normal;
}

.moduletablesocial .ja-slide-desc ul.check-list li {
	background:
		url('images/check-list.png')
		no-repeat left 5px;
}

.moduletablesocial .ja-slide-desc ul.around-list li {
	background:
		url('images/bullet-grey.png')
		no-repeat left 9px;
	cursor: pointer;
	padding-left: 12px;
}

.moduletablesocial .ja-slide-desc ul.around-list li:hover {
	background:
		url('images/bullet-blue.png')
		no-repeat left 9px;
	padding-left: 12px;
}

.moduletablesocial .ja-slide-desc span.blue {
	color: #208ab1;
	font-size: 135%;
	background: none;
	cursor: none;
	border: none;
	font-weight: bold;
}

.moduletablesocial .ja-slide-desc span.black {
	color: #333;
	font-size: 125%;
	background: none;
	cursor: none;
	border: none;
	font-weight: bold;
}

.moduletablesocial .ja-box-ct {
	background:
		url('images/bg-slideshow1.gif')
		repeat-x bottom center #fff;
	border: none;
}

.moduletablesocial .ja-slidewrapsocial   {
	padding: 10px 10px 0px 10px;
	border: none;
	margin-bottom: -11px;
}

.moduletablesocial .ja-slidewrapsocial   .ja-slide-mask {
	display: none;
}

.moduletablesocial .ja-slidewrapsocial.ja-slide-descs {
	display: block;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-desc {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 150px;
	left: 22px;
	font-size: 250%;
	font-weight: normal;
	width: 500px;
	padding: 10px;
	text-shadow: 0 0 2px #18607A;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-desc p {
	display: none;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumbs-wrap {
	width: 662px !important;
	z-index: 150;
	overflow: visible;
	top: 0px;
	right: 0px;
	bottom: 0px;
	position: relative;
	margin-left: 27px;
	height: 80px !important;
	background:
		url('images/line-slideshow.gif')
		no-repeat right 11px !important;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-buttons {
	position: absolute;
	top: 320px;
	z-index: 150;
	height: 28px;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-desc a span {
	background: #2595bd;
	color: #fff;
	text-decoration: none;
	padding: 0px 5px;
	margin: 0px;
	line-height: 1.2;
	display: inline;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumbs,.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumbs-mask,.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumbs-handles
	{
	position: absolute;
	width: auto !important;
	height: 80px !important;
	right: auto;
	margin: 0px;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumbs-wrap .ja-slide-thumb.active {
	background:
		url('images/line-slideshow.gif')
		no-repeat left 11px #fff !important;
	color: #747474;
	margin: 11px 0px 0px 0px !important;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumbs-wrap .active .ja-slide-thumb-inner
	{
	background:
		url('images/active-slideshow.png')
		no-repeat top center;
	color: #737373;
	top: -11px;
}

.moduletablesocial .ja-slide-thumbs .ja-slide-thumb {
	background:
		url('images/line-slideshow.gif')
		no-repeat left 11px;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumb-inner img {
	display: none;
}

.moduletablesocial .ja-slidewrapsocial .ja-slide-thumbs-handles span,.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumb
	{
	margin: 0px;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumb-inner {
	margin: 0px 5px;
	padding: 0px;
}

.moduletablesocial .ja-slidewrapsocial  .ja-horizontal {
	overflow: hidden;
	top: -11px;
}

.moduletablesocial .ja-slidewrapsocial  .ja-slide-thumbs-handles span {
	height: 70px !important;
}