/* style.css */
.moduletablesocial .ja-slidewrap {
	border: 1px solid #191A1B;
	margin: 0;
	padding: 0;
	position: relative;
}

.moduletablesocial .ja-slide-main-wrap {
	overflow: hidden;
	position: relative;
}

.moduletablesocial .ja-slide-main {
	position: absolute;
	z-index: 1;
}

.moduletablesocial .ja-slide-item {
	display: block;
	float: left;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.moduletablesocial .ja-slide-item img {
	background: #000;
}

.moduletablesocial .ja-slide-thumbs-wrap {
	clear: both;
	overflow: hidden;
	position: relative;
}

.moduletablesocial .but_prev,.moduletablesocial .but_next {
	background: #000;
	position: absolute;
	top: 0;
	z-index: 99;
}

.moduletablesocial .but_prev {
	background:
		url('arrow-l.gif')
		no-repeat right center;
	left: 0;
}

.moduletablesocial .but_prev:hover,.moduletablesocial .but_next:hover {
	cursor: pointer;
}

.moduletablesocial .but_next {
	background:
		url('arrow-r.gif')
		no-repeat left center;
	right: 0;
}

.moduletablesocial .maskdesc {
	background: #000;
	cursor: pointer;
	display: block;
	position: absolute;
	z-index: 100;
}

.moduletablesocial .maskdesc .ja-slide-desc {
	color: #fff;
	font-size: 100%;
	padding: 10px 20px;
}

.moduletablesocial .maskdesc .ja-slide-desc a,.moduletablesocial .maskdesc .ja-slide-desc a:hover,.moduletablesocial .maskdesc .ja-slide-desc a:focus,.moduletablesocial .maskdesc .ja-slide-desc a:active
	{
	border: none !important;
	text-decoration: none !important;
}

.moduletablesocial .maskdesc .ja-slide-desc a span {
	color: #fff;
	font-size: 150%;
	font-weight: bolder;
	text-transform: uppercase;
}

.moduletablesocial .maskdesc .ja-slide-desc br {
	display: none;
}

.moduletablesocial .maskdesc .ja-slide-desc h3 {
	margin: 0;
	padding: 0;
}

.moduletablesocial .maskdesc .ja-slide-desc p a {
	color: #ccc;
}

.moduletablesocial .maskdesc a.readon {
	background:
		url('arrow-ri.gif')
		no-repeat right 7px;
	bottom: 2px;
	color: #ccc;
	display: block;
	font-size: 100%;
	font-weight: bold;
	padding: 0 8px 0 0;
	position: absolute;
	right: 20px;
}

.moduletablesocial .maskdesc a.readon:hover,.moduletablesocial .maskdesc a.readon:active,.moduletablesocial .maskdesc a.readon:focus
	{
	background:
		url('arrow-ri-hover.gif')
		no-repeat right 7px;
	color: #fff;
}

.moduletablesocial .ja-slide-buttons {
	z-index: 900;
}

.moduletablesocial .ja-slide-buttons span {
	background: #000;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	margin-right: 5px;
	padding: 2px 5px;
}

.moduletablesocial #ja-slideshow .ja-slidewrap {
	margin: 0;
	padding: 0;
	position: relative;
}

.moduletablesocial #ja-slideshow .ja-slide-mask {
	background: #ccc;
	bottom: 10px;
	display: none;
	height: 70px;
	position: absolute;
	right: 10px;
	width: 210px;
	z-index: 99;
}

.moduletablesocial #ja-slideshow .ja-slide-thumbs-wrap {
	background: #ccc;
	bottom: 10px;
	position: absolute;
	right: 10px;
	z-index: 100;
}

.moduletablesocial #ja-slideshow .ja-slide-buttons {
	bottom: 10px;
	display: block;
	left: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 101;
}

.moduletablesocial #ja-slideshow .ja-slide-thumb img {
	background: #CCCCCC;
	border: 1px solid #fff;
	margin: 4px;
}

.moduletablesocial #ja-slideshow .ja-slide-item img {
	border: none;
	padding: 0;
}

.moduletablesocial #ja-slideshow .maskdesc {
	background: none;
}

.moduletablesocial #ja-slideshow .maskdesc .ja-slide-desc {
	color: #fff;
	font-size: 100%;
	padding: 20px 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 230px;
}

.moduletablesocial #ja-slideshow .maskdesc .ja-slide-desc h3 {
	color: #ccc;
	text-transform: uppercase;
}

.moduletablesocial .ja-vertical_right {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.moduletablesocial .ja-vertical_left {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 100;
}

.moduletablesocial .ja-vertical_right .active {
	background:
		url('arrow-bg.png')
		no-repeat center left;
}

.moduletablesocial .ja-vertical_left .active {
	background:
		url('arrow-bg.png')
		no-repeat center right;
}

.moduletablesocial .ja-slide-right {
	margin-left: auto;
	right: 0;
	top: 0;
}

.moduletablesocial .ja-slide-thumbs,.moduletablesocial .ja-slide-thumbs-mask,.moduletablesocial .ja-slide-thumbs-handles {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 5000px;
}

.moduletablesocial .ja-slide-descs {
	display: none;
}

.moduletablesocial .ja-slide-thumb,.moduletablesocial .ja-slide-thumbs-handles span {
	cursor: pointer;
	display: block;
	float: left;
	margin: 0;
}

.moduletablesocial .ja-vertical_right .ja-slide-thumb,.moduletablesocial .ja-vertical_right .ja-slide-thumbs-handles span
	{
	float: none !important;
}

.moduletablesocial .ja-vertical_left .ja-slide-thumb,.moduletablesocial .ja-vertical_left .ja-slide-thumbs-handles span
	{
	float: none !important;
}

.moduletablesocial .ja-slide-thumbs-wrap .active .ja-slide-thumb-inner {
	background:
		url('grad-bg.gif')
		repeat-x top left #57212A;
}

.moduletablesocial .ja-slide-thumbs-wrap .active .ja-slide-thumb-inner h3 {
	color: #fff !important;
}

.moduletablesocial .ja-slide-thumbs-mask-left,.moduletablesocial .ja-slide-thumbs-mask-right,.moduletablesocial .ja-slide-thumbs-mask-center
	{
	float: left;
}

.moduletablesocial .ja-vertical_right .ja-slide-thumbs-mask-left,.moduletablesocial .ja-vertical_right .ja-slide-thumbs-mask-right,.moduletablesocial .ja-vertical_right .ja-slide-thumbs-mask-center
	{
	display: block;
	float: none;
}

.moduletablesocial .ja-vertical_left .ja-slide-thumbs-mask-left,.moduletablesocial .ja-vertical_left .ja-slide-thumbs-mask-right,.moduletablesocial .ja-vertical_left .ja-slide-thumbs-mask-center
	{
	display: block;
	float: none;
}

.moduletablesocial .ja-slide-thumb-inner {
	background: #000;
	border-top: 1px solid #191A1B;
	color: #757575;
	height: 100%;
	margin-left: 19px;
	padding: 0 15px;
}

.moduletablesocial .ja-vertical_left .ja-slide-thumb-inner {
	margin-left: 0px;
	margin-right: 19px;
}

.moduletablesocial .ja-slide-thumb-inner img {
	background: #000;
	border: 1px solid #1C1C1C;
	margin: 15px 5px 0 0;
	padding: 3px;
}

.moduletablesocial .ja-slide-thumb-inner h3 {
	font-size: 11px;
	margin: 0px !important;
	padding: 15px 0 0 !important;
}

.moduletablesocial .active .ja-slide-thumb-inner {
	border: none;
	color: #fff;
}

.moduletablesocial .active .ja-slide-thumb-inner img {
	background: #57212A;
	border: 1px solid #67373F;
}

.moduletablesocial .ja-slide-thumbs-mask-left,.moduletablesocial .ja-slide-thumbs-mask-right,.moduletablesocial .ja-slide-thumbs-mask-center
	{
	float: left;
}

.moduletablesocial .ja-slide-thumbs-mask-left,.moduletablesocial .ja-slide-thumbs-mask-right {
	background: #000;
}