#ja-wrapper {
	background:#000 url(../images/bg.jpg) no-repeat top center;
}

a {
	color: #aa6919;
}

h1.logo a {
	background-image:url(../images/logo.png);
}

#ja-container {
	background: url(../images/content-bg.gif) repeat-x bottom;
}

#ja-container .wrap-inner1 {
	background:url(../images/content-art.jpg) no-repeat bottom center;
	padding-bottom: 180px;
}

#ja-container .main {
	background: #dcdcdc;
}

#ja-mainnav .main-inner2 {
	background: #030303;
}

#ja-container ul.menu li {
	background: url(../images/menu-sep.png) no-repeat bottom left;
}

#ja-container ul.menu li a {
	color: #6d6d6d;
}

#ja-container ul.menu li a:hover,
#ja-container ul.menu li a:focus,
#ja-container ul.menu li a:active,
#ja-container ul.menu li.active a {
	background:url(../images/grad.png) no-repeat right bottom;
	color: #aa6919;
}

/* JA Tabs ---*/

.events .ja-tabs-title-right ul.ja-tabs-title li {
	background: url(../images/menu-sep.png) no-repeat bottom left;
}

.events .ja-tabs-title-right ul.ja-tabs-title li h3 {
	color: #6D6D6D;
	font-family:'Neuton';
}

.events .ja-tabs-title-right ul li.active h3,
.events .ja-tabs-title-right ul li.firstactive h3,
.events .ja-tabs-title-right ul li.lastactive h3 {
	background:url(../images/grad.png) no-repeat right bottom;
	color: #aa6919;
}

/* Modules */
.ja-col div.ja-moduletable, .ja-col div.moduletable {
	color: #6d6d6d;
}

#ja-right a {
	color: #aa6919;
}

#ja-right a:hover, #ja-right a:focus, #ja-right a:active {
	color: #6d6d6d;
}

div.ja-moduletable h3, div.moduletable h3 {
	color: #6d6d6d;
	text-shadow:none;
}

.ja-col div.ja-moduletable, .ja-col div.moduletable {
	background:url(../images/dot-sep.png) repeat-x left bottom;
}

.ja-col div.moduletable_menu {
	background:none;
}

div.ja-moduletable.search .button {
	background: #aa6919;
}

.ja-moduletable ul li, .ja-module ul li {
	background:url(../images/bullet.gif) no-repeat left center;
}

/* Article info */
div.ja-before-content {
	background: url(../images/afc-bg.gif) repeat-y right top;
}

div.ja-before-content .ja-before-inner {
	background: #fae5cb;
	border: 1px solid #efc38e;
}

.ja-before-content .articleCreated {
	background: url(../images/small-date-bg.png) no-repeat right center;
}

.blog-featured dl.article-info .author {
	color:#edd0d0;
}

/* Button */
.button {
	background:url(../images/button-corner-small.png) no-repeat left top;
}

.button:hover, .button:active, .button:focus {
	background-image:url(../images/button-corner-small-hover.png);
}

/* Twitter */
div.ja-twwitter-desc {
	background:#fff;
}

span.ja-twitter-bubble-arrow {
	background:url(../images/twitter-bubble-arrow.png) no-repeat left top;
}

/* Pagination */
.pagination ul {
	background: #fae5cb;
}
.pagination ul li span, .pagination ul li strong {
	background-color:#fae5cb;
	border-left: 1px solid #fff9f9;
}

.pagination ul li span.pagenav, .pagination ul li a.pagenav  {
	background-color:#fff;
}

.pagination ul li.pagination-prev span,
.pagination ul li.pagination-prev strong,
.pagination ul li.pagination-next span,
.pagination ul li.pagination-next strong {
	background-color: #aa6919;
	border-left-color: #aa6919;
}

#ja-mainnav .main {
	background: url(../images/mainnav-bg.png) no-repeat right top;
}

#ja-botsl2, #ja-botsl3 {
	background:none;
}

#ja-navhelper {
	background: none;
	color:#adadad;
}

#ja-navhelper a {
	color:#adadad;
}

#ja-navhelper .main {
	border: 1px solid #222;
	border-left:0;
	border-right:0;
}

#ja-botsl2 div.ja-moduletable h3, #ja-botsl3 div.ja-moduletable h3 {
	background:url(../images/botsl2-title.gif) no-repeat left bottom;
	color: #fff;
}

#ja-botsl2 div.ja-moduletable h3 span, #ja-botsl3 div.ja-moduletable h3 span {
	background: #aa6919;
}

#ja-botsl2 div.moduletable_botslright h3,
#ja-botsl3 div.moduletable_botslright h3,
#ja-botsl2 div.moduletable_botslright h3 span,
#ja-botsl3 div.moduletable_botslright h3 span {
	background:none;
}

#ja-botsl2 div.ja-moduletable ul li, #ja-botsl3 div.ja-moduletable ul li {
	border-color: #2a2a2a;
}

#ja-footer {
	background:none;
	color:#adadad;
}

#ja-footer a {
	color:#adadad;
}

/* Content slider ---*/
#ja-content-mass-top .moduletable_contentslide {
	background:url(../images/contentslide-bg.gif) repeat left top;
}

.ja-contentslider-right img { background: url(../images/ms-bg.gif) no-repeat left top; }

.ja-contentslider-right img:hover { background: url(../images/ms-bg.gif) no-repeat left bottom; }

/* JA Slideshow ---*/
.maskDesc {
	background:url(../images/maskdesc.png) no-repeat right top;
}

.ja-slide-thumb, .ja-slide-thumbs-handles span {
	background:url(../images/circle-bg.png) no-repeat scroll center center transparent;
}

.ja-slide-thumb.active, .ja-slide-thumbs-handles span.active {
	background-image:url(../images/circle-active.png);
}

/* JA typo */

a.ja-typo-btn-big span {
	background-image:url(../images/button-corner-big-hover.png);
}
a.ja-typo-btn-big:hover span, a.ja-typo-btn-big:active span, a.ja-typo-btn-big:focus span {
	background-image:url(../images/button-corner-big-hover.png);
}

/* K2 component ---*/

/* Category list */
div.catItemTools {
	background:url(../images/article-info.png) no-repeat scroll left top transparent;
}

div.catItemTools a {
	color:#edd0d0;
}

/* View detail */
div.itemTools {
	background:url(../images/article-info.png) no-repeat scroll left top transparent;
}

div.itemTools .itemAuthor a {
	color:#edd0d0;
}

div.itemIntroText {
	color: #aa6919;
}

div.itemAuthorLatest h3 span,
div.itemRelated h3 span {
	color: #aa6919;
	border-color: #efc38e;
}

div.itemAuthorLatest li a:hover,
div.itemAuthorLatest li a:focus,
div.itemAuthorLatest li a:active {
	color: #000;
}

div.itemAuthorBlock {
	border: 1px solid #f0dabf;
	background:#fffaf3;
}

div.itemAuthorBlock img.itemAuthorAvatar {
	border: 1px solid #f0dabf;
}

div.itemTagsBlock ul.itemTags li {
	border: 1px solid #f0dabf;
	background:#fae5cb;
}

/* User block */
div.userBlock { background: #f0f0f0; border: 1px solid #ddd; }

div.userBlock img { border: 1px solid #ddd; }

div.userItemTools { background: url(../images/article-info.png) no-repeat left top; }

.userItemCategory { color: #fff; }

.userItemCategory a { color: #fff; }

div.userItemTagsBlock ul.userItemTags li {
	border: 1px solid #f0dabf;
	background:#fae5cb;
}

div.userItemReadMore a {
	background:url(../images/button-corner-small.png) no-repeat top left;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	text-decoration: none;
}

div.k2UsersBlock ul li ul.ubUserItems li {
	background-image: url(../images/bullet.gif);
}

/* Tags */
div.catItemTagsBlock ul.catItemTags li {
	border: 1px solid #f0dabf;
	background:#fae5cb;
}

div.k2TagCloudBlock a:hover {
	background: #fae3c7;
}

/* K2 Tools */
table.calendar tr td {
	border: 1px solid #eee;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

td.calendarNavMonthPrev a,
td.calendarNavMonthNext a {
	color: #666 !important;
}

table.calendar tr td.calendarDateLinked { background: #fff; }

table.calendar tr td.calendarToday { background: #aa6919; color: #fff; text-shadow: none; }
table.calendar tr td.calendarTodayLinked { background: #aa6919; color: #fff; padding: 0; }

/* Mod login */
div.k2LoginBlock fieldset.input input.button {
	background: #aa6919;
	border: 2px solid #734309;
	font-size: 100%;
	text-shadow: 0 1px 1px #000;
}

div.k2LoginBlock ul li { background-image: url(../images/bullet.gif); }

div.k2LoginBlock ul li a { color: #aa6919 !important; }

div.k2LoginBlock ul li a:hover,
div.k2LoginBlock ul li a:focus,
div.k2LoginBlock ul li a:active { color: #030303 !important; }

/* Mod user */
div.k2UsersBlock ul li a.ubUserAvatar img { border: 1px solid #ddd; }

div.k2UsersBlock ul li.lastItem { color: #999; }

div.k2UsersBlock ul li a.ubUserName { color: #333 !important; }

div.k2UsersBlock ul li h3 span { border-bottom: 2px solid #999; }

div.k2UsersBlock ul li ul.ubUserItems li a { color: #aa6919 !important; }