/*
# ------------------------------------------------------------------------
# JA Events template
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# bound by Proprietary License of JoomlArt. For details on licensing, 
# Please Read Terms of Use at http://www.joomlart.com/terms_of_use.html.
# Author: JoomlArt.com
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/
/* COMMON STYLE
--------------------------------------------------------- */
/* Normal links ---*/

/* FORM
--------------------------------------------------------- */
.button {
	background: url(../images/rtl/button-corner-small.png) no-repeat right top;
}

.button:hover,
.button:active,
.button:focus {
	background-image: url(../images/rtl/button-corner-small-hover.png);
}
/* JOOMLA STYLE
--------------------------------------------------------- */
/* Layout Deco ---*/
/* Meta ---*/
div.ja-before-content {
	background: url(../images/rtl/afc-bg.gif) repeat-y left top;
}

.ja-before-content .articleCreated {
	background: url(../images/rtl/small-date-bg.png) no-repeat left center;
}

/* Button small ---*/
.ja-social-toolbox-small .articleCreated { background: url(../images/rtl/small-date-bg.png) no-repeat left center; }

/*Inline images ---*/
/* Tables ---*/
/* Poll */

/* Pagination ---*/
.pagination ul li.pagination-prev span,
.pagination ul li.pagination-prev strong {
	background-color: #AA6919;
	border-right: 1px solid #AA6919;
}

.pagination ul li.pagination-next strong,
.pagination ul li.pagination-next span {
	background-color: #AA6919;
	border-right: 1px solid #AA6919;
}

.pagination ul li span,
.pagination ul li strong {
	border-right: 1px solid #fff;
}

/* MODULE STYLES
--------------------------------------------------------- */
/* Module style ---*/
.ja-col div.ja-moduletable,
.ja-col div.moduletable {
	background: url(../images/rtl/mod-bg.gif) no-repeat left bottom;
}

/* Advertisement ---*/

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#ja-wrapper { background: #000 url(../images/rtl/bg.jpg) no-repeat top center; }

#ja-container .wrap-inner1 {
	background:url(../images/rtl/content-art.jpg) no-repeat bottom center;
}

/* Override for Typography page ---*/
/* HEADER
--------------------------------------------------------- */
/* Logo Image ---*/

/* CONTENT
--------------------------------------------------------- */
#ja-container .wrap-inner1 {
	background:url(../images/rtl/content-art.jpg) no-repeat bottom center;
}

/* NAVHELPER
--------------------------------------------------------- */
#ja-navhelper .top a {
	color: #fff;
}

/* NAVIGATION
--------------------------------------------------------- */
/* Main Nav ---*/
#ja-mainnav .main {
	background: url(../images/rtl/mainnav-bg.gif) no-repeat left top;
}

#ja-right { background: url(../images/rtl/right-bg.gif) repeat-y right top #ededed; }

/* Default Joomla! Menu ---*/
#ja-container ul.menu li {
	background: url(../images/rtl/nav-sep.gif) no-repeat left bottom;
}

#ja-container ul.menu li a:hover,
#ja-container ul.menu li a:focus,
#ja-container ul.menu li a:active,
#ja-container ul.menu li.active a {
	background: url(../images/rtl/grad.png) no-repeat left bottom;
}

/* SPOTLIGHT
--------------------------------------------------------- */
/* Top spotlight ---*/

/* Bot spotlight ---*/
#ja-botsl2 div.ja-moduletable h3,
#ja-botsl3 div.ja-moduletable h3 {
	background: url(../images/rtl/botsl2-title.gif) no-repeat right bottom;
}

#ja-botsl2 div.moduletable_botslright h3,
#ja-botsl3 div.moduletable_botslright h3 {
	background: none;
}

/* SCROLL LEFT
-----------------------------------------*/
/* Horizontal ---*/
/* horizontal  */
.maskDesc {
	background: url(../images/rtl/maskdesc.png) no-repeat left top;
}

/* K2
-----------------------------------------*/
/* Category list */
div.catItemTools { background: url(../images/rtl/article-info.png) no-repeat right top; }
/* View detail */
div.itemTools { background: url(../images/rtl/article-info.png) no-repeat right top; }
/* User block */
div.userItemTools { background: url(../images/rtl/article-info.png) no-repeat right top; }
div.userItemReadMore a {
	background: url(../images/rtl/curl-l.gif) no-repeat right top #333;
}

div.catItemReadMore a {
	background-image: url(../images/rtl/button-corner-small.png);
}

/* JA Twitter ---*/
span.ja-twitter-bubble-arrow { background: url("../images/rtl/twitter-bubble-arrow.png") no-repeat right top; }

/* MOD_CONTENTSLIDE
----------------------------------------------------- */
.ja-contentslider-right img { background: url(../images/rtl/sp-bg.png) no-repeat right top; }

.ja-contentslider-right img:hover { background: url(../images/rtl/sp-bg.png) no-repeat right bottom; }

/* PLUGIN TAB
----------------------------------------------------- */
/* JA Tabs left*/
/* JA Tabs right*/
.events .ja-tabs-title-right ul.ja-tabs-title li {
	background: url(../images/rtl/nav-sep.gif) no-repeat left bottom;
}

.events .ja-tabs-title-right ul li.active h3,
.events .ja-tabs-title-right ul li.firstactive h3,
.events .ja-tabs-title-right ul li.lastactive h3 {
	background: url(../images/rtl/grad.png) no-repeat left bottom;
}

/* MEGA
----------------------------------------------------- */
.ja-megamenu .group-title { 
	background: url(../images/rtl/group-title.gif) no-repeat right bottom;
}